<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <!--<b>Beta Version</b>-->
    </div>
    <strong>Copyright &copy; 2018 <a href="#">PT. MITRA PRIMA UTAMA</a>.</strong>
</footer>