<div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-warning"></i> Pemberitahuan!</h4>
    Diharapkan untuk ppat/ppats melengkapi berkas upload setelah melakukan pendaftaran. Terima Kasih.
</div>