<header class="main-header">
    <!-- Logo -->
    <a href="<?= $this->basePath();?>" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="<?= $this->basePath()."/".$data_pemda->s_logo ?>" alt="" style="height:30px;" title="E-BPHTB KABUPATEN BLORA"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            
            <img src="<?= $this->basePath()."/".$data_pemda->s_logo ?>" alt="" style="height:30px;" title="E-BPHTB KABUPATEN BLORA">
            
            &nbsp;<b>E</b>-BPHTB</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs"><i class="fa fa-user"></i> &nbsp;<?= strtoupper(@$username)?></span>
                    </a>
                </li>
                <li class="dropdown messages-menu  bg-red">
                    <a href="<?= $this->url('sign_in') ?>/logout">
                        <i class="fa fa-sign-out"></i> &nbsp;<span class="">Keluar</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>