<?php
$cetak = $data_get['cetak'];
if ($cetak == 1) {

    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
//$mpdf = new mPDF();
    $mpdf = new mPDF('utf-8', 'Legal-L', 0, '', 10, 10, 5, 1, 1, 1, '');

    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}



</style>
</head>
<body>
<htmlpageheader name="MyHeader1">

</htmlpageheader>

<htmlpageheader name="MyHeader2">

</htmlpageheader>

<htmlpagefooter name="MyFooter1">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>

<htmlpagefooter name="MyFooter2">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>
';

    $html .= '<div>';
    $nik = '';
} else {
    header("Content-type: application/vnd-ms-excel");

    header("Content-Disposition: attachment; filename=cetakdatasertifikatbpn".$data_get['tgl_akta1']."-".$data_get['tgl_akta2'].".xls");

    $html = '';

    $nik = '\'';
}

if ($cetak == 1) {
    $linklokal = "http://localhost/".$this->basePath()."/";
    $logo = '<img src="'. $_SERVER["DOCUMENT_ROOT"].$this->basePath().'/'.$ar_pemda->s_logo . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>';
}else{
    $linklokal = "http://".$_SERVER['HTTP_HOST']."/".$this->basePath()."/";
    $logo = '';
}

$html .= '


    '.$logo.'
                   
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
 
<td colspan="18"><center>
     <b>PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . ', ' . strtoupper($ar_pemda->s_namaprov) . '</b>
                
                <br>
                
                    <b>' . strtoupper($ar_pemda->s_namainstansi) . ' (' . strtoupper($ar_pemda->s_namasingkatinstansi) . ')</b>
                
                <br>
                
                    <b style="font-size: 12px">' . strtoupper($ar_pemda->s_alamatinstansi) . ' Telp/Fax ' . $ar_pemda->s_notelinstansi . ', Kode Pos ' . $ar_pemda->s_kodepos . '</b>
               

</center></td>
</tr>
  <tr>
 
<td colspan="18"><center><br><br><br><br><h3>DAFTAR DATA SERTIFIKAT BPN</h3></center></td>
</tr>
  
</table>


Tanggal Transaksi : ' . $data_get['tgl_akta1'] . ' s/d ' . $data_get['tgl_akta2'] . '<br><br>

    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
    <thead>
        
        
        <tr >
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>TGL TRANSAKSI</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>AKTAID</center>                    
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>TGL AKTA</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>NOP</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>NIB</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>NIK</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>NPWP</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>NAMA WP</b></center>                      
            </th>
            
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>ALAMAT OP</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>KELURAHAN OP</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>KECAMATAN OP</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>KOTA OP</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>LUASTANAH OP</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>LUASBANGUNAN OP</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>PPAT</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>NO SERTIFIKAT</b></center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center><b>NO AKTA</b></center>                      
            </th>
        </tr>
        
    </thead>    
    <tbody>
        ';

$totalPembayaran = 0;
$counter = 1;
foreach ($cek_data as $k => $v) {
    
    $html .= '
            
            <tr >
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    <center>' . $counter . '</center>                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top;">
                    ' . date('d-m-Y',strtotime($v['t_tgltransaksi'])) . '
                                       
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                    <span >' . $v['aktaid'] . ' </span>                       
                                          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top;">
                    ' . date('d-m-Y',strtotime($v['tgl_akta'])) . '
                                       
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top;">
                    <center>' .$nik. $v['nop'] . '</center>                        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top;">
                   <center>' .$nik. $v['nib']. '</center>                      
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top;">
                   <center> ' .$nik. $v['nik'] . ' </center>                      
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top;">
                    <center>' . $nik.$v['npwp'] . '</center>               
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top;">
                    ' . $v['nama_wp'] . '                
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; " align="top">
                    '.$v['alamat_op'].'          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; " align="top">
                    '.$v['kelurahan_op'].'          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; " >
                    '.$v['kecamatan_op'].'
                </td>
                
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; " >
                    '.$v['kota_op'].'        
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; " >
                    '.$v['luastanah_op'].'    
                </td>
               <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; " align="top">
                    '.$v['luasbangunan_op'].'          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; " align="top">
                    '.$v['ppat'].'          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; " align="top">
                    '.$v['no_sertipikat'].'          
                </td>
                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000; vertical-align:top; " align="top">
                    '.$v['no_akta'].'          
                </td>
            </tr>        
            ';


    $counter++;
}


$html .= '</tbody></table>';

if ($cetak == 1) {
    $html .= '</div>';
    $html .= '</body></html>';
    $mpdf->WriteHTML($html);
    $mpdf->Output("cetakdatasertifikatbpn".$data_get['tgl_akta1']."-".$data_get['tgl_akta2'].".pdf", "I");
    exit();
} else {

    echo $html;
}
