<div class="content-wrapper">
    <section class="content">

        <form action="#" method="post" target="_blank">
            <div class="col-md-12">
                <div class="box box-primary" style="border: 1px solid #0073b7;">
                    <div class="box-header with-border" style="
                         background: #0073b7 !important;
                         background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7), color-stop(1, #0089db)) !important;
                         background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important;
                         background: -moz-linear-gradient(center bottom, #22640E 0, #00a65a 100%) !important;
                         background: -o-linear-gradient(#0089db, #0073b7) !important;
                         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db', endColorstr='#0073b7', GradientType=0) !important;
                         color: #fff;
                         ">
                        <center>
                            <h3 class="box-title"><span style="font-size: 28px;"><b>FORM CEK SERTIFIKAT BPN</b></span></h3>
                        </center>
                        <div class="pull-right">



                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">TGL TRANSAKSI</label>
                            <div class="col-sm-2">

                                <input name="t_tglsertifikat" id="t_tglsertifikat" class="form-control" value="<?= date('d/m/Y'); ?>" type="text">
                            </div>


                        </div>


                        <div class="col-sm-12">
                            <div id="tombolsimpan">
                                &nbsp;&nbsp;&nbsp;<button title="cari" onclick="cekdatapembayaran()" class="btn btn-sm btn-info pull-right" type="button"><span class="fa fa-check-circle"></span> LIHAT DATA</button>
                                <!--<button type="submit"  class="btn btn-sm btn-success " >CETAK</button>&nbsp;&nbsp;&nbsp; -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>

        <div class="col-md-12">
            <div class="box box-primary" style="border: 1px solid #0073b7;">
                <div class="box-header with-border" style="
                     background: #0073b7 !important;
                     background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7), color-stop(1, #0089db)) !important;
                     background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important;
                     background: -moz-linear-gradient(center bottom, #22640E 0, #00a65a 100%) !important;
                     background: -o-linear-gradient(#0089db, #0073b7) !important;
                     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db', endColorstr='#0073b7', GradientType=0) !important;
                     color: #fff;
                     ">
                    <center>
                        <h3 class="box-title"><span style="font-size: 28px;"><b>HASIL DATA</b></span></h3>
                    </center>
                    <div class="pull-right">



                    </div>
                </div>
                <div class="box-body">


                    <div class="col-sm-12" style="overflow-x: scroll;">

                        <div id="hasilceksimpandata"></div>

                        <div id="hasilcektransaksi"></div>
                        <div id="tombolsimpansertifikat"></div>
                        <table border="1" style="border-spacing: 0px;">
                            <thead>
                                <tr id="table_head" style="background-color: #0073b7 !important; color: white; ">

                                </tr>
                            </thead>
                            <tbody id="table_content">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    //======================= buat loading

    var recReq = getXmlHttpRequestObject();
    var _documentid = 'hasilcektransaksi';

    //-- membentuk instant XMLHttpRequest ---

    function getXmlHttpRequestObject() {
        if (window.XMLHttpRequest) {
            return new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            return new ActiveXObject("Microsoft.XMLHTTP");
        } else {
            alert('Status: Cound not create XmlHttpRequest Object. Consider upgrading your browser.');
        }
    }

    //======================= end buat loading

    $("#t_tglsertifikat").datepicker({
        format: 'dd/mm/yyyy',
        language: 'id'
    });



    function cekdatapembayaran() {
        document.getElementById(_documentid).innerHTML = '<center><img src="<?= $this->basePath(); ?>/public/tablebos/img/loading77.gif"><center>';
        if (recReq.readyState == 4 || recReq.readyState == 0) {
            /*$.post('<?= $this->url() ?>/cekpembayaran', {t_tglsertifikat: $('#t_tglsertifikat').val(), token: $('#token').val()}, function (data) {
             //$("#hasillihatda").html(data);
             //var aa = JSON.parse(data);
             $("#hasilcektransaksi").html(data.result);
             });*/
            //$('#hasilcektransaksi').html("");
            $('#table_head').html("");
            $('#table_content').html("");



            $.ajax({
                url: '<?= $this->url() ?>/ceksertifikat',
                dataType: 'json',
                crossDomain: true,
                type: 'post',

                //dataType: "jsonp",
                contentType: 'application/json',
                data: JSON.stringify({
                    "t_tglsertifikat": $('#t_tglsertifikat').val()
                }),
                processData: false,
                success: function(data, textStatus, jQxhr) {
                    //$('#hasilcektransaksi').html( JSON.stringify( data ) );
                    var aa = JSON.parse(JSON.stringify(data));
                    $('#hasilcektransaksi').html(aa.responsmessage);

                    if (aa.responsecode == '01') {
                        $('#tombolsimpansertifikat').html('<button title="cari" onclick="simpandatasertifikat()" class="btn btn-sm btn-info pull-right" type="button"><span class="fa fa-check-circle"></span> SIMPAN DATA</button>');
                        // Get Table headers and print
                        $('#table_head').append('<td style="padding: 10px; padding-right: 10px; padding-left: 10px;"><center><b>NO</b></center></td>');
                        for (var k = 0; k < Object.keys(aa.result[0]).length; k++) {
                            $('#table_head').append('<td style="padding: 10px; padding-right: 10px; padding-left: 10px;"><center><b>' + Object.keys(aa.result[0])[k] + '</b></center></td>');
                        }

                        // Get table body and print
                        var k = 1;
                        for (var i = 0; i < Object.keys(aa.result).length; i++) {
                            $('#table_content').append('<tr>');
                            $('#table_content').append('<td>' + k + '</td>');
                            for (var j = 0; j < Object.keys(aa.result[0]).length; j++) {


                                $('#table_content').append('<td>' + aa.result[i][Object.keys(aa.result[0])[j]] + '</td>');


                            }
                            k++;
                            $('#table_content').append('</tr>');
                        }

                    }

                },
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    }


    function simpandatasertifikat() {
        document.getElementById("hasilceksimpandata").innerHTML = '<center><img src="<?= $this->basePath(); ?>/public/tablebos/img/loading77.gif"><center>';
        if (recReq.readyState == 4 || recReq.readyState == 0) {
            /*$.post('<?= $this->url() ?>/cekpembayaran', {t_tglsertifikat: $('#t_tglsertifikat').val(), token: $('#token').val()}, function (data) {
             //$("#hasillihatda").html(data);
             //var aa = JSON.parse(data);
             $("#hasilcektransaksi").html(data.result);
             });*/
            //$('#hasilcektransaksi').html("");
            //$('#table_head').html("");
            //$('#table_content').html(""); 



            $.ajax({
                url: '<?= $this->url() ?>/simpandatasertifikat',
                dataType: 'json',
                crossDomain: true,
                type: 'post',

                //dataType: "jsonp",
                contentType: 'application/json',
                data: JSON.stringify({
                    "t_tglsertifikat": $('#t_tglsertifikat').val()
                }),
                processData: false,
                success: function(data, textStatus, jQxhr) {
                    //$('#hasilcektransaksi').html( JSON.stringify( data ) );
                    var aa = JSON.parse(JSON.stringify(data));
                    $('#hasilceksimpandata').html(aa.responsmessage);

                    /*if(aa.responsecode == '01'){
                        $('#tombolsimpan').html('<button title="cari" onclick="simpandatasertifikat()" class="btn btn-sm btn-info pull-right" type="button"><span class="fa fa-check-circle"></span> SIMPAN DATA</button>');
                        // Get Table headers and print
                        $('#table_head').append('<td style="padding: 10px; padding-right: 10px; padding-left: 10px;"><center><b>NO</b></center></td>');
                        for (var k = 0; k < Object.keys(aa.result[0]).length; k++) {
                            $('#table_head').append('<td style="padding: 10px; padding-right: 10px; padding-left: 10px;"><center><b>' + Object.keys(aa.result[0])[k] + '</b></center></td>');
                        }

                        // Get table body and print
                        var k = 1;
                        for (var i = 0; i < Object.keys(aa.result).length; i++) {
                            $('#table_content').append('<tr>');
                            $('#table_content').append('<td>' + k + '</td>');
                            for (var j = 0; j < Object.keys(aa.result[0]).length; j++) {


                                $('#table_content').append('<td>' + aa.result[i][Object.keys(aa.result[0])[j]] + '</td>');


                            }
                            k++;
                            $('#table_content').append('</tr>');
                        }
                    
                    }*/

                },
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    }

    function cetakdatapembayaran() {
        window.open('<?= $this->url() ?>/cetakdatapembayaran?t_tglsertifikat=' + $("#t_tglsertifikat").val() + "&token=" + $("#token").val());
    }
</script>