<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<style>
    .datepicker {
        z-index: 1051 !important;
    }
</style>
<div class="content-wrapper">
    <section class="content">
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header with-border bg-blue-gradient">

                <center>
                    <h3 class="box-title">PELAPORAN NOTARIS / PPAT</h3>
                </center>
                <div class="pull-right">

                    <a href="#" class="btn btn-success btn-sm btn-flat" onclick="openCetakLapBulanan()"><span class="glyphicon glyphicon-print"></span> &nbsp;Cetak Pelaporan Notaris</a>
                </div>
            </div>
            <div class="box-body">
                <table id="examplepelaporan" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                    <thead>
                        <tr class="bg-blue" style="font-size:10pt; font: bold;">
                            <th width="20">
                                <center>No</center>
                            </th>
                            <th width="20">
                                <center>No Daftar</center>
                            </th>
                            <th width="70">
                                <center>Jenis<br>Transaksi</center>
                            </th>
                            <th width="40">
                                <center>Tgl<br>Daftar</center>
                            </th>
                            <th width="120">
                                <center>Nama<br>Wajib Pajak</center>
                            </th>
                            <th width="80">
                                <center>Jml Bayar</center>
                            </th>
                            <th width="20">
                                <center>Bulan Selesai Bayar</center>
                            </th>
                            <th width="50">
                                <center>Nama<br>Notaris</center>
                            </th>
                            <th width="30">
                                <center>No Ajb</center>
                            </th>
                            <th width="50">
                                <center>Tgl<br>Ajb Baru</center>
                            </th>
                            <th>
                                <center>Laporkan</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tfoot>
                </table>

            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="myModalLapBulanan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="panel panel-default">

            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK LAPORAN BULANAN PPAT</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="periode_spt" name="periode_spt" value="<?= date('Y') ?>" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Bulan <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <select id="bulanpelaporan" class="form-control" name="bulanpelaporan">
                                <option value="01">Januari</option>
                                <option value="02">Februari</option>
                                <option value="03">Maret</option>
                                <option value="04">April</option>
                                <option value="05">Mei</option>
                                <option value="06">Juni</option>
                                <option value="07">Juli</option>
                                <option value="08">Agustus</option>
                                <option value="09">September</option>
                                <option value="10">Oktober</option>
                                <option value="11">Nopember</option>
                                <option value="12">Desember</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-horizontal form-group col-md-12" style="<?= $show_hide_combo_notaris ?>">
                        <label for="inputType" class="col-md-3"><b>Nama Notaris <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <?= $this->formRow($frm->get('t_idnotarisspt1')) ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="tgl_cetaklapbulanan" value="<?= date('d-m-Y') ?>" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <div style="float:left;">

                        <button class="btn btn-success" onclick="cetakLapBulananpdf();"><i class="fa fa-fw fa-file-pdf-o"></i> Cetak PDF</button>
                        <button class="btn btn-success" onclick="cetakLapBulananxls();"><i class="fa fa-fw fa-file-excel-o"></i> Cetak Excel</button>
                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupLapBulanan()">Tutup</button></span>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>

<div class="modal fade" id="myModalLaporkan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-file"></i> LAPORKAN DATA & INPUT AJB BARU</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Nomor Pendaftaran <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="hidden" id="t_iddetailsptbphtb">
                            <input type="text" id="t_kohirsptlap" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Nama WP <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="t_namawppembelilap" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>No AJB <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="t_noajbbarulap" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal AJB <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="t_tglajbbarulap" value="<?= date('d-m-Y') ?>" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <div style="float:left;">

                        <button class="btn btn-success" onclick="laporkandata();" title="Cetak File PDF"><i class="fa fa-save"></i> Laporkan</button>

                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupLaporkan()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<script type="text/javascript" language="javascript">
    var dTable;
    // #examplepelaporan adalah id pada table
    $(document).ready(function() {
        dTable = $('#examplepelaporan').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            "sAjaxSource": "<?= $this->url() ?>/dataGrid", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 10,
            "aLengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "aaSorting": [
                [0, "asc"]
            ],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            //"scrollY":        "400px",
            "scrollX": true,
            //"scrollCollapse": true,

            "oLanguage": {
                "sEmptyTable": "No incompleted albums found!", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "<center>Tidak ada data</center>",
                "sEmptyTable": "<center>Tidak ada data</center>",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "Tidak ada data",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": ">>",
                    "sPrevious": "<<"
                } //pagination
            },

            "columnDefs": [{
                    "orderable": false,
                    "targets": 0,
                    "searchable": false
                },
                {
                    "orderable": true,
                    "targets": 1,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 2,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 3,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 4,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 5,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 6,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 7,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 8,
                    "searchable": true
                },
                {
                    "orderable": true,
                    "targets": 9,
                    "searchable": true
                },
                {
                    "orderable": false,
                    "targets": 10,
                    "searchable": false
                }
            ]
        });

        //=========================== buat pencarian dibawah aktif
        $('th', dTable.table().footer()).each(function() {
            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });

            $("#tahun_cari").datepicker({
                format: 'yyyy',
                viewMode: "years",
                minViewMode: "years"
            });
            var title = $('th').eq($(this).index()).text();
            //$(this).html('<input type="text" placeholder="Search ' + title + '" />');
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nodaftar') {
                $(this).html('<center><input type="text" placeholder="No" class="pencariantable" style="width:60px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tglajbbaru') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'bulanselesai bayar') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'noajb') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'novalidasi') {
                $(this).html('<center><input type="text" placeholder="No" class="pencariantable" style="width:60px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tahun') {
                $(this).html('<center><input type="text" id="tahun_cari" placeholder="Tahun" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tgldaftar') {
                $(this).html('<center><input type="text" placeholder="tgl " id="tgl_daftar_cari" class="pencariantable" style="width:85px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namawajibpajak') {
                $(this).html('<center><input type="text" placeholder="nama" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jmlbayar') {
                $(this).html('<center><input type="text" placeholder="jml" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jenistransaksi') {
                $(this).html('<select class="pencariantable" style="width:100px;text-size:8pt;">' +
                    '<option value="">-- Pilih --</option>'
                    <?php
                    foreach ($datajenistransaksi as $row) {
                        echo '+ \'<option value="' . $row["s_idjenistransaksi"] . '">' . $row["s_namajenistransaksi"] . '</option>\'';
                    }
                    ?> +
                    '</select>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'statusvalidasi') {
                $(this).html('<center><select class="pencariantable" style="width:70px;text-size:8pt;"><option value="">Pilih</option><option value="1">Tervalidasi</option><option value="2">Tidak Lengkap</option></select></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'pembayaran') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namanotaris') {
                $(this).html('<center><select class="pencariantable" style="width:100px;text-size:8pt;"><option value="">-- Pilih --</option>'
                    <?php foreach ($datanotaris as $row_n) { ?> +
                        '<option value="<?= $row_n['s_iduser'] ?>"><?= $row_n['s_namanotaris'] ?></option>'
                    <?php }
                    ?> + '</select></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'laporkan') {
                $(this).html('');
            } else {
                $(this).html('<input type="text" placeholder="Cari ' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />'); //style="width:100px;"
            }


        });

        // Apply the search
        dTable.columns().eq(0).each(function(colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        dTable.columns().eq(0).each(function(colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');
        //=========================== end buat pencarian dibawah aktif

        $('#examplepelaporan').removeClass('display').addClass('table table-striped table-bordered');



    });
</script>



<script type="text/javascript">
    jQuery("#t_tglajbbarulap").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#periode_spt").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetaklapbulanan").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function openLaporkan(a, b, c) {
        jQuery('#myModalLaporkan').modal('show');
        $("#t_iddetailsptbphtb").val(a);
        $("#t_namawppembelilap").val(b);
        $("#t_kohirsptlap").val(c);
    }

    function tutupLaporkan() {
        jQuery('#myModalLaporkan').modal('hide');
        jQuery("#t_iddetailsptbphtb").val('');
        jQuery("#t_namawppembelilap").val('');
        jQuery("#t_kohirsptlap").val('');
        jQuery("#t_noajbbarulap").val('');
    }

    function laporkandata() {
        if ($("#t_noajbbarulap").val() == '' || $("#t_tglajbbarulap").val() == '') {
            alert('Isi Nomor dan Tanggal AJB');
        } else {
            $.post('<?= $this->url() ?>/laporkandata', {
                t_iddetailsptbphtb: $("#t_iddetailsptbphtb").val(),
                t_noajbbaru: $("#t_noajbbarulap").val(),
                t_tglajbbaru: $("#t_tglajbbarulap").val()
            }, function(data) {
                tutupLaporkan();
                $('#examplepelaporan').DataTable().ajax.reload();
            });
            $('#examplepelaporan').DataTable().ajax.reload();
        }
        $('#examplepelaporan').DataTable().ajax.reload();
    }




    function openCetakLapBulanan() {
        jQuery('#myModalLapBulanan').modal('show');
    }

    function tutupLapBulanan() {
        jQuery('#myModalLapBulanan').modal('hide');
    }



    function cetakLapBulananpdf() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbulananbphtb?periode_spt=' + $("#periode_spt").val() + "&tgl_cetaklapbulanan=" + $("#tgl_cetaklapbulanan").val() + "&bulanpelaporan=" + $("#bulanpelaporan").val() + "&t_idnotarisspt1=" + $("#t_idnotarisspt1").val() + "&cetak=1")
    }

    function cetakLapBulananxls() {
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapbulananbphtb?periode_spt=' + $("#periode_spt").val() + "&tgl_cetaklapbulanan=" + $("#tgl_cetaklapbulanan").val() + "&bulanpelaporan=" + $("#bulanpelaporan").val() + "&t_idnotarisspt1=" + $("#t_idnotarisspt1").val() + "&cetak=2")
    }
</script>