<?php
function bulan($bln)
{
    $bulan = $bln;
    switch ($bulan) {
        case 1:
            $bulan = "Januari";
            break;
        case 2:
            $bulan = "Februari";
            break;
        case 3:
            $bulan = "Maret";
            break;
        case 4:
            $bulan = "April";
            break;
        case 5:
            $bulan = "Mei";
            break;
        case 6:
            $bulan = "Juni";
            break;
        case 7:
            $bulan = "Juli";
            break;
        case 8:
            $bulan = "Agustus";
            break;
        case 9:
            $bulan = "September";
            break;
        case 10:
            $bulan = "Oktober";
            break;
        case 11:
            $bulan = "November";
            break;
        case 12:
            $bulan = "Desember";
            break;
    }
    return $bulan;
}

$tanggal_bayar = explode('-', $tgl_cetakbphtb1);
$tahun = $tanggal_bayar[2];
$bulan = $tanggal_bayar[1];
$tanggal = $tanggal_bayar[0];

$tanggal_bayar2 = explode('-', $tgl_cetakbphtb2);
$tahun2 = $tanggal_bayar2[2];
$bulan2 = $tanggal_bayar2[1];
$tanggal2 = $tanggal_bayar2[0];

if (($cetak == 1) || ($cetak == 3) || ($cetak == 5) || ($cetak == 7)) {

    // if(($cetak == 1) || ($cetak == 5) || ($cetak == 7) ){
    //     $formatkertas = 'Legal-L';
    // }else{
    //     $formatkertas = 'Legal-L';
    // }
    $formatkertas = 'Legal-L';

    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
    $mpdf = new mPDF('utf-8', '' . $formatkertas . '', 0, '', 10, 10, 5, 10, 5, 5, '');


    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}



</style>
</head>
<body>
<htmlpageheader name="MyHeader1">

</htmlpageheader>

<htmlpageheader name="MyHeader2">

</htmlpageheader>

<htmlpagefooter name="MyFooter1">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>

<htmlpagefooter name="MyFooter2">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>
';

    $html .= '<div>';
    $nik = '';
} else {
    header("Content-type: application/vnd-ms-excel");

    header("Content-Disposition: attachment; filename=cetaklapbulanan.xls");

    $html = '';

    $nik = '\'';
}

if (($cetak == 1) || ($cetak == 2) || ($cetak == 5) || ($cetak == 6) || ($cetak == 7) || ($cetak == 8)) {

    $html .= '


   <!-- <img src="http://' . $_SERVER['HTTP_HOST'] . '/' . $this->basePath() . '/' . $ar_pemda->s_logo . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    -->
                   
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
    <td colspan="15">
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
         <br>
         <b style="font-size:11pt;">' . strtoupper($ar_pemda->s_namainstansi) . ' (' . strtoupper($ar_pemda->s_namasingkatinstansi) . ')</b>
         <br>
         <b style="font-size:10pt;">' . strtoupper($ar_pemda->s_alamatinstansi) . ' Telp/Fax ' . $ar_pemda->s_notelinstansi . ', ' . $ar_pemda->s_namaibukotakabkot . ' ' . $ar_pemda->s_kodepos . '</b>
        </center>
    </td>
</tr>
<tr >
    <td colspan="15" style="border-bottom: 1px solid #000;">&nbsp;</td></tr>
<tr>
  <tr>
    <td colspan="15"><center><br><br><h3>LAPORAN BEA PEROLEHAN HAK ATAS TANAH DAN BANGUNAN (BPHTB)</h3></center></td>
    </tr>
<tr>
<td colspan="15"><center>TANGGAL ' . $tanggal . ' ' . bulan($bulan) . ' ' . $tahun . ' S/d ' . $tanggal2 . ' ' . bulan($bulan2) . ' ' . $tahun2 . '</center></td>
</tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>


    <table style="border-spacing: 0; font-size:9pt;" >
    <thead>
        <tr>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NIK Wajib Pajak</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Nama Wajib Pajak</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Alamat WP</center>                      
            </th>
             <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NOP</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Letak Objek</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NPOP</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NPOPTKP</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>BPHTB</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Luas <br>Tanah</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NJOP Tanah</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Luas <br>Bangunan</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NJOP <br>Bangunan</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Tanggal Bayar</center>                    
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Keterangan</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Notaris</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Jenis Transaksi</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Kecamatan</center>                      
            </th>
            <th style="padding: 5px; border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>Kelurahan</center>                      
            </th>
        </tr>
        
    </thead>    
    <tbody>
        ';
} else { // model 2
    $html .= '                   
<table width="1285" style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
<tr>
    <td colspan="15">
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
         <br>
         <b style="font-size:11pt;">' . strtoupper($ar_pemda->s_namainstansi) . ' (' . strtoupper($ar_pemda->s_namasingkatinstansi) . ')</b>
         <br>
         <b style="font-size:10pt;">' . strtoupper($ar_pemda->s_alamatinstansi) . ' Telp/Fax ' . $ar_pemda->s_notelinstansi . ', ' . $ar_pemda->s_namaibukotakabkot . ' ' . $ar_pemda->s_kodepos . '</b>
        </center>
    </td>
</tr>
<tr >
    <td colspan="15" style="border-bottom: 1px solid #000;">&nbsp;</td></tr>
<tr>
  <tr>
    <td colspan="15"><center><br><br><h3>DATA PAJAK BEA PEROLEHAN HAK ATAS TANAH DAN BANGUNAN (BPHTB)</h3></center></td>
    </tr>
    <tr>
     <td colspan="15"><center><h3>BULAN ' . strtoupper(bulan($bulan)) . ' TAHUN  ' . $tahun . ' </h3></center></td>
    </tr>
<tr>
<td colspan="15"><center>TANGGAL ' . $tanggal . ' ' . bulan($bulan) . ' ' . $tahun . ' S/d ' . $tanggal2 . ' ' . bulan($bulan2) . ' ' . $tahun2 . '</center></td>
</tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>


    <table style="border-spacing: 0; font-size:9pt; table-layout: fixed;" >
    <thead>
        <tr >
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;border-left: 1px solid #000; width:15px;">
                <center>No.</center>                      
            </th>

            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NIK PIHAK PENERIMA</center>                    
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NAMA PIHAK PENERIMA</center>                    
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>ALAMAT PENERIMA</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NOP</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>ALAMAT OBJEK</center>                      
            </th>
            
            
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NPOP</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NPOPTKP</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>BPHTB<br>(Rp.)</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>LUAS<br>TANAH</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NJOP<br>TANAH</center>                      
            </th>
             <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>LUAS<br>BANGUNAN</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>NJOP<br>BANGUNAN</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>TANGGAL<br>BAYAR</center>                      
            </th>
            <th style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                <center>KETERANGAN</center>                      
            </th>
            
        </tr>
        
    </thead>    
    <tbody>
        ';
}

$totalnilaitransaksi = 0;
$totalPembayaran = 0;
$NPOP = 0;
$totalnpop = 0;
$counter = 1;

$clast_rek = '';
$totalSetoran_sub = 0;
$totalsub_nilaitransaksi = 0;

foreach ($this->data_lapBphtb as $k => $v) {

    $tanggal_proses = explode('-', $v['t_tanggalpembayaran']);
    $tahun = $tanggal_proses[0];
    $bulan = $tanggal_proses[1];
    $tanggal = $tanggal_proses[2];

    if (!empty($v['p_nilaitransaksispt'])) {
        $nilaitransaksispt = $v['p_nilaitransaksispt'];
    } else {
        $nilaitransaksispt = $v["t_nilaitransaksispt"];
    }

    if (!empty($v['p_grandtotalnjop'])) {
        $grandnjop = $v['p_grandtotalnjop'];
    } else {
        $grandnjop = $v["t_grandtotalnjop"];
    }

    $aphb_kali = $v['t_tarif_pembagian_aphb_kali'];
    $aphb_bagi = $v['t_tarif_pembagian_aphb_bagi'];

    if (($cetak == 1) || ($cetak == 2)) {
        if ($clast_rek <> $v['t_tanggalpembayaran']) {

            if ($clast_rek <> '') {

                $html .= '<tr>
                            <td colspan="6" align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>JUMLAH ' . strtoupper($clast_rek_name) . '</b></td>
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;">' . number_format($totalsub_nilaitransaksi, 0, ',', '.') . '</td>
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;">' . number_format($totalSetoran_sub, 0, ',', '.') . '</td> 
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>        
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>        
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>        
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>        
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>        
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>        
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>        
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>        
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>        
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>        
                        </tr>';

                $totalsub_nilaitransaksi = 0;
                $totalSetoran_sub = 0;
            }


            $html .= '<tr>
                    <td colspan="19" align="left" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>Tanggal Setor : ' . $tanggal . "-" . $bulan . "-" . $tahun . '</b></td>
                           
                </tr>';

            $clast_rek = $v['t_tanggalpembayaran'];
            $clast_rek_name = $tanggal . "-" . $bulan . "-" . $tahun;
            //$counter = 1;
        }
    }

    //======================== cetak berdasar notaris
    if (($cetak == 5) || ($cetak == 6)) {
        if ($clast_rek <> $v['s_idnotaris']) {

            if ($clast_rek <> '') {

                $html .= '<tr>
                            <td colspan="6" align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>JUMLAH ' . strtoupper($clast_rek_name) . '</b></td>
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;">' . number_format($totalsub_nilaitransaksi, 0, ',', '.') . '</td>  
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;">' . number_format($totalSetoran_sub, 0, ',', '.') . '</td>    
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                            <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                        </tr>';
                $totalsub_nilaitransaksi = 0;
                $totalSetoran_sub = 0;
            }

            $html .= '<tr>
                    <td colspan="19" align="left" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>Nama Notaris/PPAT : ' . $v['s_namanotaris'] . '</b></td>
                           
                </tr>';

            $clast_rek = $v['s_idnotaris'];
            $clast_rek_name = $v['s_namanotaris'];
            $counter = 1;
        }
    }

    //======================== cetak berdasar notaris
    if (($cetak == 7) || ($cetak == 8)) {
        if ($clast_rek <> $v['t_idjenistransaksi']) {

            if ($clast_rek <> '') {

                $html .= '<tr>
                            <td colspan="6" align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>JUMLAH ' . strtoupper($clast_rek_name) . '</b></td>
                                <td align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;">' . number_format($totalsub_nilaitransaksi, 0, ',', '.') . '</td>  
                            <td align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>           
                            <td align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;">' . number_format($totalSetoran_sub, 0, ',', '.') . '</td>  
                            <td align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>           
                            <td align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>           
                            <td align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>           
                            <td align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>           
                            <td align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>           
                            <td align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>           
                            <td align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>           
                            <td align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>           
                            <td align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>           
                            <td align="right" style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>           
                        </tr>';
                $totalsub_nilaitransaksi = 0;
                $totalSetoran_sub = 0;
            }


            $html .= '<tr>
                    <td colspan="19" align="left" style="border-bottom: 1px solid #000; border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>Jenis Transaksi : ' . $v['s_namajenistransaksi'] . '</b></td>
                           
                </tr>';

            $clast_rek = $v['t_idjenistransaksi'];
            $clast_rek_name = $v['s_namajenistransaksi'];
            $counter = 1;
        }
    }


    if (($cetak == 1) || ($cetak == 2) || ($cetak == 5) || ($cetak == 6) || ($cetak == 7) || ($cetak == 8)) {

        if (($aphb_kali == null) || ($aphb_kali == '') || ($aphb_kali == 0) || ($aphb_bagi == null) || ($aphb_bagi == '') || ($aphb_bagi == 0)) {
            if ($grandnjop  > $nilaitransaksispt) {
                $NPOP = $grandnjop;
            } else {
                $NPOP = $nilaitransaksispt;
            }
        } else {
            if ($grandnjop  > $nilaitransaksispt) {
                $NPOP = $grandnjop;
            } else {
                $NPOP = $nilaitransaksispt;
            }
        }
        $html .= '
            
            <tr>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    <center>' . $counter . '</center>                        
                </td>
                
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['t_nikwppembeli'] . '                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['t_namawppembeli'] . '                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['t_kecamatanwppembeli'] . '<br>' . $v['t_kelurahanwppembeli'] . '<br>  ' . $v['t_alamatwppembeli'] . ' RT ' . $v['t_rtwppembeli'] . ' RW ' . $v['t_rwwppembeli'] . '                       
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['t_nopbphtbsppt'] . '                        
                </td>
                 <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" >                 
                    ' . $v['t_kecamatanop'] . '<br> ' . $v['t_kelurahanop'] . '<br> ' . $v['t_alamatop'] . ' RT ' . $v['t_rtop'] . ' RW ' . $v['t_rwop'] . '                
                                          
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">                 
                    ' . number_format($NPOP, 0, '.', '.') . '                   
                                          
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    ' . number_format($v['t_potonganspt'], 0, '.', '.') . '                 
                                          
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    ' . number_format($v['t_nilaipembayaranspt'], 0, '.', '.') . '                 
                                          
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . number_format($v['t_luastanah'], 0, '.', '.') . '                           
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . number_format($v['t_njoptanah'], 0, '.', '.') . '                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    
                    ' . number_format($v['t_luasbangunan'], 0, '.', '.') . '                          
                </td>
                 
                 <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                        ' . number_format($v['t_njopbangunan'], 0, '.', '.') . '         
                                          
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                    
                    ' . $tanggal . "-" . $bulan . "-" . $tahun . '                       
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['s_namajenistransaksi'] . '                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['s_namanotaris'] . '                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['s_namajenistransaksi'] . '                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['s_namakecamatan'] . '                        
                </td>
                <td style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['s_namakelurahan'] . '                        
                </td>
                
            </tr>        
            ';
    } else { //model 2

        // if($v['t_grandtotalnjop'] > $v['t_nilaitransaksispt']){
        //     $NPOP = $v['t_grandtotalnjop'];
        // }else{
        //     $NPOP = $v['t_nilaitransaksispt'];
        // }

        if (($aphb_kali == null) || ($aphb_kali == '') || ($aphb_kali == 0) || ($aphb_bagi == null) || ($aphb_bagi == '') || ($aphb_bagi == 0)) {
            if ($grandnjop  > $nilaitransaksispt) {
                $NPOP = $grandnjop;
            } else {
                $NPOP = $nilaitransaksispt;
            }
        } else {
            if ($grandnjop  > $nilaitransaksispt) {
                $NPOP = $grandnjop;
            } else {
                $NPOP = $nilaitransaksispt;
            }
        }

        $html .= '
            
            <tr>
                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;">
                    <center>' . $counter . '</center>                        
                </td>
                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                    
                    ' . $v['t_nikwppembeli'] . '                       
                </td>
                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; width:60px; white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">
                    
                    ' . $v['t_namawppembeli'] . '                       
                </td>
                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['t_kecamatanwppembeli'] . '<br>' . $v['t_kelurahanwppembeli'] . '<br>  ' . $v['t_alamatwppembeli'] . ' RT ' . $v['t_rtwppembeli'] . ' RW ' . $v['t_rwwppembeli'] . '                       
                </td>
                  <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['t_nopbphtbsppt'] . '                        
                </td>
                
                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" >                 
                    ' . $v['t_kecamatanop'] . '<br> ' . $v['t_kelurahanop'] . '<br> ' . $v['t_alamatop'] . ' RT ' . $v['t_rtop'] . ' RW ' . $v['t_rwop'] . '                
                </td>
                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    ' . number_format($NPOP, 0, ',', '.') . '                         
                </td>
                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    ' . number_format($v['t_potonganspt'], 0, ',', '.') . '                 
                                          
                </td>
                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    ' . number_format($v['t_nilaipembayaranspt'], 0, ',', '.') . '                                            
                </td>
                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . number_format($v['t_luastanah'], 0, ',', '.') . '                           
                </td>
                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    ' . number_format($v['t_njoptanah'], 0, ',', '.') . '                 
                                          
                </td>
                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    
                    ' . number_format($v['t_luasbangunan'], 0, ',', '.') . '                          
                </td>

                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;" align="right">
                    ' . number_format($v['t_njopbangunan'], 0, ',', '.') . '                 
                                          
                </td>               
                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $tanggal . "-" . $bulan . "-" . $tahun . '                     
                </td>
                <td style="border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:top; word-wrap: break-word;">
                    
                    ' . $v['s_namajenistransaksi'] . '                          
                </td>
                 
            </tr>        
            ';
    }
    $totalsub_nilaitransaksi += $NPOP; //$v['t_nilaitransaksispt'];
    $totalSetoran_sub += $v['t_nilaipembayaranspt'];
    $totalnpop += $NPOP;
    $totalnilaitransaksi += $NPOP; //$v['t_nilaitransaksispt'];
    $totalPembayaran += $v['t_nilaipembayaranspt'];
    $counter++;
}



if (($cetak == 1) || ($cetak == 2) || ($cetak == 5) || ($cetak == 6) || ($cetak == 7) || ($cetak == 8)) {

    if ($clast_rek <> '') {
        $html .= '<tr>
                        <td colspan="6" align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000;border-left: 1px solid #000; vertical-align:middle;"><b>JUMLAH ' . strtoupper($clast_rek_name) . '</b></td>
                        <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;">' . number_format($totalsub_nilaitransaksi, 0, ',', '.') . '</td> 
                        <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                        <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;">' . number_format($totalSetoran_sub, 0, ',', '.') . '</td>  
                        <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                        <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                        <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                        <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                        <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                        <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                        <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                        <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                        <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                        <td align="right" style="padding: 5px; border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align:middle;"></td>  
                    </tr>';
        $totalsub_nilaitransaksi = 0;
        $totalSetoran_sub = 0;
    }

    $html .= '<tr>
        <td colspan="6" style="padding: 5px; border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle; text-align: right;">
            <b>JUMLAH TOTAL</b>
        </td>
        <td style="padding: 5px; border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            ' . number_format($totalnilaitransaksi, 0, ',', '.') . '
        </td>
         <td style="padding: 5px; border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            
        </td>
        <td style="padding: 5px; border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            ' . number_format($totalPembayaran, 0, ',', '.') . '
        </td>
        <td style="padding: 5px; border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right"></td></td>
        <td style="padding: 5px; border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right"></td></td>
        <td style="padding: 5px; border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right"></td></td>
        <td style="padding: 5px; border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right"></td></td>
        <td style="padding: 5px; border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right"></td></td>
        <td style="padding: 5px; border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right"></td></td>
        <td style="padding: 5px; border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right"></td></td>
        <td style="padding: 5px; border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right"></td></td>
        <td style="padding: 5px; border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right"></td></td>
        <td style="padding: 5px; border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right"></td></td>
    </tr>
    ';
} else { //model 2

    $html .= '<tr>
        <td colspan="6" style="border-bottom: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid #000; vertical-align:middle;" align="right">
            <b>JUMLAH</b>
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            Rp. ' . number_format($totalnpop, 2, ',', '.') . '
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            
        </td>
        <td style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">
            Rp. ' . number_format($totalPembayaran, 2, ',', '.') . '
        </td>
        <td colspan="6" style="border-bottom: 1px solid #000;border-right: 1px solid #000; vertical-align:top;" align="right">

        </td>
         
    </tr>
    ';
}

$html .= '</tbody></table>';




$tanggal_pencetakan = explode('-', $tgl_cetakan);
$tahun_cetak = $tanggal_pencetakan[2];
$bulan_cetak = $tanggal_pencetakan[1];
$tanggal_cetak = $tanggal_pencetakan[0];

if (($cetak == 1) || ($cetak == 2) || ($cetak == 5) || ($cetak == 6) || ($cetak == 7) || ($cetak == 8)) {


    $html .= '<table width="100%">
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="4" style="text-align: center; padding-top: 30px;">
                
            </td>
            <td colspan="4" style="text-align: center; padding-top: 30px;">
                ' . $ar_pemda->s_namaibukotakabkot . ', ' . $tanggal_cetak . ' ' . bulan($bulan_cetak) . ' ' . $tahun_cetak . '
                <br>
                ' . $data_mengetahui->s_jabatanpejabat . '
                <br><br><br><br>
                <u>&nbsp;&nbsp;&nbsp;&nbsp;' . $data_mengetahui->s_namapejabat . '&nbsp;&nbsp;&nbsp;&nbsp;</u>
                <br>
                NIP. ' . $data_mengetahui->s_nippejabat . '
            </td>
        </tr>
        </table>';
} else {

    $html .= '<table width="100%">
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="5" style="text-align: center; padding-top: 30px;">
                
          </td>
            <td colspan="3" style="text-align: center; padding-top: 30px;">
                MENYETUJUI <br> KEPALA BADAN PENDAPATAN, PENGELOLAAN <br> KEUANGAN DAN ASET DAERAH <br> KABUPATEN REMBANG
                <br><br><br><br>
                <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MUSTAIN, SH, MM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                <br> Pembina Utama Muda <br>
                NIP. 19661204 199303 1 004
            </td>
             <td colspan="3" style="text-align: center; padding-top: 30px;">
                MENGETAHUI, <br> KEPALA BIDANG PENDAPATAN
                <br><br><br><br><br>
                <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Drs. ROMLI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                <br> Pembina<br>
                NIP. 19640608 198508 1 004
            </td>
            <td colspan="3" style="text-align: center; padding-top: 30px;">
                DIPERIKSA OLEH <br> KEPALA SUB BID PEMBUKUAN DAN PELAPORAN
               <br><br><br><br><br>
                <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PUDJI ISWANTO, SH&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                <br> Penata Tk.1 <br>
                NIP. 19640816 198503 1 017
            </td>
            <td colspan="3" style="text-align: center; padding-top: 30px;">
                TANGGAL DIBUAT, ' . $tanggal_cetak . ' ' . bulan($bulan_cetak) . ' ' . $tahun_cetak . '
                <br>
                DIBUAT OLEH
                <br><br><br><br><br>
                <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' . $data_mengetahui->s_namapejabat . '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                <br> Penata Muda Tk.1 <br>
                NIP. ' . $data_mengetahui->s_nippejabat . '
            </td>
        </tr>
        </table>';
}

if (($cetak == 1) || ($cetak == 3) || ($cetak == 5) || ($cetak == 7)) {

    $html .= '</div>';
    $html .= '</body></html>';

    $mpdf->WriteHTML($html);
    $mpdf->Output("cetaklapbulanan.pdf", "I");

    // echo $html;
} else {

    echo $html;
}
