<?php

ob_clean();

function bulan($bln)
{
    $bulan = $bln;
    switch ($bulan) {
        case 1:
            $bulan = "Januari";
            break;
        case 2:
            $bulan = "Februari";
            break;
        case 3:
            $bulan = "Maret";
            break;
        case 4:
            $bulan = "April";
            break;
        case 5:
            $bulan = "Mei";
            break;
        case 6:
            $bulan = "Juni";
            break;
        case 7:
            $bulan = "Juli";
            break;
        case 8:
            $bulan = "Agustus";
            break;
        case 9:
            $bulan = "September";
            break;
        case 10:
            $bulan = "Oktober";
            break;
        case 11:
            $bulan = "November";
            break;
        case 12:
            $bulan = "Desember";
            break;
    }
    return $bulan;
}
if ($cetak == 1) {

    include($_SERVER['DOCUMENT_ROOT'] . "/" . $this->basePath() . '/public/cetakan/MPDF57/mpdf.php');
    $mpdf = new mPDF('utf-8', 'Legal', 0, '', 10, 10, 5, 5, 5, 5, '');
    $html = '
<html>
<head>
<style>
@page {
  size: auto;
  odd-header-name: html_MyHeader1;
  odd-footer-name: html_MyFooter1;
}
@page chapter2 {
    odd-header-name: html_MyHeader2;
    odd-footer-name: html_MyFooter2;
}
@page noheader {
    odd-header-name: _blank;
    odd-footer-name: _blank;
}
div.chapter2 {
    page-break-before: always;
    page: chapter2;
}
div.noheader {
    page-break-before: always;
    page: noheader;
}
</style>
</head>
<body>
<htmlpageheader name="MyHeader1">

</htmlpageheader>

<htmlpageheader name="MyHeader2">

</htmlpageheader>

<htmlpagefooter name="MyFooter1">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>

<htmlpagefooter name="MyFooter2">
<table width="100%" style="vertical-align: bottom; font-family: serif; font-size: 8pt;
    color: #000000; font-weight: bold; font-style: italic;"><tr>
    <td width="33%"><span style="font-weight: bold; font-style: italic;"></span></td>
    <td width="33%" align="center" style="font-weight: bold; font-style: italic;">{PAGENO}/{nbpg}</td>
    <td width="33%" style="text-align: right; "></td>
    </tr></table>
</htmlpagefooter>
';

    $html .= '<div>';
    $nik = '';
} else {
    header("Content-type: application/vnd-ms-excel");
    header("Content-Disposition: attachment; filename=cetakrealiasidesa.xls");

    $html = '';
    $nik = '\'';
}


$html .= '


   <!-- <img src="http://' . $_SERVER['HTTP_HOST'] . '/' . $this->basePath() . '/' . $ar_pemda->s_logo . '" alt="" width="70" style="float:left;margin-top:10px; " title="LOGO ' . $ar_pemda->s_namakabkot . '"/><br>
    -->
                   
<table style="border-collapse: collapse; width: 100%;">
<tr>
    <td>
        <center>
         <b style="font-size:14pt;">PEMERINTAH ' . strtoupper($ar_pemda->s_namakabkot) . '</b>
         <br>
         <b style="font-size:11pt;">' . strtoupper($ar_pemda->s_namainstansi) . ' (' . strtoupper($ar_pemda->s_namasingkatinstansi) . ')</b>
         <br>
         <b style="font-size:10pt;">' . strtoupper($ar_pemda->s_alamatinstansi) . ' Telp/Fax ' . $ar_pemda->s_notelinstansi . ', ' . $ar_pemda->s_namaibukotakabkot . ' ' . $ar_pemda->s_kodepos . '</b>
        </center>
    </td>
</tr>
</table>
<table style="border-collapse: collapse; width: 100%;">
<tr>
    <td style="border-bottom: 1px solid #000;">&nbsp;</td></tr>
<tr>
  <tr>
    <td><center><br><br><h3>LAPORAN REALISASI BPHTB PER DESA</h3></center></td></tr>
<tr>
<td><center>TANGGAL : ' . $data_get["tgl_cetakbphtb_perdesa"] . ' - ' . $data_get["tgl_cetakbphtb2_perdesa"] . '</center></td>
</tr>
</table>
<br>
<table style="border-collapse: collapse; width: 100%;">
<thead>
    <tr>
        <th style="padding: 5px; vertical-align: top; border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">No</th>
        <th style="padding: 5px; vertical-align: top; border-top: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">Nama Kecamatan</th>
        <th style="padding: 5px; vertical-align: top; border-top: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">Nama Desa</th>
        <th style="padding: 5px; vertical-align: top; border-top: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">Jml Pembayaran</th>
    </tr>
    </thead>
    <tbody>';

$no = 1;
$jumlahBayar = 0;

$subKecamatan = "";
$subNamaKecamatan = "";
$totalKecamatan = 0;
foreach ($ar_LapBphtb as $key => $value) {
    if ($subKecamatan != $value["s_kodekecamatan"]) {
        if ($subKecamatan != "") {
            $html .= '<tr>
                <td style="padding: 5px; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid; text-align: right; background-color: #E6E6FA;" colspan="3"> TOTAL ' . $subKecamatan . ' - ' . $subNamaKecamatan . '</td>
                <td style="padding: 5px; vertical-align: top; border-bottom: 1px solid; border-right: 1px solid;background-color: #E6E6FA; text-align: right;">' . number_format($totalKecamatan, 0, ',', '.') . '</td>
            </tr>';
            $totalKecamatan = 0;
        }
        $html .= '<tr>
                <td style="padding: 5px; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid; background-color: #FFF0F5;" colspan="4">' . $value["s_kodekecamatan"] . ' - ' . $value["s_namakecamatan"] . '</td>
            </tr>';
        $subKecamatan = $value["s_kodekecamatan"];
        $subNamaKecamatan = $value["s_namakecamatan"];
    }
    $html .= '<tr>
        <td style="padding: 5px; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid;">' . $no . '</td>
        <td style="padding: 5px; vertical-align: top; border-bottom: 1px solid; border-right: 1px solid;">' . $value["s_kodekecamatan"] . ' - ' . $value["s_namakecamatan"] . '</td>
        <td style="padding: 5px; vertical-align: top; border-bottom: 1px solid; border-right: 1px solid;">' . $value["s_kodekelurahan"] . ' - ' . $value["s_namakelurahan"] . '</td>
        <td style="padding: 5px; vertical-align: top; border-bottom: 1px solid; border-right: 1px solid; text-align: right;">' . number_format($value["jml_bayar"], 0, ',', '.') . '</td>
        </tr>';
    $no++;
    $jumlahBayar += $value["jml_bayar"];
    $totalKecamatan += $value["jml_bayar"];
}

$html .= '<tr>
                <td style="padding: 5px; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid; text-align: right; background-color: #E6E6FA;" colspan="3"> TOTAL ' . $subKecamatan . ' - ' . $subNamaKecamatan . '</td>
                <td style="padding: 5px; vertical-align: top; border-bottom: 1px solid; border-right: 1px solid;background-color: #E6E6FA; text-align: right;">' . number_format($totalKecamatan, 0, ',', '.') . '</td>
            </tr>';
$html .= '<tr>
                <td style="padding: 5px; vertical-align: top; border-left: 1px solid; border-bottom: 1px solid; border-right: 1px solid; text-align: right; background-color: #E6E6FA;" colspan="3"> TOTAL</td>
                <td style="padding: 5px; vertical-align: top; border-bottom: 1px solid; border-right: 1px solid;background-color: #E6E6FA; text-align: right;">' . number_format($jumlahBayar, 0, ',', '.') . '</td>
            </tr>';

$html .= '</tbody>
</table>
        ';
$html .= '
<br>
<table style="border-collapse: collapse; width: 100%;">
          <tr>
            <td style="width: 50%;"></td>
            <td style="text-align: center;">
                ' . $ar_pemda->s_namaibukotakabkot . ', ' . $data_get["tgl_cetakan_perdesa"] . '
                <br>
                ' . $ar_Mengetahui->s_jabatanpejabat . '
                <br><br><br><br>
                <ins>&nbsp;&nbsp;&nbsp;&nbsp;' . $ar_Mengetahui->s_namapejabat . '&nbsp;&nbsp;&nbsp;&nbsp;</ins>
                <br>
                NIP. ' . $ar_Mengetahui->s_nippejabat . '
            </td>
        </tr>
        </table>';

if ($cetak == 1) {
    ob_end_clean();
    $html .= '</div>';
    $html .= '</body></html>';
    $mpdf->WriteHTML($html);
    $mpdf->Output("cetakrealiasidesa.pdf", "I");
} else {
    echo $html;
}
