<?php
    if(!empty($data_minmax['MIN_NO_URUT'])){
        $min_no_urut = $data_minmax['MIN_NO_URUT'];
    }else{
        $min_no_urut = '-';
    }
    
    if(!empty($data_minmax['MAX_NO_URUT'])){
        $max_no_urut = $data_minmax['MAX_NO_URUT'];
    }else{
        $max_no_urut = '-';
    }
    
    if(!empty($data_minmax['JML_OP'])){
        $jml_op = $data_minmax['JML_OP'];
    }else{
        $jml_op = '-';
    }
    
    if(!empty($data_minmax['JML_OP_BNG'])){
        $jml_op_bng = $data_minmax['JML_OP_BNG'];
    }else{
        $jml_op_bng = '-';
    }

?>

<div class="row">
    <div class="form-horizontal form-group col-md-12">

        <label for="inputKey" class="col-md-3"><b style="color: blue;">NO URUT <span style="float:right;">:</span></b></label>
        <div class="col-md-5" >
            MIN :<span style="color: blue;"><b> <?= $min_no_urut; ?></b></span> MAX :<span style="color: blue;"><b> <?= $max_no_urut; ?></b></span>  
            
        </div>

    </div>
</div>

<div class="row">
    <div class="form-horizontal form-group col-md-12">

        <label for="inputKey" class="col-md-3"><b style="color: blue;">JUMLAH OBJEK PAJAK <span style="float:right;">:</span></b></label>
        <div class="col-md-5" >
           <span style="color: blue;"><b> <?= $jml_op; ?></b></span>
           
        </div>

    </div>
</div>

<div class="row">
    <div class="form-horizontal form-group col-md-12">

        <label for="inputKey" class="col-md-3"><b style="color: blue;">JUMLAH OBJEK BANGUNAN <span style="float:right;">:</span></b></label>
        <div class="col-md-5" >
             <span style="color: blue;"><b> <?= $jml_op_bng; ?></b></span>
        </div>

    </div>
</div>