<link href="<?= $this->basePath();?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<style>
    .frm_input{
        border-radius: 5px;
        box-shadow: none;
        border-color: #d2d6de;


        height: 28px;
        padding: 2px 8px;
        font-size: 12px;
        line-height: 1.1;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }



</style>    

<div class="content-wrapper">
    <section class="content">
      <form>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="border: 1px solid #0073b7;">
                    <div class="modal-header" style="background-color: #0073b7; color: #fff;">

                        <center><h4 class="modal-title" id="myModalLabel" ><i class="fa fa-fw fa-print"></i> CETAK SPOP / LSPOP</h4></center>
                    </div>
                    <div class="panel-body"> 
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>KD PROPINSI <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <input class="frm_input" name="t_kd_propinsi" id="t_kd_propinsi" data-inputmask="&quot;mask&quot;: &quot;99&quot;" data-mask="1" placeholder="__"  value="" type="text" style="width: 40px;">

                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>KD DATI <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <input class="frm_input" name="t_kd_dati2" id="t_kd_dati2" data-inputmask="&quot;mask&quot;: &quot;99&quot;" data-mask="1" placeholder="__"  value="" type="text" style="width: 40px;">

                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>KD KECAMATAN <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <input class="frm_input" name="t_kd_kecamatan" id="t_kd_kecamatan" data-inputmask="&quot;mask&quot;: &quot;999&quot;" data-mask="1" placeholder="___"  value="" type="text" style="width: 40px;">
                                    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalKecamatan"><i class="fa fa-fw fa-search"></i></button>   
                                    -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>KD KELURAHAN <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <input class="frm_input" name="t_kd_kelurahan" id="t_kd_kelurahan" data-inputmask="&quot;mask&quot;: &quot;999&quot;" data-mask="1" placeholder="___"  value="" type="text" style="width: 40px;">
                                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalKelurahan"><i class="fa fa-fw fa-search"></i></button> -->   
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>KD BLOK <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <input class="frm_input" name="t_kd_blok" id="t_kd_blok" data-inputmask="&quot;mask&quot;: &quot;999&quot;" data-mask="1" placeholder="___"  value="" type="text" style="width: 40px;">
                                    <button type="button" class="btn btn-success" onclick="LoadData();">CEK NO URUT (MIN MAX)</button>    
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-horizontal form-group col-md-12">

                                <label for="inputKey" class="col-md-3"><b>NO URUT <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                <input class="frm_input" type="text" id="nourut1" name="nourut1" data-inputmask="&quot;mask&quot;: &quot;9999&quot;" data-mask="1" placeholder="___" maxlength="4"  style="width: 50px; ">

                                 s/d

                                <input class="frm_input" type="text" id="nourut2" name="nourut2" data-inputmask="&quot;mask&quot;: &quot;9999&quot;" data-mask="1" placeholder="___" maxlength="4"  style="width: 50px; ">
                                </div>
                            </div>
                        </div>
                        <div id="historydiv">
                        </div>
                        <!--<div class="row">
                            <div class="form-horizontal form-group col-md-12">
                                <label for="inputType" class="col-md-3"><b>Tahun <span style="float:right;">:</span></b></label>
                                <div class="col-md-5">
                                    <input class="frm_input" type="text" id="tahun" name="tahun" data-inputmask="&quot;mask&quot;: &quot;9999&quot;" data-mask="1" placeholder="___" maxlength="4"  style="width: 50px; display: inherit;">

                                </div>
                            </div>
                        </div>-->
                        <div class="modal-footer">        
                            <button type="button" class="btn btn-success" onclick="cetakLapSpopLspophtmlv2();"><i class="fa fa-eye"></i> LIHAT HASIL</button>
                            <button class="btn btn-primary" onclick="cetakLapSpopLspoppdfv2();"><i class="fa fa-print"></i> CETAK PDF</button>
                            <!-- <button class="btn btn-primary" onclick="cetakLapSpopLspoppdf();"><i class="fa fa-print"></i> CETAK HARIAN PDF</button> -->
                            <!--  
                             <div class="form-horizontal form-group col-md-6"> 
                                <button class="btn btn-success" onclick="cetakLapSpopLspophtml();"><i class="fa fa-eye"></i> LIHAT HASIL V1</button>
                             </div>
                            -->                       
                        </div>

                    </div>
                </div>
            </div>
        </div>
      </form>        

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->


<div class="modal fade bs-example-modal-lg" id="ModalKelurahan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width: 45%; min-width: 337px;"> <!--670px-->
        <div class="modal-content">
            <div class="modal-header with-border bg-green-gradient">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center><h4 class="modal-title" id="myModalLabel">DAFTAR KELURAHAN</h4></center>
            </div>
            <div class="box-body">
                <table id="examplekelurahan"  cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                    <thead>
                        <tr class="bg-blue" style="font-size:10pt; font: bold;">
                            <th width="20"><center>No</center></th>
                            <th><center>KD_KECAMATAN</center></th>
                            <th><center>NAMA KECAMATAN</center></th>
                            <th><center>KD_KELURAHAN</center></th>
                            <th><center>NM_KELURAHAN</center></th>
                            
                            <th><center>PERINTAH</center></th>
                            

                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot><tr>
                            <th><center></center></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr></tfoot>
                </table> 
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    function pilihkecamatan(a) {
        
        var kdkecamatan = a;
        
            $('#t_kd_kecamatan').val(kdkecamatan);
            
            jQuery('#ModalKecamatan').modal('hide');
        
    }
    
    function pilihkelurahan(a,b) {
        
        var kdkecamatan = a;
        var kdkelurahan = b;
        
            $('#t_kd_kecamatan').val(kdkecamatan);
            $('#t_kd_kelurahan').val(kdkelurahan);
            
            jQuery('#ModalKelurahan').modal('hide');
        
    }


    // file ajax.js
    var recReq = getXmlHttpRequestObject();
    var _documentid = 'historydiv';

    //-- membentuk instant XMLHttpRequest ---
    function getXmlHttpRequestObject() {
        if (window.XMLHttpRequest) {
            return new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            return new ActiveXObject("Microsoft.XMLHTTP");
        } else {
            alert('Status: Cound not create XmlHttpRequest Object. Consider upgrading your browser.');
        }
    }

    function LoadData() {
        document.getElementById(_documentid).innerHTML = '<center><img src="<?= $this->basePath(); ?>/public/tablebos/img/loader.gif"><center>';
        if (recReq.readyState == 4 || recReq.readyState == 0) {
            var nopcari = document.getElementById("t_kd_propinsi").value+'.'+document.getElementById("t_kd_dati2").value+'.'+document.getElementById("t_kd_kecamatan").value+'.'+document.getElementById("t_kd_kelurahan").value+'.'+document.getElementById("t_kd_blok").value;
            

            recReq.open("GET", '<?= $this->url() ?>/cekminmaxop?nop=' + nopcari, true);
            recReq.onreadystatechange = function () {
                if (recReq.readyState == 4 && recReq.status == 200) {
                    document.getElementById(_documentid).innerHTML = recReq.responseText;
                }
            }
            recReq.send(null);
        }
    }
</script>


<script type="text/javascript">

    jQuery("[data-mask]").inputmask();
    
    
    
    $('#t_kd_propinsi').val('<?= $kd_propinsi ?>');
    $('#t_kd_dati2').val('<?= $kd_dati2 ?>');
    
    $('#t_kd_kecamatan').focus();
    
    

    $("#tahun").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    function cetakLapSpopLspoppdf() {
        var nopcari = document.getElementById("t_kd_propinsi").value+'.'+document.getElementById("t_kd_dati2").value+'.'+document.getElementById("t_kd_kecamatan").value+'.'+document.getElementById("t_kd_kelurahan").value+'.'+document.getElementById("t_kd_blok").value;
            
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapharian?nourut1=' + $("#nourut1").val() + "&nourut2=" + $("#nourut2").val() + "&nop=" + nopcari + "&cetak=1");
    }

    function cetakLapSpopLspophtml() {
        var nopcari = document.getElementById("t_kd_propinsi").value+'.'+document.getElementById("t_kd_dati2").value+'.'+document.getElementById("t_kd_kecamatan").value+'.'+document.getElementById("t_kd_kelurahan").value+'.'+document.getElementById("t_kd_blok").value;
        
        window.open('<?= $this->url('cetak_laporan') ?>/cetaklapharian?nourut1=' + $("#nourut1").val() + "&nourut2=" + $("#nourut2").val() + "&nop=" + nopcari + "&cetak=2");
    }


    function cetakLapSpopLspoppdfv2() {
        var nopcari = document.getElementById("t_kd_propinsi").value+'.'+document.getElementById("t_kd_dati2").value+'.'+document.getElementById("t_kd_kecamatan").value+'.'+document.getElementById("t_kd_kelurahan").value+'.'+document.getElementById("t_kd_blok").value;
        
        window.open('<?= $this->url('pendataan_sspd') ?>/cetakspoplspop?nourut1=' + $("#nourut1").val() + "&nourut2=" + $("#nourut2").val() + "&nop=" + nopcari + "&cetak=1");
    }

    function cetakLapSpopLspophtmlv2() {
        var nopcari = document.getElementById("t_kd_propinsi").value+'.'+document.getElementById("t_kd_dati2").value+'.'+document.getElementById("t_kd_kecamatan").value+'.'+document.getElementById("t_kd_kelurahan").value+'.'+document.getElementById("t_kd_blok").value;
        
        window.open('<?= $this->url('pendataan_sspd') ?>/cetakspoplspop?nourut1=' + $("#nourut1").val() + "&nourut2=" + $("#nourut2").val() + "&nop=" + nopcari + "&cetak=2");
    }


</script>

