<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<style>
    .datepicker {
        z-index: 1051 !important;
    }

    .frm_input {
        border-radius: 5px;
        box-shadow: none;
        border-color: #d2d6de;
        height: 28px;
        padding: 2px 8px;
        font-size: 12px;
        line-height: 1.1;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>
<div class="content-wrapper">
    <section class="content">
        <?= $this->partial('bphtb/flash-message.phtml') ?>
        <!-- <?= $this->partial("bphtb/info-upload-berkas.phtml") ?> -->
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header with-border bg-blue-gradient">
                <center>
                    <h3 class="box-title">PENDAFTARAN SSPD BPHTB</h3>
                </center>
                <div class="pull-right">
                    <?php
                    if ($btnPendaftaran["s_status_button"] == 1) {
                        echo '<a href="' . $this->url('pendataan_sspd') . '/tambah" class="btn bg-purple btn-sm btn-flat">
                            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Tambah
                        </a>';
                    }
                    ?>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-success btn-flat btn-sm dropdown-toggle" type="button">
                            <span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Cetak&nbsp;&nbsp;
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul role="menu" class="dropdown-menu pull-right bg-green">
                            <li><a href="#" style="color: black" onclick="openCetakPenelitian()">Cetak Permohonan Penelitian</a></li>
                            <li><a href="#" style="color: black" onclick="openCetakBukti()">Cetak Bukti Penerimaan Surat/Berkas</a></li>
                            <!-- <li><a href="#" onclick="openCetakSPOP()" style="color: black">Cetak SPOP</a></li>-->
                            <!-- <li><a href="<?php $this->url('pendataan_sspd')
                                                ?>/indexspop" style="color: black">Lihat SPOP / LSPOP</a></li> -->
                            <!-- <li><a href="<?php $this->url('pendataan_sspd')
                                                ?>/tambahspoplspopv2" style="color: black">Cetak SPOP / LSPOP V2</a></li> -->
                            <li><a href="#" onclick="openCetakStatusBerkas()" style="color: black"> Cetak Daftar Status Berkas</a></li>
                            <li><a href="#" onclick="opencetakDPendaftaran()" style="color: black">Cetak Daftar Pendaftaran</a></li>
                            <li><a href="#" style="color: black" onclick="openCetak2()">Cetak Kode Bayar</a></li>
                            <!--<li><a href="#" onclick="opencetakDPendaftaran1()" style="color: black">Cetak Daftar Pendaftaran/Notaris</a></li>-->
                        </ul>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="examplependaftaran" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                    <thead>
                        <tr class="bg-blue" style="font-size:10pt; font: bold;">
                            <th width="20">
                                No
                            </th>
                            <th width="20">
                                No Daftar
                            </th>
                            <th width="20">
                                No Validasi
                            </th>
                            <th width="70">
                                Jenis<br>Perolehan
                            </th>
                            <?php
                            if ($idnotarisdatacari == 1) {
                                echo '<th width="70">Nama<br>Notaris</th>';
                                $bawahnamanotaris = '<th width="70"></th>';
                            } else {
                                $bawahnamanotaris = ' ';
                            }
                            ?>
                            <th width="30">
                                Tgl<br>Daftar
                            </th>
                            <th width="100">
                                Nama<br>Wajib Pajak
                            </th>
                            <th width="60">
                                Jml<br>Pajak
                            </th>
                            <th width="60">
                                Jml<br>Pajak Seharusnya
                            </th>
                            <th width="30">
                                Syarat<br>Daftar
                            </th>
                            <th width="50">
                                Status<br>Validasi
                            </th>
                            <th width="30">
                                Pembayaran
                            </th>
                            <th>
                                Perintah
                            </th>
                            <th>
                                Kode Bayar
                            </th>
                            <th>Pengajuan SPOP</th>
                            <th>NOP</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <?= $bawahnamanotaris; ?>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>
</div>

<div class="content-wrapper" id="keteranganinfo">
    <section class="content">
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            &nbsp;&nbsp;<b><u>Keterangan Syarat Pendaftaran</u></b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<img title="Syarat Pendaftaran Lengkap" width="20" height="20" src="<?= $this->basePath(); ?>/public/img/syaratlengkap.png"> : Syarat Pendaftaran Lengkap <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<img title="Syarat Pendaftaran Tidak Lengkap" width="20" height="20" src="<?= $this->basePath(); ?>/public/img/syarattidaklengkap.png"> : Syarat Pendaftaran Tidak Lengkap <br><br>
            &nbsp;&nbsp;<b><u>Keterangan Status Validasi</u></b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<img title="Data sudah di Validasi" width="20" height="20" src="<?= $this->basePath(); ?>/public/img/tervalidasi.png"> : Data Sudah Di Validasi <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<img title="Belum di Validasi" width="20" height="20" src="<?= $this->basePath(); ?>/public/img/belumdivalidasi.png"> : Data Belum Di Validasi <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<img title="Syarat Validasi Tidak Lengkap" width="20" height="20" src="<?= $this->basePath(); ?>/public/img/validasi_tidaklengkap.png"> : Syarat Validasi Belum Lengkap <br>
        </div>
    </section>
</div>

<div class="modal fade" id="cetakbuktipenerimaan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!--style="min-height: 250px; position: fixed; top: 3%; right: 3%; left: 3%; bottom: 3%; width: auto; margin: 0;" -->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK BUKTI PENERIMAAN SURAT/BERKAS</h4>
                </center>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="periode_spt_bukti" value="<?= date('Y') ?>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="tgl_cetak_bukti" id="tgl_cetak_bukti" value="<?= date('d-m-Y') ?>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Nomor Pendaftaran <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="no_spt_bukti1">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <div style="float:left;">

                        <button class="btn btn-success" onclick="cetakbuktipenerimaan();"><i class="fa fa-fw fa-file-pdf-o"></i> Cetak PDF</button>

                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupbukti()">Tutup</button></span>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalPenelitian" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK PERMOHONAN PENELITIAN</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="periode_spt_penelitian" value="<?= date('Y') ?>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>No Daftar <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="no_spt_penelitian" class="form-control" onkeypress="return numbersonly(this, event)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="tgl_cetak_penelitian" value="<?= date('d-m-Y') ?>">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">

                    <div style="float:left;">

                        <button class="btn btn-success" onclick="cetakpermohonanpenelitian();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF</button>

                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupCetakPenelitian()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cetakDPendaftaran" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="panel panel-default">

            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK DATA PENDAFTARAN</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="periode_spt" value="<?= date('Y') ?>" style="width: 100px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="tgl_cetak" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-3"><b>Tanggal Pendaftaran <span style="float:right;">:</span></b></label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="tgl_verifikasi1" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                                <label for="inputValue" class="col-md-1">S/d</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="tgl_verifikasi2" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12" style="<?= $show_hide_combo_notaris ?>">
                        <label for="inputType" class="col-md-3"><b>Nama Notaris <span style="float:right;">:</span></b></label>
                        <div class="col-md-5">
                            <?= $this->formRow($frm->get('t_idnotarisspt')) ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Status Validasi <span style="float:right;">:</span></b></label>
                        <div class="col-md-5">
                            <select id="statusVerifikasiBerkasPendaftaran" class="form-control">
                                <option value="">-- SEMUA --</option>
                                <option value="3">BELUM</option>
                                <option value="2">BERKAS TIDAK LENGKAP</option>
                                <option value="4">BERKAS SUDAH/MENUNGGU VALIDASI</option>
                                <option value="1">SUDAH</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="float:left;">
                        <button class="btn btn-success" onclick="cetakDaftarVerifikasipdf(1);" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF</button>
                        <button class="btn btn-success" onclick="cetakDaftarVerifikasipdf(2);" title="Cetak File Excel"><i class="fa fa-file-excel-o"></i> Cetak Excel</button>
                    </div>
                    <div style="float:right;">
                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupCetakPendaftaran()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cetakDPendaftaran1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <div class="panel panel-default">

            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> Cetak Data Pendaftaran Per Notaris</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="periode_sptverifikasi1" value="<?= date('Y') ?>" style="width: 100px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="tgl_cetakverifikasi11" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-3"><b>Tanggal Pendaftaran <span style="float:right;">:</span></b></label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="tgl_cetakpendaftaran11" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                                <label for="inputValue" class="col-md-1">S/d</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="tgl_cetakpendaftaran22" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12" style="<?= $show_hide_combo_notaris ?>">
                        <label for="inputType" class="col-md-3"><b>Nama Notaris <span style="float:right;">:</span></b></label>
                        <div class="col-md-5">
                            <?= $this->formRow($frm->get('t_idnotarisspt')) ?>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div style="float:left;">
                        <button class="btn btn-success" onclick="cetakDaftarVerifikasi1pdf();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF</button>
                        <button class="btn btn-success" onclick="cetakDaftarVerifikasi1xls();" title="Cetak File Excel"><i class="fa fa-file-excel-o"></i> Cetak Excel</button>
                    </div>
                    <div style="float:right;">
                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupCetakPendaftaran1()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cetakansspd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK SSPD</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Mengetahui <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="hidden" id="no_spt1_sspd" class="form-control">
                            <select id="mengetahuilengkapsspd" class="selectpicker" data-live-search="true">
                                <?php foreach ($this->data_mengetahuilengkap_sspd as $k => $v) { ?>
                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">

                    <div style="float:left;">

                        <!-- <button class="btn btn-success" onclick="cetakbuktilengkap1_sspd();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak SSPD [TEXT]</button> -->
                        <button class="btn btn-success" onclick="cetakbuktilengkap2_sspd();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak SSPD</button> <!-- [TEXT DAN BLANKO] -->
                        <!-- <button class="btn btn-success" id="skpdkb_validasikedua" onclick="cetakbuktilengkap1_sspdv2();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF SKPDKB</button> -->

                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupsspd()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cetakansspd_ppob" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK PENGAJUAN OBJEK PAJAK</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <div class="col-md-6">
                            <input type="hidden" id="no_spt1_sspd_ppob" class="form-control">

                        </div>
                    </div>
                </div>


                <div class="modal-footer">

                    <div style="float:left;">
                        <button class="btn btn-success" onclick="cetakbuktilengkap1_sspd_ppob();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF [PRINT LQ]</button>
                        <button class="btn btn-success" onclick="cetakbuktilengkap2_sspd_ppob();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF [PRINT BIASA]</button>
                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupsspd_ppob()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cetakansspd_mutasi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!--style="min-height: 250px; position: fixed; top: 3%; right: 3%; left: 3%; bottom: 3%; width: auto; margin: 0;" -->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK MUTASI SELURUHNYA</h4>
                </center>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <div class="col-md-6">
                            <input type="hidden" id="no_spt1_sspd_mutasi" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="float:left;">
                        <button class="btn btn-success" onclick="cetakbuktilengkap1_sspd_mutasi();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF [PRINT LQ]</button>
                        <button class="btn btn-success" onclick="cetakbuktilengkap2_sspd_mutasi();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF [PRINT BIASA]</button>
                    </div>
                    <div style="float:right;">
                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupmutasi()">Tutup</button></span>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cetakanspop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!--style="min-height: 250px; position: fixed; top: 3%; right: 3%; left: 3%; bottom: 3%; width: auto; margin: 0;" -->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i>CETAK SPOP</h4>
                </center>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <!-- label class="col-md-3 control-label">ID SPT</label> -->
                        <div class="col-md-6">
                            <input type="hidden" id="no_spt1_sspd_spop" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="float:left;">
                        <button class="btn btn-success" onclick="cetakbuktilengkap1_sspd_spop();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF </button>
                    </div>
                    <div style="float:right;">
                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupspop()">Tutup</button></span>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="panel panel-default">

            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK KODE BAYAR</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="kb_periode_spt" value="<?= date('Y') ?>" class="form-control" style="width:100px">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">

                        <label for="inputKey" class="col-md-3"><b>No Daftar <span style="float:right;">:</span></b></label>
                        <div class="col-md-2">
                            <input type="text" id="kb_no_spt1" class="form-control">
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="kb_tgl_cetak" value="<?= date('d-m-Y') ?>" class="form-control" style="width:100px">
                        </div>
                    </div>
                </div>



                <div class="modal-footer">
                    <div style="float:left;">
                        <button class="btn btn-success" onclick="cetakkodebyr();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF</button>

                    </div>
                    <div style="float:right;">
                        <span style="float:right; "><button class="btn btn-danger" onclick="tutup2()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cetakanstatusberkas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-default">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK DATA STATUS BERKAS</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="periode_statusberkas" value="<?= date('Y') ?>" style="width: 100px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="tgl_cetakstatusberkas" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="inputKey" class="col-md-3"><b>Tanggal Pendaftaran <span style="float:right;">:</span></b></label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="tgl_cetakstatusberkas1" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                                <label for="inputValue" class="col-md-1">S/d</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="tgl_cetakstatusberkas2" value="<?= date('d-m-Y') ?>" style="width: 100px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12" style="<?= $show_hide_combo_notaris ?>">
                        <label for="inputType" class="col-md-3"><b>Nama Notaris <span style="float:right;">:</span></b></label>
                        <div class="col-md-5">
                            <?= $this->formRow($frm->get('t_idnotarisspt1')) ?>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="float:left;">
                        <button class="btn btn-success" onclick="cetakDaftarStatusBerkaspdf();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF</button>
                        <button class="btn btn-success" onclick="cetakDaftarStatusBerkasxls();" title="Cetak File Excel"><i class="fa fa-file-excel-o"></i> Cetak Excel</button>
                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupCetakStatusBerkas()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">
    var dTable;

    $(document).ready(function() {
        dTable = $('#examplependaftaran').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            "responsive": false,
            "sAjaxSource": "<?= $this->url() ?>/dataGrid", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 10,
            "aLengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "aaSorting": [
                [0, "asc"]
            ],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            "scrollX": true,
            "oLanguage": {
                "sEmptyTable": "No incompleted albums found!", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "<center>Tidak ada data</center>",
                "sEmptyTable": "<center>Tidak ada data</center>",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "Tidak ada data",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": ">>",
                    "sPrevious": "<<"
                } //pagination
            },
            "columnDefs": [
                <?php
                if ($idnotarisdatacari == 1) {
                    echo '{
                        "orderable": false,
                        "targets": [0, 12, 14],
                        "searchable": false
                    },';
                } else {
                    echo '{
                        "orderable": false,
                        "targets": [0, 11, 13],
                        "searchable": false
                    },';
                }
                ?>
            ]
        });

        $('th', dTable.table().footer()).each(function() {
            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });
            var title = $('th').eq($(this).index()).text();
            //$(this).html('<input type="text" placeholder="Search ' + title + '" />');
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nodaftar') {
                $(this).html('<center><input type="text" placeholder="No Daftar" class="pencariantable" style="width:50px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'novalidasi') {
                $(this).html('<center><input type="text" placeholder="No Validasi" class="pencariantable" style="width:50px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namanotaris') {
                var select = '<center><select class="pencariantable" style="width:100px;text-size:8pt;"><option value="">-- Pilih --</option>';
                <?php
                foreach ($datanotaris as $row_n) {
                    echo 'select += \'<option value="' . $row_n['s_iduser'] . '">' . $row_n['s_namanotaris'] . '</option>\';';
                }
                ?>
                select += '</select></center>';
                $(this).html(select);
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tahun') {
                $(this).html('<center><input type="text" id="tahun_cari" placeholder="Tahun" class="pencariantable" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tgldaftar') {
                $(this).html('<center><input type="text" placeholder="tgl daftar" id="tgl_daftar_cari" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namawajibpajak') {
                $(this).html('<center><input type="text" placeholder="nama" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jenistransaksi') {
                var select = '<center><select class="pencariantable" style="width:100px;text-size:8pt;"><option value="">-- Pilih --</option>';
                <?php
                foreach ($datajenistransaksi as $row) {
                    echo 'select += \'<option value="' . $row["s_idjenistransaksi"] . '">' . $row["s_namajenistransaksi"] . '</option>\';';
                }
                ?>
                select += '</select></center>';
                $(this).html(select);
                //$(this).html('<center><input type="text" placeholder="jenis" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jenisperolehan') {
                var select = '<center><select class="pencariantable" style="width:100px;text-size:8pt;"><option value="">-- Pilih --</option>';
                <?php
                foreach ($datajenistransaksi as $row) {
                    echo 'select += \'<option value="' . $row["s_idjenistransaksi"] . '">' . $row["s_namajenistransaksi"] . '</option>\';';
                }
                ?>
                select += '</select></center>';
                $(this).html(select);
                //$(this).html('<center><input type="text" placeholder="jenis" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jmlpajak') {
                $(this).html('<center><input type="text" placeholder="jumlah" class="pencariantable" id="jmlpajak" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jmlpajak') {
                $(this).html('<center><input type="text" placeholder="jumlah" class="pencariantable" id="jmlpajak" style="width:80px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'syaratdaftar') {
                $(this).html('<center><select class="pencariantable" style="width:55px;text-size:8pt;"><option value="">Pilih</option><option value="1">Lengkap</option><option value="2">Tidak Lengkap</option></select></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'statusvalidasi') {
                $(this).html('<center><select class="pencariantable" style="width:55px;text-size:8pt;">' +
                    '<option value="">Pilih</option><option value="3">Belum Di Validasi</option>' +
                    '<option value="2">Tidak Lengkap</option>' +
                    '<option value="4">Selesai Berkas/Menunggu Validasi</option>' +
                    '<option value="1">Tervalidasi</option>' +
                    '</select></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'pembayaran') {
                $(this).html('<center><select class="pencariantable" style="width:65px;text-size:8pt;"><option value="">Pilih</option><option value="TRUE">SUDAH</option><option value="FALSE">BELUM</option></select></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'pengajuanspop') {
                $(this).html('');
            } else {
                $(this).html('<input type="text" placeholder="Cari ' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />'); //style="width:100px;"
            }


        });

        // Apply the search
        dTable.columns().eq(0).each(function(colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        dTable.columns().eq(0).each(function(colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });

        });

        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');

        /*$(document).ready(function() {
            var table = $('#example').dataTable();

            // Perform a filter
            table.fnFilter('Win');
            table.fnFilter('Trident', 0);

            // Remove all filtering
            dTable.fnFilterClear();
        } );*/

        function fnResetAllFilters() {
            // Apply blank string
            //dTable.columns().eq( 0 ).each( function ( colIdx ) {
            //        $( 'input', dTable.column( colIdx ).footer() ).val(''); //clear column visible text
            //        dTable.columns(colIdx).search( '', true ); //clear dataTable column search filters
            //    }
            //)
            //sdTable.search( '', true ).draw(); //clears global search filter then finally draw the table, all done..

            //var dTable = $('#example').dataTable();
            //dTable.fnFilterClear();

            dTable.columns().eq(0).each(function(colIdx) {
                $('select', dTable.column(colIdx).footer()).val('', function() {
                    dTable
                        .column(colIdx)
                        .search('', true)
                        .draw();
                });

                jQuery("#jmlpajak").val('');

            });


        }

        //$('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
        //$('.sidebar-toggle').on('shown.bs.tab', function (e) {
        // var target = $(e.target).attr("href"); // activated tab
        // alert (target);
        //sidebar-toggle
        //    dTable.columns.adjust();
        //$($.fn.dataTable.tables( true ) ).css('width', '100%');
        //$($.fn.dataTable.tables( true ) ).DataTable().columns.adjust().draw();
        //} ); 
        /*function toggle_click() {
                var mtable = $('#open_ticket_table').DataTable();
                dTable.responsive.recalc();
         }*/



    });
</script>
<script type="text/javascript">
    //  =====================================================

    function openCetakStatusBerkas() {
        jQuery('#cetakanstatusberkas').modal('show');
    }

    function tutupCetakStatusBerkas() {
        jQuery('#cetakanstatusberkas').modal('hide');
    }

    function cetakDaftarStatusBerkaspdf() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetakdatastatusberkas?periode_spt=' + $("#periode_statusberkas").val() + "&tgl_cetak=" + $("#tgl_cetakstatusberkas").val() + "&tgl_cetakstatusberkas1=" + $("#tgl_cetakstatusberkas1").val() + "&tgl_cetakstatusberkas2=" + $("#tgl_cetakstatusberkas2").val() + "&t_idnotarisspt=" + $("#t_idnotarisspt1").val() + "&cetak=1");
    }

    function cetakDaftarStatusBerkasxls() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetakdatastatusberkas?periode_spt=' + $("#periode_statusberkas").val() + "&tgl_cetak=" + $("#tgl_cetakstatusberkas").val() + "&tgl_cetakstatusberkas1=" + $("#tgl_cetakstatusberkas1").val() + "&tgl_cetakstatusberkas2=" + $("#tgl_cetakstatusberkas2").val() + "&t_idnotarisspt=" + $("#t_idnotarisspt1").val() + "&cetak=2");
    }

    function openCetakSSPD(a, b) {
        jQuery('#cetakansspd').modal('show');
        jQuery("#no_spt1_sspd").val(a);

        if ((b == null) || (b == 0)) {
            $('#skpdkb_validasikedua').hide();
        } else {
            $('#skpdkb_validasikedua').show();
        }
    }

    function openCetakPPOB(a, b) {
        jQuery('#cetakansspd_ppob').modal('show');
        jQuery("#no_spt1_sspd_ppob").val(a);

    }

    function openCetakMutasi(a, b) {
        jQuery('#cetakansspd_mutasi').modal('show');
        jQuery("#no_spt1_sspd_mutasi").val(a);

    }

    function openCetakSPOP(a, b) {
        jQuery('#cetakanspop').modal('show');
        jQuery("#no_spt1_sspd_spop").val(a);

    }

    function tutupsspd() {
        jQuery('#cetakansspd').modal('hide');

    }

    function tutupsspd_ppob() {
        jQuery('#cetakansspd_ppob').modal('hide');

    }

    function tutupmutasi() {
        jQuery('#cetakansspd_mutasi').modal('hide');

    }

    function tutupspop() {
        jQuery('#cetakanspop').modal('hide');

    }

    function hapus(a) {
        /*var tanya = confirm("Hapus data ini?")
         if (tanya) {
         $.post('<?= $this->url() ?>/hapus/' + a);
         $('#example').DataTable().ajax.reload();
         //setInterval( function () {$('#example').DataTable().ajax.reload(); }, 3000 );
         }
         $('#example').DataTable().ajax.reload();*/
        if (confirm("Anda yakin akan menghapus data ini?")) {
            $.ajax({
                type: "POST",
                url: "<?= $this->url() ?>/hapus/" + a,
                success: function() {
                    $('#examplependaftaran').DataTable().ajax.reload();
                }
            });
        }

    }

    function hapusall(a) {
        /*var tanya = confirm("Hapus semua data ini? (data pendaftaran, validasi, pembayaran akan dihapus)")
         if (tanya) {
         $.post('<?= $this->url() ?>/hapusall/' + a);
         $('#example').DataTable().ajax.reload();
         }
         $('#example').DataTable().ajax.reload();*/
        if (confirm("Hapus semua data ini? (data pendaftaran, validasi, pembayaran akan dihapus)")) {
            $.ajax({
                type: "POST",
                url: "<?= $this->url() ?>/hapusall/" + a,
                success: function() {
                    $('#examplependaftaran').DataTable().ajax.reload();
                }
            });
        }
    }

    $("#t_periodespt").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#t_tglprosesspt").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    $("#t_periodespt1").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#t_tglprosesspt1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    /*function hapus(a) {
        var tanya = confirm("Hapus data ini?")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapus/' + a);
            calldatagrid();
        }
        calldatagrid();
    }

    function calldatagrid(direction) {
        if ($("#combocari").val().length == 0)
            par1 = undefined;
        else
            par1 = $("#combocari").val()
        if ($("#kolomcari").val().length == 0)
            par2 = undefined;
        else
            par2 = $("#kolomcari").val()
        if ($("#combosorting").val().length == 0)
            par3 = undefined;
        else
            par3 = $("#combosorting").val()
        if (document.getElementById("sortasc").checked)
            par4 = $("#sortasc").val()
        else
            par4 = undefined;
        if (document.getElementById("sortdesc").checked)
            par5 = $("#sortdesc").val()
        else
            par5 = undefined;
        if ($("#combooperator").val().length == 0)
            par6 = undefined;
        else
            par6 = $("#combooperator").val()
        datagrid($("#page").val(), $("#rows").val(), direction, par1, par2, par3, par4, par5, par6);
    }

    function datagrid(page, row, direction, par1, par2, par3, par4, par5, par6) {
        $.get('<?= $this->url() ?>/dataGrid/' + page + '/' + row + '/' + direction + '/' + par1 + '/' + par2 + '/' + par3 + '/' + par4 + '/' + par5 + '/' + par6, function(data) {
            var aa = JSON.parse(data)
            $("#body_grid").html(aa.grid);
            $("#rows").val(aa.rows);
            $("#page").val(aa.page);
            $("#total_data").html(": " + aa.count);
            $("#total_halaman").html(": " + aa.total_halaman);
            $("#paginatore").html(aa.paginatore);
            $("#awaldata").html(aa.awaldata);
            $("#akhirdata").html(aa.akhirdata);
        });
    } */
    //  =====================================================


    //  =====================================================

    //document.getElementById("keteranganinfo").removeAttribute("style"); 


    //  Cetak Bukti Penerimaan Surat/Berkas
    $("#periode_spt_bukti").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetak_bukti").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function openCetakBukti() {
        jQuery('#cetakbuktipenerimaan').modal('show');
    }
    // cetak coba 
    function openCetakCoba() {
        jQuery('#cetakcoba').modal('show');
    }
    //
    function tutupbukti() {
        jQuery('#cetakbuktipenerimaan').modal('hide');
        jQuery("#no_spt_bukti1,#no_spt_bukti2").val('');
    }

    function tutupbukticoba() {
        jQuery('#cetakcoba').modal('hide');
        jQuery("#no_spt_bukti1_coba,#no_spt_bukti2").val('');
    }

    function tutup2() {
        jQuery('#myModal2').modal('hide');
        jQuery("#kb_no_spt1,#kb_no_spt2").val('');
    }

    function cetakbuktipenerimaan() {
        window.open('<?= $this->url() ?>/cetakbuktipenerimaan?no_spt1=' + $("#no_spt_bukti1").val() + "&periode_spt=" + $("#periode_spt_bukti").val() + "&t_objekspt=1" + "&tgl_cetak=" + $("#tgl_cetak_bukti").val()); //+ "&no_spt2=" + $("#no_spt_bukti2").val() 
    }
    // function cetakcoba================================
    function cetakcoba() {
        window.open('<?= $this->url() ?>/cetakcoba?no_spt1=' + $("#no_spt_bukti1_coba").val() + "&periode_spt=" + $("#periode_spt_bukti_coba").val() + "&t_objekspt=1" + "&tgl_cetak=" + $("#tgl_cetak_bukti_coba").val()); //+ "&no_spt2=" + $("#no_spt_bukti2").val() 
    }

    //===================================================
    //  =====================================================



    //  =====================================================
    //  Cetak Permohonan Penelitian
    function openCetakPenelitian() {
        jQuery('#myModalPenelitian').modal('show');
    }

    function tutupCetakPenelitian() {
        jQuery('#myModalPenelitian').modal('hide');
    }

    $("#periode_spt_penelitian").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetak_penelitian").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_cetakpendaftaran11").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakpendaftaran22").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function cetakpermohonanpenelitian() {
        window.open('<?= $this->url() ?>/cetakpermohonanpenelitian?periode_spt_penelitian=' + $("#periode_spt_penelitian").val() + "&tgl_cetak_penelitian=" + $("#tgl_cetak_penelitian").val() + "&no_spt_penelitian=" + $("#no_spt_penelitian").val())
    }
    //    ===================================================
    // cetak daftar pendaftaran
    function tutupCetakPendaftaran() {
        jQuery('#cetakDPendaftaran').modal('hide');
    }

    function opencetakDPendaftaran() {
        jQuery('#cetakDPendaftaran').modal('show');
    }

    function tutupcetakDPendaftaran() {
        jQuery('#cetakDPendaftaran').modal('hide');
        jQuery("#no_spt_bukti1,#no_spt_bukti2").val('');
    }

    function tutupCetakPendaftaran1() {
        jQuery('#cetakDPendaftaran1').modal('hide');
    }
    $("#tgl_cetak").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    $("#tgl_verifikasi1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    $("#tgl_verifikasi2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    //==================	
    function opencetakDPendaftaran1() {
        jQuery('#cetakDPendaftaran1').modal('show');
    }

    function tutupcetakDPendaftaran1() {
        jQuery('#cetakDPendaftaran1').modal('hide');
        jQuery("#no_spt_bukti1,#no_spt_bukti2").val('');
    }

    $("#periode_dpendaftaran").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetakdpendaftaran1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_dpendaftaran1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_dpendaftaran2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    $("#periode_dpendaftaran1").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetakdpendaftaran11").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_dpendaftaran11").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_dpendaftaran22").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakstatusberkas").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_cetakstatusberkas1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_cetakstatusberkas2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function cetakdatapendaftaran() {
        window.open('<?= $this->url() ?>/cetakdatapendaftaran?periode_dpendaftaran=' + $("#periode_dpendaftaran").val() + "&tgl_cetakdpendaftaran=" + $("#tgl_cetakdpendaftaran").val() + "&tgl_dpendaftaran1=" + $("#tgl_dpendaftaran1").val() + "&tgl_dpendaftaran2=" + $("#tgl_dpendaftaran2").val() + "&t_idnotarisspt=" + $("#t_idnotarisspt").val());
    }

    function cetakDaftarVerifikasipdf(a) {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetakdatapendaftaran?' +
            'periode_spt=' + $("#periode_spt").val() +
            "&tgl_cetak=" + $("#tgl_cetak").val() +
            "&tgl_verifikasi1=" + $("#tgl_verifikasi1").val() +
            "&tgl_verifikasi2=" + $("#tgl_verifikasi2").val() +
            "&t_idnotarisspt=" + $("#t_idnotarisspt").val() +
            "&status_validasi=" + $("#statusVerifikasiBerkasPendaftaran").val() +
            "&cetak=" + a);
    }

    // function cetakDaftarVerifikasixls() {
    //     window.open('<?= $this->url('pendataan_sspd') ?>/cetakdatapendaftaran?periode_spt=' + $("#periode_spt").val() + "&tgl_cetak=" + $("#tgl_cetak").val() + "&tgl_verifikasi1=" + $("#tgl_verifikasi1").val() + "&tgl_verifikasi2=" + $("#tgl_verifikasi2").val() + "&t_idnotarisspt=" + $("#t_idnotarisspt").val() + "&cetak=2");
    // }

    function cetakdatapendaftaran1() {
        window.open('<?= $this->url() ?>/cetakdatapendaftaranpernotaris?periode_dpendaftaran=' + $("#periode_dpendaftaran1").val() + "&tgl_cetakdpendaftaran=" + $("#tgl_cetakdpendaftaran1").val() + "&tgl_dpendaftaran1=" + $("#tgl_dpendaftaran11").val() + "&tgl_dpendaftaran2=" + $("#tgl_dpendaftaran2").val() + "&t_idnotarisspt=" + $("#t_idnotarisspt").val());
    }

    function cetakDaftarVerifikasi1pdf() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetakdatapendaftaranpernotaris?periode_spt=' + $("#periode_sptverifikasi1").val() + "&tgl_cetak=" + $("#tgl_cetakverifikasi1").val() + "&tgl_verifikasi1=" + $("#tgl_cetakpendaftaran11").val() + "&tgl_verifikasi2=" + $("#tgl_cetakpendaftaran22").val() + "&t_idnotarisspt=" + $("#t_idnotarisspt").val() + "&cetak=1");
    }

    function cetakDaftarVerifikasi1xls() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetakdatapendaftaranpernotaris?periode_spt=' + $("#periode_sptverifikasi1").val() + "&tgl_cetak=" + $("#tgl_cetakverifikasi1").val() + "&tgl_verifikasi1=" + $("#tgl_cetakpendaftaran11").val() + "&tgl_verifikasi2=" + $("#tgl_cetakpendaftaran22").val() + "&t_idnotarisspt=" + $("#t_idnotarisspt").val() + "&cetak=2");
    }

    function cetakbuktilengkap1_sspd() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetaksspdbphtbtextonly?&action=cetaksspd&t_idspt=' + $("#no_spt1_sspd").val() + "&mengetahuibphtbsspd=" + $("#mengetahuilengkapsspd").val() + "&cetakversi=2")
    }

    function cetakbuktilengkap1_sspd_ppob() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetakpengajuanobjekpajak?&action=cetaksspd_ppob&t_idspt=' + $("#no_spt1_sspd_ppob").val() + "&cetakversi=1")
    }

    function cetakbuktilengkap1_sspd_mutasi() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetakmutasiseluruhnya?&action=cetaksspd_mutasi&t_idspt=' + $("#no_spt1_sspd_mutasi").val() + "&mengetahuibphtbsspd_mutasi=" + $("#mengetahuilengkapsspd_mutasi").val() + "&cetakversi=1")
    }

    function cetakbuktilengkap1_sspd_spop() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetakspop?&action=cetaksspd_spop&t_idspt=' + $("#no_spt1_sspd_spop").val())
    }

    function cetakbuktilengkap2_sspd() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetaksspdbphtb?&action=cetaksspd&t_idspt=' + $("#no_spt1_sspd").val() + "&mengetahuibphtbsspd=" + $("#mengetahuilengkapsspd").val() + "&cetakversi=3")
    }

    function cetakbuktilengkap2_sspd_ppob() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetakpengajuanobjekpajak?&action=cetaksspd_ppob&t_idspt=' + $("#no_spt1_sspd_ppob").val() + "&cetakversi=3")
    }

    function cetakbuktilengkap2_sspd_mutasi() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetakmutasiseluruhnya?&action=cetaksspd_mutasi&t_idspt=' + $("#no_spt1_sspd_mutasi").val() + "&mengetahuibphtbsspd_mutasi=" + $("#mengetahuilengkapsspd_mutasi").val() + "&cetakversi=3")
    }

    function cetakbuktilengkap1_sspdv2() {
        window.open('<?= $this->url('pendataan_sspd') ?>/cetaksspdbphtb?&action=cetaksspd&t_idspt=' + $("#no_spt1_sspd").val() + "&mengetahuibphtbsspd=" + $("#mengetahuilengkapsspd").val() + "&cetakversi=2")
    }

    function openCetak2() {
        jQuery('#myModal2').modal('show');
    }

    function tutup2() {
        jQuery('#myModal2').modal('hide');
        jQuery("#kb_no_spt1").val('');
    }

    function cetakkodebyr() {
        if (($("#kb_no_spt1").val() == '') || ($("#kb_no_spt1").val() == null)) {
            alert("Masukkan no daftar");
            return false;
        } else {
            window.open('<?= $this->url() ?>/cetakkodebayar?no_spt1=' + $("#kb_no_spt1").val() + "&periode_spt=" + $("#kb_periode_spt").val() + "&t_objekspt=1" + "&tgl_cetak=" + $("#kb_tgl_cetak").val());
        }
    }
</script>