<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambahAjbBaru');
$frm->setAttribute('id', "formtambah");
$frm->prepare();
?>

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">INPUT NO./TANGGAL AJB BARU</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row margin">
                            <div class="col-md-12">
                                <div class="panel panel-default" style="height: 300px;">
                                    <div class="panel-heading"><h3 class="panel-title"><span style="font-size: 10pt">Input AJB</span></h3></div>
                                    <div class="panel-body">                  
                                        <div>
                                            <?= $this->form()->openTag($frm) ?>
                                            <div class="form-horizontal form-group col-md-12">
                                                <label for="inputType" class="col-md-2">No AJB Baru</label>
                                                <div class="col-md-2">
                                                    <?= $this->formRow($frm->get('t_iddetailsptbphtb')) ?>  
                                                    <?= $this->formRow($frm->get('t_noajbbaru')) ?>
                                                </div>
                                            </div>                   
                                            <div class="form-horizontal form-group col-md-12">
                                                <label for="inputType" class="col-md-2">Tanggal AJB Baru</label>
                                                <div class="col-md-2">
                                                    <?= $this->formRow($frm->get('t_tglajbbaru')) ?>
                                                </div>
                                                <div class="col-md-8" style="text-align: right">
                                                    <?= $this->formInput($frm->get('simpan')) ?> <a href="<?= $this->url('pendataan_sspd') ?>" class="btn btn-success">Kembali</a>
                                                </div>
                                            </div>
                                            <div align="right">
                                            </div>
                                            <?= $this->form()->closeTag($frm) ?>
                                        </div>
                                    </div>        
                                </div>    
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<script type="text/javascript">
    jQuery("#t_tglajbbaru").datepicker({
        format: 'dd-mm-yyyy',
        endDate: '0d',
        startDate: '01-05-2015',
        language: 'id',
        autoclose: true
    });
</script>