<!--<link rel="stylesheet" href="<?= $this->basePath(); ?>/public/uploadmen/internet/css/bootstrap.min.css">-->

<!--<link rel="stylesheet" href="<?= $this->basePath(); ?>/public/uploadmen/css/style.css">-->
<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="<?= $this->basePath(); ?>/public/uploadmen/internet/css/blueimp-gallery.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="<?= $this->basePath(); ?>/public/uploadmen/css/jquery.fileupload.css">
<link rel="stylesheet" href="<?= $this->basePath(); ?>/public/uploadmen/css/jquery.fileupload-ui.css">

<style>
    /* Hide Angular JS elements before initializing */
    .ng-cloak {
        display: none;
    }
</style>
<div class="content-wrapper">
    <section class="content">


        <div class="box box-success" style="border: 1px solid #00a65a;">
            <div class="box-header with-border bg-green-gradient">
                <center>
                    <h3 class="box-title">UPLOAD FILE PERSYARATAN SSPD BPHTB<br>
                        (<?= $namasyarat->s_namapersyaratan; ?>) </h3>
                </center>
            </div><!-- /.box-header -->
            <div class="modal-footer">
                <div class="pull-right">
                    <a href="<?= $this->url() ?>/uploadfilesyarat?t_idspt=<?= $datasspd['t_idspt']; ?>"
                        class="btn btn-primary btn-flat btn-sm">Kembali</a>
                </div>
            </div>
            <div class="box-body">

                <!-- The file upload form used as target for the file upload widget <?= $this->url(); ?>/uploadsyaratpost-->
                <form id="fileupload" action="" method="POST" enctype="multipart/form-data" data-ng-app="demo"
                    data-ng-controller="DemoFileUploadController" data-file-upload="options"
                    data-ng-class="{'fileupload-processing': processing() || loadingFiles}">

                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                    <div class="row fileupload-buttonbar">
                        <div class="col-lg-7">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Tambah File...</span>
                                <input type="file" name="files[]" multiple ng-disabled="disabled">
                            </span>
                            <!--<button type="button" class="btn btn-primary start" data-ng-click="submit()">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>-->
                            <!-- The global file processing state -->
                            <span class="fileupload-process"></span>
                        </div>
                        <!-- The global progress state -->
                        <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                            <!-- The global progress bar -->
                            <div class="progress progress-striped active" data-file-upload-progress="progress()">
                                <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
                            </div>
                            <!-- The extended global progress state -->
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                    </div>
                    <!-- The table listing the files available for upload/download -->
                    <table class="table table-striped files ng-cloak">
                        <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                            <td data-ng-switch data-on="!!file.thumbnailUrl">
                                <div class="preview" data-ng-switch-when="true">
                                    <a data-ng-href="{{ file.url }}" title="{{ file.name }}" download="{{ file.name }}"
                                        data-gallery><img data-ng-src="{{ file.thumbnailUrl }}" alt=""></a>
                                </div>
                                <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                                <input type="hidden" name="t_idspt" value="<?= $idspt; ?>">
                                <input type="hidden" name="idsyarat" value="<?= $idsyarat; ?>">
                                <input name="idjenistransaksi" type="hidden"
                                    value="<?= $datasspd['t_idjenistransaksi']; ?>">
                                <input name="t_iddetailsptbphtb" type="hidden"
                                    value="<?= $datasspd['t_iddetailsptbphtb']; ?>">

                                <input name="foldertahun" type="hidden" value="<?= $datasspd['t_periodespt']; ?>">
                                <input name="foldertransaksi" type="hidden"
                                    value="<?= str_replace(' ', '', strtolower($datasspd['s_namajenistransaksi'])); ?>">
                                <input name="folderidspt" type="hidden" value="<?= $datasspd['t_idspt']; ?>">
                                <input name="folderiddetailspt" type="hidden"
                                    value="<?= $datasspd['t_iddetailsptbphtb']; ?>">
                            </td>
                            <td>
                                <p class="name" data-ng-switch data-on="!!file.url">
                                    <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                        <a data-ng-switch-when="true" data-ng-href="{{ file.url }}" title="{{ file.name }}"
                                            download="{{ file.name }}" data-gallery>{{ file.name }}</a>
                                        <a data-ng-switch-default data-ng-href="{{ file.url }}" title="{{ file.name }}"
                                            download="{{ file.name }}">{{ file.name }}</a>
                                    </span>
                                    <span data-ng-switch-default>{{ file.name }}</span>
                                </p>
                                <strong data-ng-show="file.error" class="error text-danger">{{ file.error }}</strong>
                            </td>
                            <td>
                                <p class="size">{{ file.size | formatFileSize }}</p>
                                <div class="progress progress-striped active fade"
                                    data-ng-class="{pending: 'in'}[file.$state()]"
                                    data-file-upload-progress="file.$progress()">
                                    <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()"
                                    data-ng-hide="!file.$submit || options.autoUpload"
                                    data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start</span>
                                </button>
                                <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()"
                                    data-ng-hide="!file.$cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel</span>
                                </button>
                                <button data-ng-controller="FileDestroyController" type="button"
                                    class="btn btn-danger destroy" data-ng-click="file.$destroy()"
                                    data-ng-hide="!file.$destroy">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
                <br>

                <div class="panel-heading">
                    <h3 class="panel-title">Catatan :</h3>
                </div>
                <div class="panel-body">
                    <?php
            /*$datasyaratcari = $this->MenuHelper()->GetDataSyarat($datasspd["t_idjenistransaksi"]);
            
            foreach ($datasyaratcari as $datasyarat) {
                
                   echo $datasyarat['s_namapersyaratan']."<br>";
            }*/
            ?>

                    <ul>
                        <li>Hanya file image (JPG,PNG,PDF)</li>

                    </ul>
                </div>


            </div>

        </div>
</div>
</section>
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>


<!--<script src="<?= $this->basePath(); ?>/public/uploadmen/internet/js/jquery.min.js"></script>-->
<script src="<?= $this->basePath(); ?>/public/uploadmen/internet/js/angular.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="<?= $this->basePath(); ?>/public/uploadmen/js/vendor/jquery.ui.widget.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="<?= $this->basePath(); ?>/public/uploadmen/internet/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="<?= $this->basePath(); ?>/public/uploadmen/internet/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="<?= $this->basePath(); ?>/public/uploadmen/internet/js/bootstrap.min.js"></script>
<!-- blueimp Gallery script -->
<script src="<?= $this->basePath(); ?>/public/uploadmen/internet/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="<?= $this->basePath(); ?>/public/uploadmen/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="<?= $this->basePath(); ?>/public/uploadmen/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="<?= $this->basePath(); ?>/public/uploadmen/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="<?= $this->basePath(); ?>/public/uploadmen/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="<?= $this->basePath(); ?>/public/uploadmen/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="<?= $this->basePath(); ?>/public/uploadmen/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="<?= $this->basePath(); ?>/public/uploadmen/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload Angular JS module -->
<script src="<?= $this->basePath(); ?>/public/uploadmen/js/jquery.fileupload-angular.js"></script>
<!-- The main application script -->
<script>
    var idspt = '<?= $idspt;?>';
    var idsyarat = '<?= $idsyarat;?>';
</script>
<script src="<?= $this->basePath(); ?>/public/uploadmen/js/app.js"></script>