<style type="text/css">

    /*@page { margin: 180px 50px; }
            #header { position: fixed; left: 0px; top: -150px; right: 0px; height: 50px; background-color: white; text-align: center; }
            #header img { position: absolute;
                          float:left;

            }
            #footer { position: fixed; left: 0px; bottom: -180px; right: 0px; height: 50px; background-color: white; }
            #footer .page:after { content: counter(page, upper-roman); }

    */
    .kotak{

        border: 1px black solid;

    }
    .tengah {
        float: none;
        margin: 0 auto;
    }

    .border_putus {
        border-top: 1px black dashed;
    }

    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }

    .font_besar {
        font-size: 12pt;
    }

    .font_kecil {
        font-size: 10pt;
    }

    .font_lima {
        font-size: 7pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }  

    .font_delapan {
        font-size: 8pt;
    }    

    .font_sembilan {
        font-size: 9pt;
    }    
    /*@page {
        margin-top: 1.5em;  
        margin-left: 3.8em;          
    }*/
</style>
<div style="page-break-after: always;width: 100%;" >
    <?php
    if (!function_exists('kekata')) {

        function kekata($x) {
            $x = abs($x);
            $angka = array("", "Satu", "Dua", "Tiga", "Empat", "Lima",
                "Enam", "Tujuh", "Delapan", "Sembilan", "Sepuluh", "Sebelas");
            $temp = "";
            if ($x < 12) {
                $temp = " " . $angka[$x];
            } else if ($x < 20) {
                $temp = kekata($x - 10) . " Belas";
            } else if ($x < 100) {
                $temp = kekata($x / 10) . " Puluh" . kekata($x % 10);
            } else if ($x < 200) {
                $temp = " Seratus" . kekata($x - 100);
            } else if ($x < 1000) {
                $temp = kekata($x / 100) . " Ratus" . kekata($x % 100);
            } else if ($x < 2000) {
                $temp = " Seribu" . kekata($x - 1000);
            } else if ($x < 1000000) {
                $temp = kekata($x / 1000) . " Ribu" . kekata($x % 1000);
            } else if ($x < 1000000000) {
                $temp = kekata($x / 1000000) . " Juta" . kekata($x % 1000000);
            } else if ($x < 1000000000000) {
                $temp = kekata($x / 1000000000) . " Milyar" . kekata(fmod($x, 1000000000));
            } else if ($x < 1000000000000000) {
                $temp = kekata($x / 1000000000000) . " Trilyun" . kekata(fmod($x, 1000000000000));
            }
            return $temp;
        }

    }

    function terbilang($x, $style = 4) {
        if ($x < 0) {
            $hasil = "MINUS " . trim(kekata($x));
        } else {
            $hasil = trim(kekata($x));
        }
        switch ($style) {
            case 1:
                $hasil = strtoupper($hasil);
                break;
            case 2:
                $hasil = strtolower($hasil);
                break;
            case 3:
                $hasil = ucwords($hasil);
                break;
            default:
                $hasil = ucfirst($hasil);
                break;
        }
        return $hasil;
    }
    ?>
    <table width="100%">
            <tr>
                <td width="10%"><center>
                    <img width="50" title="LOGO <?= $data_pemda->s_namakabkot; ?>" src="http://<?= $_SERVER['HTTP_HOST']; ?>/<?= $this->basePath(); ?>/<?= $data_pemda->s_logo ?>"/>
					</center>
                </td>
                <td width="80%"><center>
                        <b>PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot); ?></b><br>
                        <b style="font-size: 20px"><?= strtoupper($data_pemda->s_namainstansi); ?> </b><br>
                        <a style="font-size: 12px"><?= ($data_pemda->s_alamatinstansi); ?> Telp <?= $data_pemda->s_notelinstansi?></a><br>
                        
                </td>
                <td width="10%">
                </td>
                </tr>
               
            </table>
    <hr>
    <table align="center">
        <thead>
            <tr>
                <th>
                    <b> KEPUTUSAN KEPALA <?= strtoupper($data_pemda->s_namainstansi); ?>  <?= strtoupper($data_pemda->s_namakabkot); ?> </b><br>
                    <br>
                    <b colspan="10"> NOMOR : <?= strtoupper($datapengurangan['t_nosk']) ?> </b>
                </th>

            </tr>
        </thead>
    </table>
</center><br>
<center>
    <table align="center">
        <thead>
            <tr>

                <th>
                    <b> TENTANG </b><br>
                    <b> PEMBERIAN PENGURANGAN </b><br>
                    <b> BEA PEROLEHAN HAK ATAS TANAH DAN BANGUNAN </b> <br>
                    <b> YANG TERHUTANG </b><br>
                    <br>
                    <b> KEPALA <?= strtoupper($data_pemda->s_namainstansi); ?> <?= strtoupper($data_pemda->s_namakabkot); ?>  </b><br>
                </th>
            </tr>
        </thead>
    </table>
</center><br>
<table align="center" width="100%">
    <tr>
        <td>
            Membaca   
        </td>
        <td width="1%"> 
            :
        </td>

        <td colspan="12">
            Surat permohonan pengurangan Bea Perolehan Hak Atas Tanah Dan Bangunan atas
        </td>

    </tr>
    <tr>
        <td></td><td></td>
        <td>
            Nama
        </td>
        <td colspan="10">
            <?= strtoupper($datapengurangan['t_namawppembeli']) ?>  
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td>
            Nomor
        </td>
        <td colspan="3">
            <?= $datapengurangan['t_kohirspt'] ?> 
        </td>
        <td>
            Tanggal 
        </td>
        <td colspan="3">
            <?= date('d-m-Y', strtotime($datapengurangan['t_tglprosesspt'])) ?>  
        </td>
    </tr>
</table>
<table align="center" width="100%">
    <tr>
        <td style="vertical-align:top;">
            Menimbang 
        </td>
        <td style="vertical-align:top; width:1%;">
            :
        </td>

        <td style="vertical-align:top; width:1%; padding: 0px;"> 
            a. 
        </td>
        <td colspan="20">
            Hasil pemeriksaan atas permohonan pengurangan Bea Perolehan Hak atas Tanah dan 
            Bangunan yang terhutang sebagaimana dituangkan dalam Berita Acara Pemeriksaan:
        </td>
    </tr>

    <tr>
        <td></td><td></td><td></td>
        <td>
            Nomor
        </td>
        <td colspan="1">
            <?= substr($datapengurangan['t_nosk'],0,-4) ?>K<?= substr($datapengurangan['t_nosk'],4) ?>
        </td>
        <td>
            Tanggal
        </td> 
        <td colspan="3">
            <?= date('d-m-Y', strtotime($datapengurangan['t_tglpengurangan'])) ?> 
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td style="vertical-align:top; width:1%; padding: 0px">
            b. 
        </td>
        <td colspan="20">
            bahwa terdapat/tidak dapat *) cukup alasan untuk mengurangkan besarnya Bea Perolehan
            Hak atas Tanah dan Bangunan yang Terhutang;  
        </td>
    </tr>
</table>
<table align="center" width="100%">
    <tr>
        <td style="vertical-align:top;">
            Mengingat 
        </td>
        <td style="vertical-align:top; width:1%">
            :
        </td>
        <td style="vertical-align:top; width: 1%; padding: 0px;">
            1.
        </td>
        <td colspan="20">
            Peraturan Daerah Kabupaten LANDAK Nomor 2 Tahun 2011 Tentang Bea Perolehan Hak atas Tanah dan Bangunan
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td style="vertical-align:top; width:1%; padding: 0px;">
            2.
        </td>
        <td colspan="20">
            Peraturan Bupati LANDAK Nomor 2 Tahun 2011 Tentang Pemberian Pengurangan Bea Perolehan Hak atas Tanah dan Bangunan
        </td>
    </tr>
</table>
<br>
<center>
    <table align="center">

        <tr>
            <td>
                MEMUTUSKAN :
            </td>
        </tr>

    </table>
</center>
<br>
<table align="center" width="100%">
    <tr>
        <td style="vertical-align:top;">
            Menetapkan
        </td>
        <td style="vertical-align:top; width: 1%;">
            :
        </td>
        <td colspan="20"> KEPUTUSAN KEPALA BADAN PENDAPATAN DAERAH KABUPATEN LANDAK TENTANG PEMBERIAN PENGURANGAN BEA PEROLEHAN HAK ATAS TANAH DAN BANGUNAN YANG TERHUTANG</td>
    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr>
        <td style="vertical-align:top;">
            PERTAMA
        </td>
        <td style="vertical-align:top; width: 1%">
            :
        </td>
        <td colspan="20">
            Mengabulkan seluruhnya/mengabulkan sebagian/menolak permohonan pengurangan Bea Perolehan Hak atas Tanah dan Bangunan (BPHTB) yang terutang kepada Wajib Pajak:
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td colspan="8">
            Nama Wajib Pajak
        </td>
        <td style="width:1%;">
            :
        </td>
        <td colspan="10">
<?= strtoupper($datapengurangan['t_namawppembeli']) ?> 
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td colspan="8">
            Alamat Wajib Pajak
        </td>
        <td style="width:1%; padding: 0px;">
            :
        </td>
        <td colspan="10">
<?= strtoupper($datapengurangan['t_alamatwppembeli']) ?> <br>
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td colspan="8">
            Letak Objek Pajak
        </td>

        <td style="width:1%; padding: 0px;">
            :
        </td>
        <td colspan="10">
<?= strtoupper($datapengurangan['t_alamatop']) ?>
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td colspan="8">
            Tahun BPHTB
        </td>

        <td style="width:1%; padding: 0px;">
            :
        </td>
        <td colspan="10">
<?= strtoupper($datapengurangan['t_periodespt']) ?>
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td colspan="20">
            Atas perolehan hak atas tanah dan atau bangunan dengan : 
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td colspan="20">
            Akta / Risalah Lelang/ Keputusan Pemberian Hak / Putusan Hakim / Dokumen Lainnya **): 
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td style="width: 1%; padding: 0px">
            -
        </td>
        <td colspan="5">
            Nomor
        </td>
        <td style="width: 1%; padding: 0px">
            :
        </td>
        <td colspan="10">
<?= $datapengurangan['t_kohirspt'] ?> 
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td style="width: 1%; padding: 0px">
            -
        </td>
        <td colspan="5">
            Tanggal
        </td>
        <td style="width: 1%; padding: 0px">
            :
        </td>
        <td colspan="10">
<?= $datapengurangan['t_tglprosesspt'] ?>
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td colspan="5">
            NOP
        </td>
        <td></td>
        <td style="width: 1%; padding: 0px">
            :
        </td>
        <td colspan="10">
<?= strtoupper($datapengurangan['t_nopbphtbsppt']) ?>
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td colspan="5">
            Letak Obyek
        </td>
        <td></td>
        <td style="width: 1%; padding: 0px">
            :
        </td>
        <td colspan="10">
<?= strtoupper($datapengurangan['t_alamatop']) ?>
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td colspan="5">
            Kelurahan
        </td>
        <td></td>
        <td style="width: 1%; padding: 0px">
            :
        </td>
        <td colspan="10">
<?= strtoupper($datapengurangan['t_kelurahanop']) ?>
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td colspan="5">
            Kecamatan
        </td>
        <td></td>
        <td style="width: 1%; padding: 0px">
            :
        </td>
        <td colspan="10">
<?= strtoupper($datapengurangan['t_kecamatanop']) ?>
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td colspan="5">
            Kota
        </td>
        <td></td>
        <td style="width: 1%; padding: 0px">
            :
        </td>
        <td colspan="10">
<?= strtoupper($datapengurangan['t_kabupatenop']) ?>
        </td>
    </tr>

</table>
<br>
<table align="center" width="100%">
    <tr>
        <td style="vertical-align: top;">
            KEDUA
        </td>
        <td></td>
        <td style="vertical-align: top; width: 1%; padding: 0px;">
            :
        </td>
        <td colspan="20">
            Sesuai dengan keputusan Sebagaimana dimaksud pada diktum PERTAMA, maka Besarnya BPHTB yang seharusnya dibayar adalah sebagaimana berikut:
        </td>
    </tr>
    <tr>
        <td></td><td></td><td></td>
        <td style="width:1%; padding: 0px;">
            a.
        </td>
        <td colspan="13">
            BPHTB Terhutang
        </td>
        <td style="width:1%; padding: 0px;">
            Rp.
        </td>
        <td>
<?= number_format($datapengurangan['t_totalsptsebelumnya'], 2, ',', '.') ?>
        </td>
    </tr>
    <tr>
        <td></td><td></td><td></td>
        <td style="width:1%; padding: 0px;">
            b.
        </td>
        <td colspan="13">
            Besarnya Pengurangan
        </td>
        <td style="width:1%; padding: 0px;">
            Rp.
        </td>
        <td>
<?= number_format($datapengurangan['t_pengurangan'], 2, ',', '.') ?>
        </td>
    </tr>
    <tr>
        <td></td><td></td><td></td>
        <td style="width:1%; padding: 0px;">
            c.
        </td>
        <td colspan="13">
            Jumlah BPHTB yang seharusnya dibayar 
        </td>
        <td style="width:1%; padding: 0px;">
            Rp.
        </td>
        <td>
<?= number_format($datapengurangan['t_totalpajak'], 2, ',', '.') ?>
        </td>
    </tr>
    <tr>
        <td></td><td></td><td></td>
        <td>
            Sebesar
        </td>
        <td style=" width:1%; padding: 0px;">
            :
        </td>
        <td colspan="20">
<?php
$totalpajak = $datapengurangan['t_totalpajak'];
//echo ucwords(strtolower(terbilang($nilaipembayaranspt) . " Rupiah"));
if ($totalpajak != 0) {
    echo ucwords(strtolower(terbilang($totalpajak) . " Rupiah"));
} else {
    echo 'Nihil';
}

//}
?>
        </td>
    </tr>
</table>
<br>
<table align="center" width="100%">
    <tr>
        <td style="vertical-align: top;">
            KETIGA
        </td>
        
        <td style="vertical-align: top; width:1%; padding: 0px;">
            :
        </td>
        <td colspan="12">
            Apabila dikemudian hari ternyata terdapat kekeliruan dalam keputusan ini maka akan dibetulkan sebagaimana mestinya
        </td>
    </tr>
</table>
<br>
<table align="center" width="100%">
    <tr>
        <td style="vertical-align: top;">
            KEEMPAT
        </td>
        <td style="vertical-align: top; width:1%; padding: 0px;">
            :
        </td>
        <td style=" vertical-align: top; width:1%; padding: 0px;">
            a.
        </td>
        <td colspan="20">
            Asli keputusan ini disampaikan kepada Wajib Pajak
        </td>
    </tr>
    <tr>
        <td></td><td></td>
        <td style=" vertical-align: top; width:1%; padding: 0px;">
            b.
        </td>
        <td colspan="20">
            Salinan  keputusan ini disimpan sebagai arsip Badan Pendapatan Daerah Kabupaten LANDAK
        </td>
    </tr>
</table>
<br><br>
<table align="right">
    <tr>
        <td align="justify">Ditetapkan di  <?= $data_pemda->s_namaibukotakabkot ?></td>
    </tr>
    <tr>
        <td align="justify">Pada Tanggal   <?= date('d-m-Y') ?></td>
    </tr>
    <br><br>
    <tr>
        <td align="left">KEPALA BADAN PENDAPATAN DAERAH</td>
    </tr>
    <tr>
        <td align="center">KABUPATEN LANDAK</td>
    </tr>
    <tr>
        <td align="left">&nbsp;</td>
    </tr>
    <tr>
        <td align="left">&nbsp;</td>
    </tr>
    <tr>
        <td align="left">&nbsp;</td>
    </tr>
    <tr>
        <td align="center" style="text-decoration: underline;">EPENDI, S.Sos., MM  </td>
    </tr>
    <tr>
        <td align="center">PEMBINA UTAMA MUDA / IV/c  </td>
    </tr>            
    <tr>
        <td align="center">NIP.19650514 198603 1 011  </td>
    </tr>
</table>
</div>
