<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<div class="content-wrapper">
    <section class="content">
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header with-border bg-blue-gradient">
                <center>
                    <h3 class="box-title">DATA PARAF PENANDATANGANAN</h3>
                </center>
            </div>
            <div class="box-body">
                <?php echo $this->partial('bphtb/flash-message.phtml'); ?>
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" id="btn-tab-1" data-toggle="tab">Belum</a></li>
                        <li><a href="#tab_2" id="btn-tab-2" data-toggle="tab">Sudah</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <?= $this->partial("tab-belum.phtml") ?>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <?= $this->partial("tab-sudah.phtml") ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<style>
    .dataTables_filter{
        display: none;
    }
</style>