<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">LOGIN LOG</h3>
                    </div>
                    <div class="box-body">
                        <table id="gridLoginLog" width="100%">
                            <thead>
                                <tr class="bg-blue">
                                    <th>No</th>
                                    <th>CREATED AT</th>
                                    <th>USERNAME</th>
                                    <th>MESSAGE</th>
                                    <th>IPADDRESS</th>
                                </tr>
                                <tr>
                                    <td>No</td>
                                    <td>CREATED AT</td>
                                    <td>USERNAME</td>
                                    <td>MESSAGE</td>
                                    <td>IPADDRESS</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript">
    var dTable;

    $('#gridLoginLog thead td').each(function() {
        var title = $(this).text();

        if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
            $(this).html('');
        } else {
            $(this).html('<input type="text" class="form-control column_search" placeholder="' + title.trim().replace(/\s+/, "").toLowerCase() + '">');
        }

        if (title.trim().replace(/\s+/, "").toLowerCase() == 'createdat') {
            $(this).html('');
        }
        if (title.trim().replace(/\s+/, "").toLowerCase() == 'message') {
            $(this).html('');
        }
        if (title.trim().replace(/\s+/, "").toLowerCase() == 'ipaddress') {
            $(this).html('');
        }
    });

    $('#gridLoginLog thead td').on('keyup', ".column_search", function() {

        dTable
            .column($(this).parent().index())
            .search(this.value)
            .draw();
    });

    $('#gridLoginLog thead td').on('keyup change', "select", function() {

        dTable.column($(this).parent().index())
            .search(this.value)
            .draw();
    });

    dTable = $('#gridLoginLog').DataTable({
        "orderCellsTop": true,
        "bProcessing": true,
        "bServerSide": true,
        "bJQueryUI": false,
        "responsive": false,
        "sAjaxSource": "<?= $this->url() ?>/dataGridLoginLog",
        "sServerMethod": "POST",
        "iDisplayLength": 10,
        "aLengthMenu": [
            [10, 25, 50, 100],
            [10, 25, 50, 100]
        ],
        "aaSorting": [
            [0, "asc"]
        ],
        "bPaginate": true,
        "bLengthChange": true,
        "bFilter": true,
        "bInfo": true,
        "bAutoWidth": false,
        "scrollX": true,
        "oLanguage": {
            "sEmptyTable": "No incompleted albums found!", //when empty
            "sSearch": "<span>Pencarian:</span> _INPUT_", //search
            "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
            "sZeroRecords": "<center>Tidak ada data</center>",
            "sEmptyTable": "<center>Tidak ada data</center>",
            "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
            "sInfoEmpty": "Tidak ada data",
            "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
            "sLoadingRecords": "Loading...",
            "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
            "oPaginate": {
                "sFirst": "First",
                "sLast": "Last",
                "sNext": ">>",
                "sPrevious": "<<"
            } //pagination
        },
        "columnDefs": [{
            "orderable": false,
            "targets": [0, 3, 4],
            "searchable": false
        }]
    });

    $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');
</script>