<!-- Content Wrapper. Contains page content -->



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!--<section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>-->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">
                <!-- quick email widget -->
                <div class="box box-info">
                    
                    <div class="box-body">
                        <div class="row">
                            
                                <!-- Progress bars -->
                                <div class="clearfix" align="center"> 
                                    <img src="<?= $data_pemda->s_logo ?>" alt="" width="150">
                                </div>
                                <div class="clearfix" align="center">
                                	<span style="font-size: 16px"><b>PROVINSI <?= strtoupper($data_pemda->s_namaprov) ?></b></span>
                                	<br>
                                    <span style="font-size: 20px"><b>PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot) ?></b></span>
                                    <br>
                                    <span style="font-size: 20px"><b><?= strtoupper($data_pemda->s_namainstansi) ?></b></span>
                                    <br>
                                    <span style="font-size: 24px"><b>(<?= $data_pemda->s_namasingkatinstansi ?>)</b></span>
                                    <br>
                                    <b><?= $data_pemda->s_alamatinstansi ?>, Telp. <?= $data_pemda->s_notelinstansi ?></b>
									<br>
									<?php
                                    if($role_id == 3){
                                        echo "<span>*Untuk User Manual Aplikasi E-BPHTB <strong>NOTARIS dan PPATS</strong> silahkan klik <a href='files/USER_MANUAL_E-BPHTB_Notaris.pdf' target='_blink'>disini</a></span>";
                                    }else{
                                        echo "";
                                    }
                                    //elseif($role_id == 1){
                                    //     echo "<span>*Untuk User Manual Aplikasi BPHTB silahkan klik <a href='files/UserManualSIM-BPHTB.pdf' target='_blink'>disini</a></span>";
                                    // }elseif($role_id == 2){
                                    //     echo "<span>*Untuk User Manual Aplikasi BPHTB silahkan klik <a href='files/BPHTB_PENGGUNA_PEGAWAI_VALIDASI.pdf' target='_blink'>disini</a></span>";
                                    // }elseif($role_id == 8){
                                    //     echo "<span>*Untuk User Manual Aplikasi BPHTB silahkan klik <a href='files/BPHTB_PENGGUNA_PEGAWAI_VALIDASI.pdf' target='_blink'>disini</a></span>";
                                    // }elseif ($role_id == 5) {
                                    //     echo "<span>*Untuk User Manual Aplikasi BPHTB silahkan klik <a href='files/BPHTB_PENGGUNA_PEGAWAI_VALIDASI.pdf' target='_blink'>disini</a></span>";
                                    // }elseif ($role_id == 4) {
                                    //     echo "<span>*Untuk User Manual Aplikasi BPHTB silahkan klik <a href='files/BPHTB_PENGGUNA_PEGAWAI_VALIDASI.pdf' target='_blink'>disini</a></span>";
                                    // }
                                    
                                    
                                    ?>
                                </div>
                            
                        </div><!-- /.row -->
                        
                    </div>
                </div>
            </section><!-- /.Left col -->
        </div><!-- /.row (main row) -->
        
        <?php 
            if( ($role_id == 1)){
                
                if(($role_id == 1) ){
                    $link_verifikasi_berkas = '<a href="'.$this->url('verifikasi_berkas').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>';
                    $link_verifikasi = '<a href="'.$this->url('verifikasi_spt').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>';
                    $link_pembayaran = '<a href="'.$this->url('pembayaran_sptbphtb').'" class="small-box-footer">Lihat Tabel <i class="fa fa-arrow-circle-right"></i></a>';
                    
                }else{
                    $link_verifikasi_berkas = '<a href="" class="small-box-footer">&nbsp;</a>';
                    $link_verifikasi = '<a href="" class="small-box-footer">&nbsp;</a>';
                    $link_pembayaran = '<a href="" class="small-box-footer">&nbsp;</a>';
                }
                
                echo '<div class="row">
                        <div class="col-lg-6 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <center><h3>'.$datapendataan.'</h3>
                              <p>JUMLAH PENDAFTARAN</p></center>
                            </div>

                            <a href="'.$this->url('pendataan_sspd').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-6 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-maroon">
                            <div class="inner">
                              <center><h3>'.$dataverifikasiberkas.'</h3>
                              <p>JUMLAH VERIFIKASI BERKAS</p></center>
                            </div>

                            '.$link_verifikasi_berkas.'
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-4 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-green">
                            <div class="inner">
                              <center><h3>'.$dataverifikasi.'</h3>
                              <p>JUMLAH VALIDASI</p></center>
                            </div>

                            '.$link_verifikasi.'
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-4 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-yellow">
                            <div class="inner">
                              <center><h3>'.$datapembayaran.'</h3>
                              <p>JUMLAH PEMBAYARAN</p></center>
                            </div>

                            '.$link_pembayaran.'
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-4 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-red">
                            <div class="inner">
                              <center><h3>'.$countpembayaranlapor.'</h3>
                              <p>JUMLAH PELAPORAN</p></center>
                            </div>

                            <a href="'.$this->url('pelaporan_notaris').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                      </div>';
            
            }else if( ($role_id == 8)){
                
                if( ($role_id == 8)){
                    $link_verifikasi_berkas = '<a href="'.$this->url('verifikasi_berkas').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>';
                    $link_pembayaran = '<a href="'.$this->url('pembayaran_sptbphtb').'" class="small-box-footer">Lihat Tabel <i class="fa fa-arrow-circle-right"></i></a>';
                    
                }else{
                    $link_verifikasi_berkas = '<a href="" class="small-box-footer">&nbsp;</a>';
                    $link_pembayaran = '<a href="" class="small-box-footer">&nbsp;</a>';
                }

                echo '<div class="row">
                        <div class="col-lg-4 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <center><h3>'.$datapendataan.'</h3>
                              <p>JUMLAH PENDAFTARAN</p></center>
                            </div>

                            <a href="'.$this->url('pendataan_sspd').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-4 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-maroon">
                            <div class="inner">
                              <center><h3>'.$dataverifikasiberkas.'</h3>
                              <p>JUMLAH VERIFIKASI BERKAS</p></center>
                            </div>

                            '.$link_verifikasi_berkas.'
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-4 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-red">
                            <div class="inner">
                              <center><h3>'.$countpembayaranlapor.'</h3>
                              <p>JUMLAH PELAPORAN</p></center>
                            </div>

                            <a href="'.$this->url('pelaporan_notaris').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                      </div>';

            }else if ( ($role_id == 2)) {
                
                if( ($role_id == 2) ){
                    
                    $link_verifikasi = '<a href="'.$this->url('verifikasi_spt').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>';
                    $link_pembayaran = '<a href="'.$this->url('pembayaran_sptbphtb').'" class="small-box-footer">Lihat Tabel <i class="fa fa-arrow-circle-right"></i></a>';
                    
                }else{
                    
                    $link_verifikasi = '<a href="" class="small-box-footer">&nbsp;</a>';
                    $link_pembayaran = '<a href="" class="small-box-footer">&nbsp;</a>';
                }

                echo '<div class="row">
                        <div class="col-lg-4 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <center><h3>'.$datapendataan.'</h3>
                              <p>JUMLAH PENDAFTARAN</p></center>
                            </div>

                            <a href="'.$this->url('pendataan_sspd').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-4 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-green">
                            <div class="inner">
                              <center><h3>'.$dataverifikasi.'</h3>
                              <p>JUMLAH VALIDASI</p></center>
                            </div>

                            '.$link_verifikasi.'
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-4 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-red">
                            <div class="inner">
                              <center><h3>'.$countpembayaranlapor.'</h3>
                              <p>JUMLAH PELAPORAN</p></center>
                            </div>

                            <a href="'.$this->url('pelaporan_notaris').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                      </div>';
            }else if ( ($role_id == 3)) {

                echo '<div class="row">
                        <div class="col-lg-6 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-aqua">
                            <div class="inner">
                              <center><h3>'.$datapendataan.'</h3>
                              <p>JUMLAH PENDAFTARAN</p></center>
                            </div>

                            <a href="'.$this->url('pendataan_sspd').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div><!-- ./col -->
                        <div class="col-lg-6 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-red">
                            <div class="inner">
                              <center><h3>'.$countpembayaranlapor.'</h3>
                              <p>JUMLAH PELAPORAN</p></center>
                            </div>

                            <a href="'.$this->url('pelaporan_notaris').'" class="small-box-footer">Lihat Data <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                      </div>';
            }else if ( ($role_id == 4)) {
               
               if( ($role_id == 4)){
  
                     $link_pembayaran = '<a href="'.$this->url('pembayaran_sptbphtb').'" class="small-box-footer">Lihat Tabel <i class="fa fa-arrow-circle-right"></i></a>';
                }else{
                    
                    $link_pembayaran = '<a href="" class="small-box-footer">&nbsp;</a>';
                }

                echo '<div class="row">
                        <div class="col-lg-12 col-xs-12">
                          <!-- small box -->
                          <div class="small-box bg-yellow">
                            <div class="inner">
                              <center><h3>'.$datapembayaran.'</h3>
                              <p>JUMLAH PEMBAYARAN</p></center>
                            </div>

                            '.$link_pembayaran.'
                          </div>
                        </div>
                      </div>';
            }
        ?>
        
        
        
        <!-- Main row -->
        <?php $gambar = "http://" . $_SERVER['HTTP_HOST'] . "/" . $this->basePath() . "/public/upload/logo_kudus.jpg" ?>
        
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
  
