<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/tambahSpop');
$form->setAttribute('id', "formtambah");
$form->prepare();
?>
<div class="content-wrapper">
    <section class="content">
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header bg-blue-gradient">
                <center>

                    <h3 class="text-bold">FORM SPOP & LSPOP</h3>
                </center>
                <div class="pull-right">
                    <a href="<?= $this->url() ?>/inputSpop/<?= $idSpt ?>" class="btn btn-danger btn-sm btn-flat">
                        <span class="fa fa-arrow-left"></span>&nbsp;&nbsp;Kembali
                    </a>
                </div>
            </div>
            <div class="box-body">
                <?= $this->form()->openTag($form) ?>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-primary">
                            <div class="box-header bg-blue-gradient">
                                <b>DATA SPOP</b>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    
                                    <div class="col-sm-6">
                                        <div class="box box-primary">
                                            <div class="box-header bg-blue-gradient">
                                                <b>DATA OBJEK PAJAK</b>
                                            </div>
                                            <div class="box-body">
                                                <!-- <div class="form-group-sm row" id="divBidang" th:classappend="${(idJenisPelayanan!=2) ? 'hidden' : ''}">
                                                    <label class="col-sm-4 col-form-label-sm">Jumlah Bidang</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($form->get('t_jmlh_bidang')) ?>
                                                    </div>
                                                    <label class="col-sm-2 col-form-label-sm">Bidang Ke-</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($form->get('t_nomor_bidang')) ?>
                                                        
                                                    </div>
                                                </div> -->
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">NOP</label>
                                                    <div class="col-sm-6">
                                                        <?= $this->formRow($form->get('t_nop')) ?>
                                                    </div>
                                                    <!-- <div class="col-sm-2">
                                                        <button type="button" class="btn btn-sm btn-primary" id="btnCariNOP">
                                                            <span class="fa fa-search"></span>
                                                            CARI
                                                        </button>
                                                    </div> -->
                                                </div>

                                                <!-- <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">NOP Asal</label>
                                                    <div class="col-sm-6">
                                                        <?= $this->formRow($form->get('t_nop_asal')) ?>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <button type="button" class="btn btn-sm btn-primary" id="btnCariNopAsal">
                                                            <span class="fa fa-search"></span>
                                                            CARI
                                                        </button>
                                                    </div>
                                                </div> -->
                                                <!-- <div class="form-group-sm row" th:if="${idJenisPelayanan==1}">
                                                    <label class="col-sm-4 col-form-label-sm">NOP Terdekat</label>
                                                    <div class="col-sm-6">
                                                    <?= $this->formRow($form->get('t_nop_terdekat')) ?>
                                                    </div>
                                                </div> -->
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">RT</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($form->get('t_rt_op')) ?>
                                                    </div>
                                                    <label class="col-sm-2 col-form-label-sm">RW</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($form->get('t_rw_op')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Blok/Kav/No</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_blok_op')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Jalan</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_jalan_op')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kecamatan</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kecamatan_op')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kelurahan/Desa</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kelurahan_op')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kode Blok</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kode_blok_op')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Luas Tanah</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_luas_tanah')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Nomor Sertifikat</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_nomor_sertifikat')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Jenis Tanah</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_jenis_tanah')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row hidden" id="divJumlahBang">
                                                    <label class="col-sm-4 col-form-label-sm">Jumlah Bangunan</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_jmlh_bangunan')) ?>

                                                    </div>
                                                </div>
                                                <div class="form-group-sm row hidden" id="divCreateLspop">
                                                    <label class="col-sm-4 col-form-label-sm"></label>
                                                    <div class="col-sm-8">
                                                        <button type="button" onclick="createLspop()" class="btn btn-sm btn-primary">
                                                            <span class="fa fa-search"></span>
                                                            FORM LSPOP
                                                        </button>
                                                    </div>
                                                    <label class="col-sm-12 col-form-label-sm text-red">*) Klik Form LSPOP setelah masukan jumlah bangunan</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="box box-primary">
                                            <div class="box-header bg-blue-gradient">
                                                <b>DATA WAJIB PAJAK</b>
                                            </div>
                                            <div class="box-body">
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Status Kepemilikan</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('id')) ?>
                                                        <?= $this->formRow($form->get('t_idspt')) ?>
                                                        <?= $this->formRow($form->get('t_jenis_kepemilikan')) ?>

                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Jenis Pekerjaan</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_pekerjaan_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">NIK</label>
                                                    <div class="col-sm-6">
                                                        <?= $this->formRow($form->get('t_nik_wp')) ?>
                                                    </div>
                                                    <!-- <div class="col-sm-2">
                                                        <button type="button" class="btn btn-sm btn-primary" id="btnCariNIK">
                                                            <span class="fa fa-search"></span>
                                                            CARI
                                                        </button>
                                                    </div> -->
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">NPWP</label>
                                                    <div class="col-sm-6">
                                                        <?= $this->formRow($form->get('t_npwp_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Nama</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_nama_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">RT</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($form->get('t_rt_wp')) ?>
                                                    </div>
                                                    <label class="col-sm-1 col-form-label-sm">RW</label>
                                                    <div class="col-sm-2">
                                                        <?= $this->formRow($form->get('t_rw_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Blok/Kav/No</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_blok_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Jalan</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_jalan_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kalurahan/Desa</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kelurahan_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kecamatan</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kecamatan_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kabupaten</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kabupaten_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">NO. HP.</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_no_hp_wp')) ?>
                                                    </div>
                                                </div>
                                                <div class="form-group-sm row">
                                                    <label class="col-sm-4 col-form-label-sm">Kode Pos</label>
                                                    <div class="col-sm-8">
                                                        <?= $this->formRow($form->get('t_kode_pos_wp')) ?>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 hidden" id="divLspop">
                        <div class="box box-primary">
                            <div class="box-header bg-blue-gradient">
                                <b>DATA LSPOP</b>
                            </div>
                            <div class="box-body" id="divBodyLspop">
                                <?php if (isset($dataLspop)) {
                                    foreach ($dataLspop as $key => $value) {
                                ?>
                                        <div class="col-sm-12" id="divBangunan<?= $key + 1 ?>">
                                            <div class="box box-primary">
                                                <div class="box-header bg-blue-gradient"><b>Bangunan ke <?= $key + 1 ?></b></div>
                                                <div class="box-body">
                                                    <hr style="background-color: red; height: 1px">
                                                    <p style="font-weight: bold">DATA BANGUNAN</p>
                                                    <hr>
                                                    <div class="form-group-sm row"><input value="<?= $value['id'] ?>" type="hidden" name="id_lspop[]" id="id_lspop<?= $key + 1 ?>"><label class="col-sm-2 col-form-label-sm">Jumlah Bangunan</label>
                                                        <div class="col-sm-1"><input type="text" class="form-control form-control-sm" id="t_jmlh_bangunan_lspop<?= $key + 1 ?>" name="t_jmlh_bangunan_lspop[]" value="<?= count($dataLspop) ?>" required="" readonly=""></div><label class="col-sm-2 col-form-label-sm">Nomor Bangunan</label>
                                                        <div class="col-sm-1"><input type="text" class="form-control form-control-sm" id="t_nomor_bangunan<?= $key + 1 ?>" name="t_nomor_bangunan[]" value="<?= $value['t_nomor_bangunan'] ?>" required="" readonly=""></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Jenis Transaksi</label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_jenis_transaksi<?= $key + 1 ?>" name="t_jenis_transaksi[]" required="">
                                                                <option value="">Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboJenisTransaksi();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_jenis_transaksi'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Jenis Bangunan</label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_jenis_bangunan<?= $key + 1 ?>" name="t_jenis_bangunan[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboJenisBangunan();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_jenis_bangunan'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Luas Bangunan</label>
                                                        <div class="col-sm-4"><input type="text" class="form-control form-control-sm" id="t_luas_bangunan<?= $key + 1 ?>" name="t_luas_bangunan[]" required="" onkeypress="return numbersonly(this, event)" value="<?= $value['t_luas_bangunan'] ?>"></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Jumlah Lantai</label>
                                                        <div class="col-sm-4"><input type="text" class="form-control form-control-sm" id="t_jumlah_lantai<?= $key + 1 ?>" name="t_jumlah_lantai[]" value="<?= $value['t_jumlah_lantai'] ?>" required="" onkeypress="return numbersonly(this, event)"></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Tahun Dibangun</label>
                                                        <div class="col-sm-1"><input type="text" class="form-control form-control-sm" id="t_tahun_dibangun<?= $key + 1 ?>" name="t_tahun_dibangun[]" required="" onkeypress="return numbersonly(this, event)" maxlength="4" value="<?= $value['t_tahun_dibangun'] ?>"></div><label class="col-sm-2 col-form-label-sm">Tahun Direnovasi</label>
                                                        <div class="col-sm-1"><input type="text" class="form-control form-control-sm" id="t_tahun_direnovasi<?= $key + 1 ?>" name="t_tahun_direnovasi[]" onkeypress="return numbersonly(this, event)" maxlength="4" value="<?= $value['t_tahun_direnovasi'] ?>"></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Daya Listrik Terpasang (Watt)</label>
                                                        <div class="col-sm-4"><input type="text" class="form-control form-control-sm" id="t_daya_listrik<?= $key + 1 ?>" name="t_daya_listrik[]" value="<?= $value['t_daya_listrik'] ?>" required="" onkeypress="return numbersonly(this, event)"></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Kondisi Bangunan</label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_kondisi_bangunan<?= $key + 1 ?>" name="t_kondisi_bangunan[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboKondisiBangunan();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_kondisi_bangunan'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Konstruksi</label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_konstruksi<?= $key + 1 ?>" name="t_konstruksi[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboKontruksi();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_konstruksi'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Atap</label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_atap<?= $key + 1 ?>" name="t_atap[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboAtap();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_atap'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Dinding</label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_dinding<?= $key + 1 ?>" name="t_dinding[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboDinding();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_dinding'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Lantai</label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_lantai<?= $key + 1 ?>" name="t_lantai[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboLantai();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_lantai'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Langit-langit</label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_langit<?= $key + 1 ?>" name="t_langit[]" required="">
                                                                <option>Silahkan Pilih</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboLangit();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_langit'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <hr style="background-color: red; height: 1px">
                                                    <p style="font-weight: bold">DATA FASILITAS</p>
                                                    <hr>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Jumlah AC Split</label>
                                                        <div class="col-sm-1"><input value="<?= $value['t_jmlh_ac_split'] ?>" type="text" class="form-control form-control-sm" id="t_jmlh_ac_split<?= $key + 1 ?>" name="t_jmlh_ac_split[]" required="" onkeypress="return numbersonly(this, event)"></div><label class="col-sm-2 col-form-label-sm">Jumlah AC Window</label>
                                                        <div class="col-sm-1"><input value="<?= $value['t_jmlh_ac_window'] ?>" type="text" class="form-control form-control-sm" id="t_jmlh_ac_window<?= $key + 1 ?>" name="t_jmlh_ac_window[]" required="" onkeypress="return numbersonly(this, event)"></div><label class="col-sm-2 col-form-label-sm">AC Central</label>
                                                        <div class="col-sm-4"><select class="form-control form-control-sm" id="t_ac_central<?= $key + 1 ?>" name="t_ac_central[]" required="">
                                                                <option value="0" <?= $value['t_ac_central'] == '0' ? 'selected' : '' ?>>Tidak Ada</option>
                                                                <option value="1" <?= $value['t_ac_central'] == '1' ? 'selected' : '' ?>>Ada</option>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Luas Kolam Renang</label>
                                                        <div class="col-sm-2"><input value="0" type="text" class="form-control form-control-sm" id="t_luas_kolam1" name="t_luas_kolam[]" required="" onkeypress="return numbersonly(this, event)"></div>
                                                        <div class="col-sm-2"><select class="form-control form-control-sm" id="t_plester_kolam<?= $key + 1 ?>" name="t_plester_kolam[]" required="">
                                                                <option value="0">Tidak Ada</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboJenisKolamRenang();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_plester_kolam'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Luas Perkerasan Halaman</label>
                                                        <div class="col-sm-2"><input value="<?= $value['t_luas_perkerasan_halaman'] ?>" type="text" class="form-control form-control-sm" id="t_luas_perkerasan_halaman<?= $key + 1 ?>" name="t_luas_perkerasan_halaman[]" onkeypress="return numbersonly(this, event)"></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Panjang Pagar</label>
                                                        <div class="col-sm-1"><input value="<?= $value['t_panjang_pagar'] ?>" type="text" class="form-control form-control-sm" id="t_panjang_pagar<?= $key + 1 ?>" name="t_panjang_pagar[]" required="" onkeypress="return numbersonly(this, event)"></div><label class="col-sm-2 col-form-label-sm">Bahan Pagar</label>
                                                        <div class="col-sm-1"><select class="form-control form-control-sm" id="t_bahan_pagar1" name="t_bahan_pagar[]" required="">
                                                                <option value="0">Tidak Ada</option>
                                                                <?php
                                                                $combo = $this->MenuSpopHelper()->getComboBahanPagar();
                                                                foreach ($combo as $key1 => $value1) {
                                                                    $selected = $key1 == $value['t_bahan_pagar'] ? 'selected' : '';
                                                                ?>
                                                                    <option value="<?= $key1 ?>" <?= $selected ?>><?= $value1 ?></option>
                                                                <?php
                                                                }

                                                                ?>
                                                            </select></div>
                                                    </div>
                                                    <div class="form-group-sm row"><label class="col-sm-2 col-form-label-sm">Kedalaman Sumur Artetis</label>
                                                        <div class="col-sm-1"><input value="<?= $value['t_kedalaman_sumur'] ?>" type="text" class="form-control form-control-sm" id="t_kedalaman_sumur<?= $key + 1 ?>" name="t_kedalaman_sumur[]" required="" onkeypress="return numbersonly(this, event)"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                <?php
                                    }
                                } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-save">
                    <span class="fa fa-save"></span>
                    &nbsp;SIMPAN
                </button>
                <div class="modal fade" id="modal-save">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h6 class="modal-title">
                                    <span class="fa fa-save"></span> &nbsp;SIMPAN PERMOHONAN ?
                                </h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Apakah anda ingin menyimpan data permohonan tersebut?</p>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                    <span class="fa fa-times-circle"></span>
                                    &nbsp;Close
                                </button>
                                <button type="submit" class="btn btn-primary btn-sm" id="btnSave">
                                    <span class="fa fa-save"></span>
                                    &nbsp;IYA
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal-cancel">
                    <span class="fa fa-times"></span>
                    &nbsp;CANCEL
                </button>
                <div class="modal fade" id="modal-cancel">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h6 class="modal-title">
                                    <span class="fa fa-exclamation"></span> &nbsp;BATALKAN PENGAJUAN
                                    PERMOHONAN ?
                                </h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Apakah anda yakin ingin membatalkan data permohonan tersebut?</p>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                    <span class="fa fa-times-circle"></span>
                                    &nbsp;Close
                                </button>
                                <a href="<?= $this->url() ?>/inputSpop/<?= $idSpt ?>" class="btn btn-danger btn-sm">
                                    <span class="fa fa-exclamation"></span> &nbsp;IYA
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?= $this->form()->closeTag($form) ?>
        </div>
    </section>
</div>
<script>
    jQuery("[data-mask]").inputmask();

    function createLspop() {
        if ($("#divLspop").hasClass("hidden")) $("#divLspop").removeClass("hidden");

        var nop = $("#nop").val();
        var jumlahBangunan = $("#t_jmlh_bangunan").val();

        clearLspop();

        for (let index = 1; index <= jumlahBangunan; index++) {
            var html = ``;
            html += `<div class="col-sm-12" id="divBangunan` + index + `">`;
            html += `<div class="box box-primary">`;
            html += `<div class="box-header bg-blue-gradient">`;
            html += `<b>Bangunan ke ` + index + `</b>`;
            html += `</div>`;
            html += `<div class="box-body">`;
            html += `<hr style="background-color: red; height: 1px">`;
            html += `<p style="font-weight: bold">DATA BANGUNAN</p>`;
            html += `<hr>`;
            html += `<div class="form-group-sm row">`;
            html += `<input type="hidden" name="id_lspop[]" id="id_lspop` + index + `">`;
            html += `<label class="col-sm-2 col-form-label-sm">Jumlah Bangunan</label>`;
            html += `<div class="col-sm-1">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_jmlh_bangunan_lspop` + index + `" name="t_jmlh_bangunan_lspop[]" value="` + jumlahBangunan + `" required="" readonly>`;
            html += `</div>`;
            html += `<label class="col-sm-2 col-form-label-sm">Nomor Bangunan</label>`;
            html += `<div class="col-sm-1">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_nomor_bangunan` + index + `" name="t_nomor_bangunan[]" value="` + index + `" required="" readonly>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Jenis Transaksi</label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_jenis_transaksi` + index + `" name="t_jenis_transaksi[]" required="">`;
            html += `<option value="">Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboJenisTransaksi();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Jenis Bangunan</label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_jenis_bangunan` + index + `" name="t_jenis_bangunan[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;

            <?php
            $combo = $this->MenuSpopHelper()->getComboJenisBangunan();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</option>`;
            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Luas Bangunan</label>`;
            html += `<div class="col-sm-4">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_luas_bangunan` + index + `" name="t_luas_bangunan[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Jumlah Lantai</label>`;
            html += `<div class="col-sm-4">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_jumlah_lantai` + index + `" name="t_jumlah_lantai[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Tahun Dibangun</label>`;
            html += `<div class="col-sm-1">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_tahun_dibangun` + index + `" name="t_tahun_dibangun[]" required="" onkeypress="return numbersonly(this, event)" maxlength="4">`;
            html += `</div>`;
            html += `<label class="col-sm-2 col-form-label-sm">Tahun Direnovasi</label>`;
            html += `<div class="col-sm-1">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_tahun_direnovasi` + index + `" name="t_tahun_direnovasi[]" onkeypress="return numbersonly(this, event)" maxlength="4">`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Daya Listrik Terpasang (Watt)</label>`;
            html += `<div class="col-sm-4">`;
            html += `<input type="text" class="form-control form-control-sm" id="t_daya_listrik` + index + `" name="t_daya_listrik[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Kondisi Bangunan</label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_kondisi_bangunan` + index + `" name="t_kondisi_bangunan[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboKondisiBangunan();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Konstruksi</label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_konstruksi` + index + `" name="t_konstruksi[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboKontruksi();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Atap</label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_atap` + index + `" name="t_atap[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboAtap();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Dinding</label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_dinding` + index + `" name="t_dinding[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboDinding();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Lantai</label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_lantai` + index + `" name="t_lantai[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboLantai();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Langit-langit</label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_langit` + index + `" name="t_langit[]" required="">`;
            html += `<option>Silahkan Pilih</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboLangit();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<hr style="background-color: red; height: 1px">`;
            html += `<p style="font-weight: bold">DATA FASILITAS</p>`;
            html += `<hr>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Jumlah AC Split</label>`;
            html += `<div class="col-sm-1">`;
            html += `<input value="0" type="text" class="form-control form-control-sm" id="t_jmlh_ac_split` + index + `" name="t_jmlh_ac_split[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `<label class="col-sm-2 col-form-label-sm">Jumlah AC Window</label>`;
            html += `<div class="col-sm-1">`;
            html += `<input value="0" type="text" class="form-control form-control-sm" id="t_jmlh_ac_window` + index + `" name="t_jmlh_ac_window[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `<label class="col-sm-2 col-form-label-sm">AC Central</label>`;
            html += `<div class="col-sm-4">`;
            html += `<select class="form-control form-control-sm" id="t_ac_central` + index + `" name="t_ac_central[]" required="">`;
            html += `<option value="0">Tidak Ada</option>`;
            html += `<option value="1">Ada</option>`;
            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Luas Kolam Renang</label>`;
            html += `<div class="col-sm-2">`;
            html += `<input value="0" type="text" class="form-control form-control-sm" id="t_luas_kolam` + index + `" name="t_luas_kolam[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `<div class="col-sm-2">`;
            html += `<select class="form-control form-control-sm" id="t_plester_kolam` + index + `" name="t_plester_kolam[]" required="">`;
            html += `<option value="0">Tidak Ada</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboJenisKolamRenang();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>

            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Luas Perkerasan Halaman</label>`;
            html += `<div class="col-sm-2">`;
            html += `<input value="0" type="text" class="form-control form-control-sm" id="t_luas_perkerasan_halaman` + index + `" name="t_luas_perkerasan_halaman[]" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Panjang Pagar</label>`;
            html += `<div class="col-sm-1">`;
            html += `<input value="0" type="text" class="form-control form-control-sm" id="t_panjang_pagar` + index + `" name="t_panjang_pagar[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `<label class="col-sm-2 col-form-label-sm">Bahan Pagar</label>`;
            html += `<div class="col-sm-1">`;
            html += `<select class="form-control form-control-sm" id="t_bahan_pagar` + index + `" name="t_bahan_pagar[]" required="">`;
            html += `<option value="0">Tidak Ada</option>`;
            <?php
            $combo = $this->MenuSpopHelper()->getComboBahanPagar();
            foreach ($combo as $key => $value) {
            ?>
                html += `<option value="<?= $key ?>"><?= $value ?></option>`;
            <?php
            }

            ?>
            html += `</select>`;
            html += `</div>`;
            html += `</div>`;
            html += `<div class="form-group-sm row">`;
            html += `<label class="col-sm-2 col-form-label-sm">Kedalaman Sumur Artetis</label>`;
            html += `<div class="col-sm-1">`;
            html += `<input value="0" type="text" class="form-control form-control-sm" id="t_kedalaman_sumur` + index + `" name="t_kedalaman_sumur[]" required="" onkeypress="return numbersonly(this, event)">`;
            html += `</div>`;
            html += `</div>`;
            html += `</div>`;
            html += `</div>`;
            html += `</div>`;
            $("#divBodyLspop").append(html);

        }
    }

    function clearLspop() {
        $("input[name=idLspop]").each(function() {
            // console.log($(this).val());
            if ($(this).val() != "") {
                // var token = $("meta[name='_csrf']").attr("content");
                $.ajax({
                    url: '[[@{/}]]' + "spop/deletelspop",
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        "X-CSRF-TOKEN": token
                    },
                    data: JSON.stringify({
                        idLspop: $(this).val()
                    })
                });
            }
        });
        $("#divBodyLspop").empty();

    }

    const JENIS_TANAH_BANGUNAN = ["1", "4"];

    function cariJenisTanah() {
        clearLspop();

        $("#t_jmlh_bangunan").val("");
        checkJumlahBangunan();

    }

    function checkJumlahBangunan() {
        if (JENIS_TANAH_BANGUNAN.includes($("#t_jenis_tanah").val())) {
            if ($("#divJumlahBang").hasClass("hidden")) $("#divJumlahBang").removeClass("hidden");
            if ($("#divCreateLspop").hasClass("hidden")) $("#divCreateLspop").removeClass("hidden");
            if ($("#divLspop").hasClass("hidden")) $("#divLspop").removeClass("hidden");
            $("#t_jmlh_bangunan").attr("required", true);
        } else {
            if (!$("#divJumlahBang").hasClass("hidden")) $("#divJumlahBang").addClass("hidden");
            if (!$("#divCreateLspop").hasClass("hidden")) $("#divCreateLspop").addClass("hidden");
            if (!$("#divLspop").hasClass("hidden")) $("#divLspop").addClass("hidden");
            $("#t_jmlh_bangunan").removeAttr("required");
        }
    }

    checkJumlahBangunan();
</script>