<?php
echo $this->doctype();
?>

<html lang="en">

<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('e-SAMIN - BPHTB')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

    <!-- Le styles -->
    <?php
    echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/public/upload/Logo_Blora.png'))
        ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')
        ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/plugins/daterangepicker/daterangepicker-bs3.css')
        ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/plugins/datepicker/datepicker3.css')
        ->prependStylesheet($this->basePath() . '/public/css/bootstrap-select.css')
        ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/plugins/jvectormap/jquery-jvectormap-1.2.2.css')
        ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/plugins/morris/morris.css')
        ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/plugins/iCheck/flat/blue.css')
        ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/dist/css/skins/_all-skins.min.css')
        ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/dist/css/AdminLTE.css')
        ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/ionicons.min.css')
        ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/font-awesome.min.css')
        // ->prependStylesheet($this->basePath() . '/public/AdminLTE-2.3.0/bootstrap/css/bootstrap.min.css')
        ->prependStylesheet($this->basePath() . '/public/formwizard/bootstrap.css')
        ->prependStylesheet($this->basePath() . '/public/fleximen/css/flexigrid.pack.css')
        ->prependStylesheet($this->basePath() . '/public/fleximen/css/excite-bike/jquery-ui-1.8.21.custom.css')

        ->prependStylesheet($this->basePath() . '/public/tablebos/assets/media/css/dataTables.responsive.css')
        ->prependStylesheet($this->basePath() . '/public/tablebos/assets/media/css/dataTables.bootstrap.css');
    ?>

    <!-- Scripts -->
    <?php
    echo $this->headScript()
        //                ->prependFile($this->basePath() . '/public/ckeditor/ckeditor.js')
        ->prependFile($this->basePath() . '/public/js/bootstrap-select.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/input-mask/jquery.inputmask.extensions.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/input-mask/jquery.inputmask.date.extensions.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/input-mask/jquery.inputmask.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/dist/js/demo.js')
        //                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/dist/js/pages/dashboard.js')
        //tambahi iki tabelbos
        ->prependFile($this->basePath() . '/public/tablebos/assets/media/js/common.js')
        ->prependFile($this->basePath() . '/public/tablebos/assets/media/js/dataTables.bootstrap.js')
        ->prependFile($this->basePath() . '/public/tablebos/assets/media/js/dataTables.responsive.js')
        ->prependFile($this->basePath() . '/public/tablebos/assets/media/js/jquery.dataTables.js')
        //===== end tabelbos

        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/dist/js/app.min.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/fastclick/fastclick.min.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/slimScroll/jquery.slimscroll.min.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/datepicker/bootstrap-datepicker.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/daterangepicker/daterangepicker.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/moment.min.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/knob/jquery.knob.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/sparkline/jquery.sparkline.min.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/morris/morris.min.js')
        ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/raphael-min.js')
        //                ->prependFile($this->basePath() . '/public/js/jquery.bootstrap.wizard.js')
        ->prependFile($this->basePath() . '/public/js/bootstrap.min.js')
        ->prependFile($this->basePath() . '/public/fleximen/js/flexigrid.pack.js')
        ->prependFile($this->basePath() . '/public/fleximen/js/jquery-1.7.2.min.js')
        //                ->prependFile($this->basePath() . '/public/xcharts/jquery-2.1.0.min.js')
        ->prependFile($this->basePath() . '/public/ui/js/jquery-ui-1.10.3.custom.min.js')
        ->prependFile($this->basePath() . '/public/js/jquery.min.js')


        //                ->prependFile($this->basePath() . '/public/AdminLTE-2.3.0/plugins/jQuery/jQuery-2.1.4.min.js')
        ->prependFile($this->basePath() . '/public/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath() . '/public/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
    ?>
</head>

<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="javascript:void(0)" class="navbar-brand"><b>E-BPHTB</b></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content-wrapper">
            <?= $this->content; ?>
            <?= $this->partial('bphtb/footer.phtml'); ?>
        </div>
</body>

</html>