<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('BPHTB')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/public/img/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/public/css/datepicker.css')
                ->prependStylesheet($this->basePath() . '/public/css/bootstrap-select.css')
                ->prependStylesheet($this->basePath() . '/public/css/style.css')
                ->prependStylesheet($this->basePath() . '/public/css/bootstrap-theme.min.css')
                ->prependStylesheet($this->basePath() . '/public/css/bootstrap.css')
                ->prependStylesheet($this->basePath() . '/public/css/morris.css')
                ->prependStylesheet($this->basePath() . '/public/ui/development-bundle/themes/redmond/jquery.ui.all.css')
                ->prependStylesheet($this->basePath() . '/public/jqgrid/css/ui.jqgrid.css')
                ->prependStylesheet($this->basePath() . '/public/fleximen/css/flexigrid.pack.css')
                ->prependStylesheet($this->basePath() . '/public/fleximen/css/excite-bike/jquery-ui-1.8.21.custom.css')
                ->prependStylesheet($this->basePath() . '/public/easypiechart/jquery.easy-pie-chart.css')
                ->prependStylesheet($this->basePath() . '/public/xcharts/xcharts.min.css')
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()->prependFile($this->basePath() . '/public/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/public/js/jquery.hotkeys.js')
                ->prependFile($this->basePath() . '/public/js/validation/jquery.form-validator.min.js')
                ->prependFile($this->basePath() . '/public/js/bootstrap-datepicker.js')
                ->prependFile($this->basePath() . '/public/js/raphael-min.js')
                ->prependFile($this->basePath() . '/public/js/morris.min.js')
                ->prependFile($this->basePath() . '/public/js/bootstrap-select.js')
                ->prependFile($this->basePath() . '/public/js/bootstrap-hover-dropdown.min.js')
                ->prependFile($this->basePath() . '/public/js/bootstrap.min.js')
                ->prependFile($this->basePath() . '/public/easypiechart/jquery.easy-pie-chart.js')
                ->prependFile($this->basePath() . '/public/xcharts/devoops.js')
                ->prependFile($this->basePath() . '/public/jqgrid/js/i18n/grid.locale-en.js')
                ->prependFile($this->basePath() . '/public/jqgrid/js/jquery.jqGrid.src.js')
                ->prependFile($this->basePath() . '/public/fleximen/js/flexigrid.pack.js')
                ->prependFile($this->basePath() . '/public/fleximen/js/jquery-1.7.2.min.js')
//                ->prependFile($this->basePath() . '/public/xcharts/jquery-2.1.0.min.js')
                ->prependFile($this->basePath() . '/public/ui/js/jquery-ui-1.10.3.custom.min.js')
                ->prependFile($this->basePath() . '/public/js/jquery.min.js')
                ->prependFile($this->basePath() . '/public/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/public/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ?>

        <script type="text/javascript"> jQuery.noConflict()</script>
        <script type="text/javascript" src="<?= $this->basePath() . '/public/locales/bootstrap-datepicker.id.min.js'; ?>"></script> 
    </head>
    <body>        
        <div class="container">
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <center>
                    <b>PT.MITRA PRIMA UTAMA</b><br/>&copy; 2002 - <?php echo date('Y') ?>                   
                </center>                
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
<script type="text/javascript">
            $('body').on('keydown', 'input, select, textarea', function(e) {
                var self = $(this)
                        , form = self.parents('form:eq(0)')
                        , focusable
                        , next
                        ;
                if (e.keyCode == 13) {
                    focusable = form.find('input,a,select,button,textarea').filter(':visible');
                    next = focusable.eq(focusable.index(this) + 1);
                    if (next.length) {
                        next.focus();
                    } else {
                        form.submit();
                    }
                    return false;
                }
            });
            jQuery(document).ready(function() {
                $('[data-toggle="tooltip"]').tooltip();
            });
            function unformatCurrency(num)
            {
                if (num != "" || num != "undefined")
                    num = num.replace(/\$|\,00/g, '').replace(/\$|\./g, '');
                if (num == 0)
                    num = '';
                return num;
            }
            function unformatNumber(num)
            {
                if (num != "" || num != "undefined")
                    num = num.replace(/\$|\.00/g, '').replace(/\$|\./g, '');
                if (num == 0)
                    num = '';
                return num;
            }

            function formatCurrency(num, id)
            {
                if (num != "" || num != "undefined")
                {
                    num = num.replace(/\$|\,00/g, '').replace(/\$|\./g, '');
                    sign = (num == (num = Math.abs(num)));
                    num = Math.floor(num * 100 + 0.50000000001);
                    cents = num % 100;
                    num = Math.floor(num / 100).toString();
                    if (cents < 10)
                        cents = "0" + cents;
                    for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3); i++)
                        num = num.substring(0, num.length - (4 * i + 3)) + '.' + num.substring(num.length - (4 * i + 3));
                    return (((sign) ? '' : '-') + num + ',' + cents);
                    /*			}*/
                }
            }

            //Membuat Format Mata Uang
            function currencyFormatDE(num) {
                return num
                        .toFixed(0) // always two decimal digits
                        .replace(".", ",") // replace decimal point character with ,
                        .replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") // use . as a separator
            }

</script>