<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambah');
$frm->setAttribute('id', "formtambah");
$frm->prepare();
?>
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><span style="font-size: 8pt">Navigasi Setting</span></h3></div>
        <div class="panel-body">
            <?= $this->sidemenu ?>
        </div>        
    </div>    
</div>
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><span style="font-size: 10pt">Setting Kelurahan</span></h3></div>
        <div class="panel-body">
            <fieldset>
                <legend>KELURAHAN</legend>                    
                <div>
                    <?= $this->form()->openTag($frm) ?>
                    <?= $this->formRow($frm->get('s_idkecamatan')) ?>  
                    <?= $this->formHidden($frm->get('s_idkelurahan')) ?>  
                    <?= $this->formRow($frm->get('s_kodekelurahan')) ?>
                    <?= $this->formRow($frm->get('s_namakelurahan')) ?>                                        
                    <div align="right">
                        <?= $this->formInput($frm->get('simpan')) ?> <a href="<?= $this->url('setting_kelurahan_bphtb') ?>" class="btn btn-success">Kembali</a>
                    </div>
                    <?= $this->form()->closeTag($frm) ?>
                </div>
            </fieldset>
        </div>        
    </div>    
</div>