<?php
ini_set("max_execution_time", 500);
foreach ($this->data_sspd as $row) {
    // var_dump($row);
    // exit();
    $data_pemda = $this->data_pemda;
?>
    <table border="0" width="100%" style="border-collapse: collapse; border-spacing: 0px;">
        <tr>
            <td style="width: 5%;">
                <?php
                // $image = $_SERVER['DOCUMENT_ROOT'] . '/' . $this->basePath() . '/' . $data_pemda->s_logo; 
                $image = str_replace("\\", "/", realpath(".")) . '/public/upload/Logo_Blora2.png';
                ?>
                <img width="50" title="LOGO <?= $data_pemda->s_namakabkot; ?>" align="left" src="<?= $image ?>" />
            </td>
            <td style="text-align: center">
                <b>PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot); ?>, <?= strtoupper($data_pemda->s_namaprov); ?></b><br>
                <b><?= strtoupper($data_pemda->s_namainstansi); ?> (<?= strtoupper($data_pemda->s_namasingkatinstansi); ?>)</b><br>
                <b style="font-size: 12px"><?= strtoupper($data_pemda->s_alamatinstansi); ?> Telp/Fax <?= $data_pemda->s_notelinstansi ?>, <?= $data_pemda->s_namaibukotakabkot ?> <?= $data_pemda->s_kodepos ?></b>
            </td>
        </tr>
    </table>
    <hr>
    <table width="100%" style="border-collapse: collapse; border-spacing: 0px;" style="font-size: 12px">
        <tr>
            <td style="text-align: center; font-weight: bold;">BERITA ACARA</td>
        </tr>
    </table>
    <table width="100%" style="border-collapse: collapse; border-spacing: 0px;" style="font-size: 12px">
        <tr>
            <td>
                <p style="text-indent: 30px;">Pada hari ini, <?= $this->MenuHelper()->getNamaHari($tgl_cetak) ?> tanggal <?= date("d", strtotime($tgl_cetak)) ?> bulan <?= $this->MenuHelper()->DateToIndo($tgl_cetak) ?> tahun <?= date("Y", strtotime($data_get["tgl_cetakpenelitian"])) ?> telah dilakukan verifikasi oleh Tim Penilai BPHTB atas transaksi dengan nomor daftar <?= $row['t_kohirspt'] ?> tanggal <?= date("d-m-Y", strtotime($row['t_tglprosesspt'])) ?> sebagai berikut :</p>
            </td>
        </tr>
    </table>
    <table border="0" style="border-collapse: collapse; border-spacing: 0px;" style="font-size: 12px">
        <tr>
            <td style="vertical-align: top; width: 230px;">Nama Wajib Pajak</td>
            <td style="width: 10px; vertical-align: top; text-align: center;">:</td>
            <td style="vertical-align: top;"><?= $row["t_namawppembeli"] ?></td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Alamat Wajib Pajak</td>
            <td style="vertical-align: top; text-align: center;">:</td>
            <td style="vertical-align: top;"><?= $row["t_alamatwppembeli"] . ' RT ' . $row["t_rtwppembeli"] . ' RW ' . $row['t_rwwppembeli'] . ' KEL ' . $row["t_kelurahanwppembeli"] . ' KEC ' . $row['t_kecamatanwppembeli'] . ' ' . $row['t_kabkotawppembeli'] ?></td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Nama Pelepas Hak</td>
            <td style="vertical-align: top; text-align: center;">:</td>
            <td style="vertical-align: top;"><?= $row["t_namawppenjual"] ?></td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Alamat Pelepas Hak</td>
            <td style="vertical-align: top; text-align: center;">:</td>
            <td style="vertical-align: top;"><?= $row["t_alamatwppenjual"] . ' RT ' . $row["t_rtwppenjual"] . ' RW ' . $row['t_rwwppenjual'] . ' KEL ' . $row["t_kelurahanwppenjual"] . ' KEC ' . $row['t_kecamatanwppenjual'] . ' ' . $row['t_kabkotawppenjual'] ?></td>
        </tr>
        <tr>
            <td style="vertical-align: top;">NOP</td>
            <td style="vertical-align: top; text-align: center;">:</td>
            <td style="vertical-align: top;"><?= $row["t_nopbphtbsppt"] ?></td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Letak Objek Pajak</td>
            <td style="vertical-align: top; text-align: center;">:</td>
            <td style="vertical-align: top;"><?= $row["t_alamatop"] . ' RT ' . $row['t_rtop'] . ' RW ' . $row['t_rwop'] . ' KEL ' . $row['t_kelurahanop'] . ' KEC ' . $row['t_kecamatanop'] . ' ' . $row['t_kabupatenop']  ?></td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Luas Tanah</td>
            <td style="vertical-align: top; text-align: center;">:</td>
            <td style="vertical-align: top;"><?= $row["t_luastanah"] ?></td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Luas Bangunan</td>
            <td style="vertical-align: top; text-align: center;">:</td>
            <td style="vertical-align: top;"><?= $row["t_luasbangunan"] ?></td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Total NJOP</td>
            <td style="vertical-align: top; text-align: center;">:</td>
            <td style="vertical-align: top;"><?= number_format($row["t_grandtotalnjop_aphb"], 0, ',', '.') ?></td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Nilai Transaksi yang Didaftarkan</td>
            <td style="vertical-align: top; text-align: center;">:</td>
            <td style="vertical-align: top;"><?= number_format($row["t_nilaitransaksispt"], 0, ',', '.') ?></td>
        </tr>
    </table>
    <table width="100%" style="border-collapse: collapse; border-spacing: 0px;" style="font-size: 12px">
        <tr>
            <td>
                <p style="text-indent: 30px;">Hasil Verifikasi Nilai Transaksi BPHTB :</p>
            </td>
        </tr>
    </table>

    <table width="100%" style="border-collapse: collapse; border-spacing: 0px;" style="font-size: 12px">
        <tr>
            <td style="width: 20px; vertical-align: top;">1.</td>
            <td colspan="2" style="vertical-align: top;">Verifikasi Administrasi diperoleh nilai wajar : Rp <?= (($row['p_verifikasi_adm_nilai_wajar'] != null) ? number_format($row['p_verifikasi_adm_nilai_wajar'], 0, ',', '.') : '…………………………….....') ?> </td>
        </tr>
        <tr>
            <td></td>
            <td style="width: 149px; vertical-align: top;">Dasar pertimbangan :</td>
            <td><?= (($row['p_verifikasi_adm_pertimbangan'] != null) ? $row['p_verifikasi_adm_pertimbangan'] : '………………………………………………') ?></td>
        </tr>
        <tr>
            <td style="vertical-align: top;">2.</td>
            <td colspan="2" style="vertical-align: top;">Verifikasi Lapangan diperoleh nilai wajar : Rp <?= (($row['p_verifikasi_lap_nilai_wajar'] != null) ? number_format($row['p_verifikasi_lap_nilai_wajar'], 0, ',', '.') : '…………………………….....') ?></td>
        </tr>
        <tr>
            <td></td>
            <td style="vertical-align: top;">Dasar pertimbangan :</td>
            <td style="vertical-align: top;"><?= (($row['p_verifikasi_lap_pertimbangan'] != null) ? $row['p_verifikasi_lap_pertimbangan'] : '………………………………………………') ?></td>
        </tr>
    </table>
    <table width="100%" style="border-collapse: collapse; border-spacing: 0px;" style="font-size: 12px">
        <tr>
            <td>
                <p style="text-indent: 30px;">Demikian Berita Acara ini dibuat dan ditandatangani dalam rangkap 2 (dua) untuk digunakan sebagaimana mestinya.</p>
            </td>
        </tr>
    </table>
    <table width="100%" style="border-collapse: collapse; border-spacing: 0px;" style="font-size: 12px">
        <tr>
            <td colspan="2">
                Tim Penilai BPHTB :
            </td>
        </tr>
        <?php 
        $decodePetugas = json_decode($row["p_petugas_berita_acara"], 1);
        ?>
        <tr>
            <td style="width: 50%;">
                1. <?= ((count($decodePetugas) > 0) ? $decodePetugas[0]["s_namapejabat"] : '………………………………….') ?>
            </td>
            <td><?= ((count($decodePetugas) > 0) ? $decodePetugas[0]["s_jabatanpejabat"] : '…………………………………...') ?></td>
        </tr>
        <tr>
            <td style="width: 50%;">
                2. <?= ((count($decodePetugas) > 1) ? $decodePetugas[1]["s_namapejabat"] : '………………………………….') ?>
            </td>
            <td><?= ((count($decodePetugas) > 1) ? $decodePetugas[1]["s_jabatanpejabat"] : '…………………………………...') ?></td>
        </tr>
        <tr>
            <td style="width: 50%;">
                3. <?= ((count($decodePetugas) > 2) ? $decodePetugas[2]["s_namapejabat"] : '………………………………….') ?>
            </td>
            <td><?= ((count($decodePetugas) > 2) ? $decodePetugas[2]["s_jabatanpejabat"] : '…………………………………...') ?></td>
        </tr>
    </table>
<?php
}
?>