<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<style>
    .datepicker {
        z-index: 1051 !important;
    }
</style>


<div class="content-wrapper">
    <section class="content">
        <div class="box box-primary" style="border: 1px solid #0073b7;">
            <div class="box-header with-border bg-blue-gradient">

                <center>
                    <h3 class="box-title">VALIDASI SSPD BPHTB</h3>
                </center>
                <div class="pull-right">
                    <a href="<?= $this->url('verifikasi_spt') ?>/tambah" class="btn bg-purple btn-sm btn-flat">
                        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Proses Validasi
                    </a>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-success btn-flat btn-sm dropdown-toggle" type="button">
                            <span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Cetak&nbsp;&nbsp;
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul role="menu" class="dropdown-menu pull-right bg-green">
                            <li>
                                <a href="#" style="color: black" onclick="openCetak2()">Cetak Kode Bayar</a>
                            </li>
                            <li>
                                <a href="#" style="color: black" onclick="openCetakDaftarVerifikasi()">Cetak Daftar Validasi</a>
                            </li>
                            <!-- <li>
                                <a href="#" style="color: black" onclick="openCetakDaftarVerifikasiBelumBayar()">Cetak Daftar Belum Bayar</a>  
                            </li> -->
                            <!-- <li>
                                <a href="#" style="color: black" onclick="openCetakDaftarKurangBayar()">Cetak Daftar Kurang Bayar</a>  
                            </li> -->
                            <li>
                                <a href="#" style="color: black" onclick="openCetakPenelitian()">Cetak Berita Acara</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table id="examplevalidasi" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                    <thead>
                        <tr class="bg-blue" style="font-size:10pt; font: bold;">
                            <th>
                                <center>No</center>
                            </th>
                            <th>
                                <center>No <br>Daftar</center>
                            </th>
                            <th>
                                <center>No Validasi</center>
                            </th>
                            <th>
                                <center>Jenis<br>Transaksi</center>
                            </th>
                            <th>
                                <center>NOP</center>
                            </th>
                            <th>
                                <center>Tgl<br>Validasi</center>
                            </th>
                            <th>
                                <center>Nama<br>Wajib Pajak</center>
                            </th>
                            <th>
                                <center>Nama<br>Pelepas</center>
                            </th>
                            <th>
                                <center>Jml<br>Pajak</center>
                            </th>
                            <th>
                                <center>Kode<br>Bayar</center>
                            </th>
                            <th>
                                <center>Status<br>Pendaftaran</center>
                            </th>
                            <th>
                                <center>Status<br>Validasi</center>
                            </th>
                            <th>
                                <center>Pembayaran</center>
                            </th>
                            <th>
                                <center>Perintah</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tfoot>
                </table>
            </div>

        </div>
    </section>
</div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="panel panel-default">

            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK KODE BAYAR</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="kb_periode_spt" value="<?= date('Y') ?>" class="form-control" style="width:100px">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">

                        <label for="inputKey" class="col-md-3"><b>No Daftar <span style="float:right;">:</span></b></label>
                        <div class="col-md-2">
                            <input type="text" id="kb_no_spt1" class="form-control">
                        </div>
                        <label for="inputValue" class="col-md-1">S/d</label>
                        <div class="col-md-2">
                            <input type="text" id="kb_no_spt2" class="form-control">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="kb_tgl_cetak" value="<?= date('d-m-Y') ?>" class="form-control" style="width:100px">
                        </div>
                    </div>
                </div>



                <div class="modal-footer">
                    <div style="float:left;">
                        <button class="btn btn-success" onclick="cetakkodebyr();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF</button>

                    </div>
                    <div style="float:right;">
                        <span style="float:right; "><button class="btn btn-danger" onclick="tutup2()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cetakbuktilengkap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="panel panel-default">

            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK BUKTI LENGKAP</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="periode_spt" value="<?= date('Y') ?>" class="form-control" style="width:100px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">

                        <label for="inputKey" class="col-md-3"><b>No Daftar <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="no_spt1" class="form-control" readonly>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Mengetahui <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <select id="mengetahuilengkap" class="selectpicker" data-live-search="true">
                                <?php foreach ($this->data_mengetahuilengkap as $k => $v) { ?>
                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" name="tgl_cetak" id="tgl_cetak" value="<?= date('d-m-Y') ?>" class="form-control" style="width:100px;">
                        </div>
                    </div>
                </div>



                <div class="modal-footer">
                    <div style="float:left;">
                        <button class="btn btn-success" onclick="cetakbuktilengkap1();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF</button>

                    </div>
                    <div style="float:right;">
                        <span style="float:right; "><button class="btn btn-danger" onclick="tutup()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<div class="modal fade" id="cetakansspd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK SSPD</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Mengetahui <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="hidden" id="no_spt1_sspd" class="form-control">
                            <select id="mengetahuilengkapsspd" class="selectpicker" data-live-search="true">
                                <?php foreach ($this->data_mengetahuilengkap_sspd as $k => $v) { ?>
                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">

                    <div style="float:left;">

                        <button class="btn btn-success" onclick="cetakbuktilengkap1_sspd();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak SSPD [1 CETAKAN]</button>
                        <button class="btn btn-success" onclick="cetakbuktilengkap2_sspd();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak SSPD [6 CETAKAN]</button>
                        <button class="btn btn-success" id="skpdkb_validasikedua" onclick="cetakbuktilengkap1_sspdv2();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF SKPDKB</button>

                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupsspd()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="cetakbuktipenerimaan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK MELENGKAPI BERKAS</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="periode_spt_bukti" value="<?= date('Y') ?>" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" name="tgl_cetak_bukti" id="tgl_cetak_bukti" value="<?= date('d-m-Y') ?>" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>No. Pendaftaran <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="no_spt_bukti1" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Mengetahui <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <select id="mengetahuibphtb" class="selectpicker" data-live-search="true">
                                <?php foreach ($this->data_mengetahuibphtb as $k => $v) { ?>
                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <div style="float:left;">

                        <button class="btn btn-success" onclick="cetakbuktipenerimaan();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF</button>
                        <!--<button class="btn btn-success" id="skpdkb_validasikedua" onclick="cetakbuktilengkap1_sspdv2();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF SKPDKB</button>-->

                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupbukti()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModalDaftarValidasi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK DAFTAR VALIDASI</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="periode_sptverifikasi" value="<?= date('Y') ?>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="tgl_cetakverifikasi" value="<?= date('d-m-Y') ?>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">

                        <label for="inputKey" class="col-md-3"><b>Tanggal Validasi <span style="float:right;">:</span></b></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="tgl_verifikasi1" value="<?= date('d-m-Y') ?>">
                        </div>
                        <label for="inputValue" class="col-md-1">S/d</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="tgl_verifikasi2" value="<?= date('d-m-Y') ?>">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                    <div style="float:left;">

                        <button class="btn btn-success" onclick="cetakDaftarValidasi();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF</button>
                        <!--<button class="btn btn-success" id="skpdkb_validasikedua" onclick="cetakbuktilengkap1_sspdv2();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF SKPDKB</button>-->

                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupCetakDaftarVerifikasi()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalValidasiBelumBayar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK DAFTAR VALIDASI BELUM BAYAR</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="periode_sptverifikasi1" value="<?= date('Y') ?>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="tgl_cetakverifikasi1" value="<?= date('d-m-Y') ?>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">

                        <label for="inputKey" class="col-md-3"><b>Tanggal Validasi <span style="float:right;">:</span></b></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="tgl_verifikasi11" value="<?= date('d-m-Y') ?>">
                        </div>
                        <label for="inputValue" class="col-md-1">S/d</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="tgl_verifikasi22" value="<?= date('d-m-Y') ?>">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                    <div style="float:left;">

                        <button class="btn btn-success" onclick="cetakDaftarVerifikasiBelumBayar();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF</button>
                        <!--<button class="btn btn-success" id="skpdkb_validasikedua" onclick="cetakbuktilengkap1_sspdv2();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF SKPDKB</button>-->

                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupCetakDaftarVerifikasiBelumBayar()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalKurangBayar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK DAFTAR KURANG BAYAR</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="periode_sptverifikasi11" value="<?= date('Y') ?>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="tgl_cetakverifikasi11" value="<?= date('d-m-Y') ?>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">

                        <label for="inputKey" class="col-md-3"><b>Tanggal Validasi <span style="float:right;">:</span></b></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="tgl_verifikasi111" value="<?= date('d-m-Y') ?>">
                        </div>
                        <label for="inputValue" class="col-md-1">S/d</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="tgl_verifikasi222" value="<?= date('d-m-Y') ?>">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                    <div style="float:left;">

                        <button class="btn btn-success" onclick="cetakDaftarKurangBayar();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF</button>
                        <!--<button class="btn btn-success" id="skpdkb_validasikedua" onclick="cetakbuktilengkap1_sspdv2();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF SKPDKB</button>-->

                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupCetakDaftarKurangBayar()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="cetaksuratpenelitian" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> CETAK SURAT PENELITIAN LAPANGAN</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tahun Pajak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="periode_sptpenelitian" value="<?= date('Y') ?>" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="tgl_cetakpenelitian" value="<?= date('d-m-Y') ?>" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Nomor Pendaftaran <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="no_sptpenelitian" class="form-control">
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Pemeriksan Lap <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <select id="mengetahuipenelitian1" class="selectpicker" data-live-search="true">
                                <option value="0">Silahkan Pilih</option>
                                <?php foreach ($this->data_mengetahuipenelitian1 as $k => $v) { ?>
                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>&nbsp; <span style="float:right;">&nbsp;</span></b></label>
                        <div class="col-md-6">
                            <select id="mengetahuipenelitian2" class="selectpicker" data-live-search="true">
                                <option value="0">Silahkan Pilih</option>
                                <?php foreach ($this->data_mengetahuipenelitian2 as $k => $v) { ?>
                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>&nbsp; <span style="float:right;">&nbsp;</span></b></label>
                        <div class="col-md-6">
                            <select id="mengetahuipenelitian3" class="selectpicker" data-live-search="true">
                                <option value="0">Silahkan Pilih</option>
                                <?php foreach ($this->data_mengetahuipenelitian3 as $k => $v) { ?>
                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>&nbsp; <span style="float:right;">&nbsp;</span></b></label>
                        <div class="col-md-6">
                            <select id="mengetahuipenelitian4" class="selectpicker" data-live-search="true">
                                <option value="0">Silahkan Pilih</option>
                                <?php foreach ($this->data_mengetahuipenelitian4 as $k => $v) { ?>
                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Mengetahui I <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <select id="mengetahuipenelitian5" class="selectpicker" data-live-search="true">
                                <option value="0">Silahkan Pilih</option>
                                <?php foreach ($this->data_mengetahuipenelitian5 as $k => $v) { ?>
                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Mengetahui II <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <select id="mengetahuipenelitian6" class="selectpicker" data-live-search="true">
                                <option value="0">Silahkan Pilih</option>
                                <?php foreach ($this->data_mengetahuipenelitian6 as $k => $v) { ?>
                                    <option value="<?= $v['s_idpejabat'] ?>"><?= $v['s_namapejabat'] ?> - <?= $v['s_jabatanpejabat'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div> -->
                <div class="modal-footer">
                    <div style="float:left;">

                        <button class="btn btn-success" onclick="cetaksuratpenelitian();" title="Cetak File PDF"><i class="fa fa-file-pdf-o"></i> Cetak PDF</button>

                    </div>
                    <div style="float:right;">

                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupCetakPenelitian()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    //Tampilkan Modal 
    function showModals(id) {
        waitingDialog.show();
        clearModals();


        // Untuk Eksekusi Data Yang Ingin di Edit atau Di Hapus 
        if (id) {
            $.ajax({
                type: "POST",
                url: "<?= $this->url() ?>/crud",
                dataType: 'json',
                data: {
                    id: id,
                    type: "get"
                },
                success: function(res) {
                    waitingDialog.hide();
                    setModalData(res);
                }
            });


        }
        // Untuk Tambahkan Data
        else {
            //jQuery('#myModals').modal('show');
            $("#myModals").modal("show");
            $("#myModalLabel").html("Buat Input");
            $("#type").val("new");
            waitingDialog.hide();
        }

        $(".nav-md").removeAttr("style");
        $(".nav-md").removeAttr("padding-right")
    }

    //Data Yang Ingin Di Tampilkan Pada Modal Ketika Di Edit 
    function setModalData(data) {

        var test = data.s_golonganpejabat;
        if (test != '' && parseInt(test)) {
            document.getElementById('s_golonganpejabat').selectedIndex = test;
            $('select[name=s_golonganpejabat]').val(test);
            $('.selectpicker').selectpicker('refresh');
        }

        $("#myModalLabel").html("Edit " + data.t_namawppembeli);
        $("#id").val(data.t_idspt);
        $("#type").val("edit");

        $("#t_namawppembeli").val(data.t_namawppembeli);
        $("#t_nikwppembeli").val(data.t_nikwppembeli);
        $("#s_nippejabat").val(data.s_nippejabat);

        $("#myModals").modal("show");

        $(".nav-md").removeAttr("style");
        $(".nav-md").removeAttr("padding-right")
    }

    //Submit Untuk Eksekusi Tambah/Edit/Hapus Data 
    function submitUser() {
        var formData = $("#formUser").serialize();
        waitingDialog.show();
        $.ajax({
            type: "POST",
            url: "<?= $this->url() ?>/crud",
            dataType: 'json',
            data: formData,
            success: function(data) {

                dTable.ajax.reload(); // Untuk Reload Tables secara otomatis

                waitingDialog.hide();

                alert(data.ok);
            }
        });

        $(".nav-md").removeAttr("style");
        $(".nav-md").removeAttr("padding-right")
    }

    //Hapus Data
    function deleteUser(id) {
        clearModals();
        $.ajax({
            type: "POST",
            url: "<?= $this->url() ?>/crud",
            dataType: 'json',
            data: {
                id: id,
                type: "get"
            },
            success: function(data) {
                $("#removeWarning").show();
                $("#myModalLabel").html("Delete Nama WP");
                $("#id").val(data.t_idspt);
                $("#type").val("delete");
                $("#t_namawppembeli").val(data.t_namawppembeli).attr("disabled", "true");
                $("#t_nikwppembeli").val(data.t_namawppembeli).attr("disabled", "true");
                $("#s_nippejabat").val(data.s_nippejabat).attr("disabled", "true");

                var test = data.s_golonganpejabat;
                if (test != '' && parseInt(test)) {
                    document.getElementById('s_golonganpejabat').selectedIndex = test;
                    $('select[name=s_golonganpejabat]').val(test);
                    $('.selectpicker').selectpicker('refresh').attr("disabled", "true");
                } else {
                    $('.selectpicker').selectpicker('refresh').attr("disabled", "true");
                }


                $("#myModals").modal("show");
                document.getElementById('button').innerHTML = "HAPUS";
                waitingDialog.hide();


            }
        });

        $(".nav-md").removeAttr("style");
        $(".nav-md").removeAttr("padding-right")
    }

    //Clear Modal atau menutup modal supaya tidak terjadi duplikat modal
    function clearModals() {
        $("#removeWarning").hide();
        $("#id").val("").removeAttr("disabled");
        $("#t_namawppembeli").val("").removeAttr("disabled");
        $("#t_nikwppembeli").val("").removeAttr("disabled");
        $("#s_nippejabat").val("").removeAttr("disabled");
        $("#s_golonganpejabat").val("").removeAttr("disabled");
        $("#type").val("");


        $(".nav-md").removeAttr("style");
        $(".nav-md").removeAttr("padding-right")
    }
</script>


<script type="text/javascript" language="javascript">
    var dTable;
    // #examplevalidasi adalah id pada table 
    $(document).ready(function() {
        dTable = $('#examplevalidasi').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            "responsive": false,
            "sAjaxSource": "<?= $this->url() ?>/dataGrid", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 10,
            "aLengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "aaSorting": [
                [0, "asc"]
            ],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            "scrollX": true,
            "oLanguage": {
                "sEmptyTable": "No incompleted albums found!", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "<center>Tidak ada data</center>",
                "sEmptyTable": "<center>Tidak ada data</center>",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "Tidak ada data",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>", //<img src='path/to/ajax-loader.gif'>
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",
                "oPaginate": {
                    "sFirst": "First",
                    "sLast": "Last",
                    "sNext": ">>",
                    "sPrevious": "<<"
                } //pagination
            },

            "columnDefs": [{
                "orderable": false,
                "targets": [0, 8, 13],
                "searchable": false
            }, ]
        });

        //=========================== buat pencarian dibawah aktif
        $('th', dTable.table().footer()).each(function() {
            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });

            var title = $('th').eq($(this).index()).text();
            //$(this).html('<input type="text" placeholder="Search ' + title + '" />');
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nodaftar') {
                $(this).html('<center><input type="text" placeholder="No Daftar" class="pencariantable" style="width:60px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'novalidasi') {
                $(this).html('<center><input type="text" placeholder="No Validasi" class="pencariantable" style="width:60px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jenistransaksi') {
                $(this).html('<select class="pencariantable" style="width:100px;text-size:8pt;">' +
                    '<option value="">-- Pilih --</option>'
                    <?php
                    foreach ($datajenistransaksi as $row) {
                        echo '+ \'<option value="' . $row["s_idjenistransaksi"] . '">' . $row["s_namajenistransaksi"] . '</option>\'';
                    }
                    ?> +
                    '</select>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tglvalidasi') {
                $(this).html('<center><input type="text" placeholder="tgl validasi" id="tgl_daftar_cari" class="pencariantable" style="width:85px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'nop') {
                $(this).html('<center><input type="text" placeholder="nop" class="pencariantable" style="text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namawajibpajak') {
                $(this).html('<center><input type="text" placeholder="nama" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'namapelepas') {
                $(this).html('<center><input type="text" placeholder="nama pelepas" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'kodebayar') {
                $(this).html('<center><input type="text" placeholder="kode" class="pencariantable" style="width:70px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'jmlpajak') {
                $(this).html('');
                //$(this).html('<center><input type="text" placeholder="jenis" class="pencariantable" style="width:100px;text-size:8pt;" /></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'statuspendaftaran') {
                $(this).html('<center><select class="pencariantable" style="width:65px;text-size:8pt;"><option value="">Pilih</option><option value="1">Lengkap</option><option value="2">Tidak Lengkap</option></select></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'statusvalidasi') {
                $(this).html('<center><select class="pencariantable" style="width:65px;text-size:8pt;"><option value="">Pilih</option><option value="1">Tervalidasi</option><option value="2">Tidak Lengkap</option></select></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'pembayaran') {
                $(this).html('<center><select class="pencariantable" style="width:65px;text-size:8pt;"><option value="">Pilih</option><option value="TRUE">SUDAH</option><option value="FALSE">BELUM</option></select></center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            } else {
                $(this).html('<input type="text" placeholder="Cari ' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />'); //style="width:100px;"
            }
        });

        // Apply the search
        dTable.columns().eq(0).each(function(colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });

        dTable.columns().eq(0).each(function(colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function() {
                dTable
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });

        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');
        //=========================== end buat pencarian dibawah aktif

        $('#examplevalidasi').removeClass('display').addClass('table table-striped table-bordered');

    });
</script>



<script type="text/javascript">
    function openCetak2() {
        jQuery('#myModal2').modal('show');
    }

    function tutup2() {
        jQuery('#myModal2').modal('hide');
        jQuery("#kb_no_spt1,#kb_no_spt2").val('');
    }

    function cetakkodebyr() {
        if (($("#kb_no_spt1").val() == '') || ($("#kb_no_spt1").val() == null) || ($("#kb_no_spt2").val() == '') || ($("#kb_no_spt2").val() == null)) {
            alert("Masukkan no daftar");
            return false;
        } else {
            window.open('<?= $this->url() ?>/cetakkodebayar?no_spt1=' + $("#kb_no_spt1").val() + "&no_spt2=" + $("#kb_no_spt2").val() + "&periode_spt=" + $("#kb_periode_spt").val() + "&t_objekspt=1" + "&tgl_cetak=" + $("#kb_tgl_cetak").val());
        }
    }

    function openCetak(a) {
        jQuery('#cetakbuktilengkap').modal('show');
        jQuery("#no_spt1").val(a);
    }
    // kosik coy error ki ra gelem tampil nang webview
    function openCetakSSPD(a, b) {
        jQuery('#cetakansspd').modal('show');
        jQuery("#no_spt1_sspd").val(a);

        if ((b == null) || (b == 0)) {
            jQuery('#skpdkb_validasikedua').hide();
        } else {
            jQuery('#skpdkb_validasikedua').show();
        }
    }

    function tutupsspd() {
        jQuery('#cetakansspd').modal('hide');
        jQuery("#no_spt1_sspd,#mengetahuilengkapsspd").val('');
    }

    function tutup() {
        jQuery('#cetakbuktilengkap').modal('hide');
        jQuery("#no_spt1").val('');
    }

    function cetakbuktilengkap1() {
        window.open('<?= $this->url() ?>/cetakbuktipenerimaanvalidasi?no_spt1=' + $("#no_spt1").val() + "&periode_spt=" + $("#periode_spt_bukti").val() + "&t_objekspt=1" + "&tgl_cetak=" + $("#tgl_cetak").val() + "&mengetahuibphtb=" + $("#mengetahuilengkap").val());
    }

    function cetakbuktilengkap1_sspd() {
        window.open('<?= $this->url('verifikasi_spt') ?>/cetaksspdbphtb?&action=cetaksspd&t_idspt=' + $("#no_spt1_sspd").val() + "&mengetahuibphtbsspd=" + $("#mengetahuilengkapsspd").val() + "&cetakversi=1");
    }

    function cetakbuktilengkap2_sspd() {
        window.open('<?= $this->url('verifikasi_spt') ?>/cetaksspdbphtb?&action=cetaksspd&t_idspt=' + $("#no_spt1_sspd").val() + "&mengetahuibphtbsspd=" + $("#mengetahuilengkapsspd").val() + "&cetakversi=3");
    }

    function cetakbuktilengkap1_sspdv2() {
        window.open('<?= $this->url('verifikasi_spt') ?>/cetaksspdbphtb?&action=cetaksspd&t_idspt=' + $("#no_spt1_sspd").val() + "&mengetahuibphtbsspd=" + $("#mengetahuilengkapsspd").val() + "&cetakversi=2");
    }

    function openCetakBukti(a) {
        jQuery('#cetakbuktipenerimaan').modal('show');
        jQuery("#no_spt_bukti1").val(a);
    }

    function tutupbukti() {
        jQuery('#cetakbuktipenerimaan').modal('hide');
        jQuery("#no_spt_bukti1").val('');
    }

    function cetakbuktipenerimaan() {
        window.open('<?= $this->url() ?>/cetakbuktipenerimaanvalidasi?no_spt1=' + $("#no_spt_bukti1").val() + "&periode_spt=" + $("#periode_spt_bukti").val() + "&t_objekspt=1" + "&tgl_cetak=" + $("#tgl_cetak_bukti").val() + "&mengetahuibphtb=" + $("#mengetahuibphtb").val());
    }

    function openCetakDaftarVerifikasi() {
        jQuery('#myModalDaftarValidasi').modal('show');
    }

    function tutupCetakDaftarVerifikasi() {
        jQuery('#myModalDaftarValidasi').modal('hide');
    }

    function cetakDaftarValidasi() {
        window.open('<?= $this->url() ?>/cetakdaftarverifikasi?periode_spt=' + $("#periode_spt").val() + "&tgl_cetak=" + $("#tgl_cetakverifikasi").val() + "&tgl_verifikasi1=" + $("#tgl_verifikasi1").val() + "&tgl_verifikasi2=" + $("#tgl_verifikasi2").val());
    }

    function openCetakDaftarVerifikasiBelumBayar() {
        jQuery('#myModalValidasiBelumBayar').modal('show');
    }

    function tutupCetakDaftarVerifikasiBelumBayar() {
        jQuery('#myModalValidasiBelumBayar').modal('hide');
    }

    function cetakDaftarVerifikasiBelumBayar() {
        window.open('<?= $this->url() ?>/cetakdaftarbelumbayar?periode_spt=' + $("#periode_spt").val() + "&tgl_cetak=" + $("#tgl_cetakverifikasi1").val() + "&tgl_verifikasi11=" + $("#tgl_verifikasi11").val() + "&tgl_verifikasi22=" + $("#tgl_verifikasi22").val());
    }

    function openCetakDaftarKurangBayar() {
        jQuery('#myModalKurangBayar').modal('show');
    }

    function tutupCetakDaftarKurangBayar() {
        jQuery('#myModalKurangBayar').modal('hide');
    }

    function cetakDaftarKurangBayar() {
        window.open('<?= $this->url() ?>/cetakdaftarkurangbayar?periode_spt=' + $("#periode_spt").val() + "&tgl_cetak=" + $("#tgl_cetakverifikasi11").val() + "&tgl_verifikasi111=" + $("#tgl_verifikasi111").val() + "&tgl_verifikasi222=" + $("#tgl_verifikasi222").val());
    }

    function openCetakPenelitian(a) {
        jQuery('#cetaksuratpenelitian').modal('show');
        jQuery("#no_sptpenelitian").val(a);
    }

    function tutupCetakPenelitian() {
        jQuery('#cetaksuratpenelitian').modal('hide');
        jQuery("#no_sptpenelitian").val('');
    }

    function cetaksuratpenelitian() {
        if ($("#no_sptpenelitian").val() == "") {
            alert("Masukan Nomor Daftar");
        } else if ($("#periode_sptpenelitian").val() == "") {
            alert("Masukan Tahun Pendaftaran");
        } else {
            window.open('<?= $this->url() ?>/cetaksuratpenelitian?no_sptpenelitian=' + $("#no_sptpenelitian").val() + "&periode_sptpenelitian=" + $("#periode_sptpenelitian").val() + "&tgl_cetakpenelitian=" + $("#tgl_cetakpenelitian").val() + "&mengetahuipenelitian1=" + $("#mengetahuipenelitian1").val() + "&mengetahuipenelitian2=" + $("#mengetahuipenelitian2").val() + "&mengetahuipenelitian3=" + $("#mengetahuipenelitian3").val() + "&mengetahuipenelitian4=" + $("#mengetahuipenelitian4").val() + "&mengetahuipenelitian5=" + $("#mengetahuipenelitian5").val() + "&mengetahuipenelitian6=" + $("#mengetahuipenelitian6").val());
        }
    }

    jQuery("#t_periodespt").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#t_tglprosesspt").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    $("#periode_sptverifikasi").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    $("#periode_statusberkas").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetakverifikasi").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_cetakstatusberkas").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_cetakpendaftaran1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakpendaftaran2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakstatusberkas1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });
    jQuery("#tgl_cetakstatusberkas2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#kb_tgl_cetak").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#kb_periode_spt").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#periode_spt_bukti").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetak_bukti").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_cetak").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#periode_sptverifikasi").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetakverifikasi").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_verifikasi1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_verifikasi2").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#periode_sptverifikasi1").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetakverifikasi1").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_verifikasi11").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    jQuery("#tgl_verifikasi22").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });


    jQuery("#periode_sptpenelitian").datepicker({
        format: 'yyyy',
        viewMode: "years",
        minViewMode: "years"
    });

    jQuery("#tgl_cetakpenelitian").datepicker({
        format: 'dd-mm-yyyy',
        language: 'id'
    });

    function hapus(a) {

        if (confirm("Anda yakin akan menghapus data ini?")) {
            $.ajax({
                type: "POST",
                url: "<?= $this->url() ?>/hapus/" + a,

                success: function() {
                    $('#examplevalidasi').DataTable().ajax.reload();
                }
            });
        }
    }

    function openUpdateKodebayar(a, b) {
        $("#modal-update-kodebayar").modal("show");
        $("#idPembayaranSpt").val(a);
        $("#kodebayarBankSppt").val(b);
    }

    function closeUpdateKodebayar() {
        $("#modal-update-kodebayar").modal("hide");
        $("#idPembayaranSpt").val("");
        $("#kodebayarBankSppt").val("");
        $("#ketUpdateKodebayar").val("");
    }

    function btnUpdateKodebayar() {
        // console.log($("#idPembayaranSPt").val());
        // console.log($("#kodebayarBankSppt").val());
        // console.log($("#ketUpdateKodebayar").val());

        if ($("#idPembayaranSpt").val() == "" || $("#kodebayarBankSppt").val() == "" || $("#ketUpdateKodebayar").val() == "") {
            alert("Data kodebayar dan keterangan perlu diisi");
        } else {
            $.post("<?= $this->url() ?>/update-kodebayar", {
                t_idpembayaranspt: $("#idPembayaranSpt").val(),
                t_kodebayarbanksppt: $("#kodebayarBankSppt").val(),
                t_ket_update_kodebayar: $("#ketUpdateKodebayar").val()
            }).then(function(res) {
                $('#examplevalidasi').DataTable().ajax.reload();
                closeUpdateKodebayar();
            });
        }
    }
</script>

<div class="modal fade" id="modal-update-kodebayar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0073b7; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <center>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-print"></i> UPDATE KODEBAYAR</h4>
                </center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-12">Apakah anda ingin mengperbarui <b style="color: blue;">kodebayar/NTPD</b> ?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Kodebayar/NTP <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="hidden" id="idPembayaranSpt" />
                            <input type="text" class="form-control" id="kodebayarBankSppt" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Keterangan <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <textarea class="form-control" id="ketUpdateKodebayar"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="float:left;">
                        <button class="btn btn-success" onclick="btnUpdateKodebayar();"><i class="fa fa-save"></i> SIMPAN</button>
                    </div>
                    <div style="float:right;">
                        <span style="float:right; "><button class="btn btn-danger" onclick="closeUpdateKodebayar()" title="TUTUP"><i class="fa fa-close"></i></button></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>