<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">SETTING FORMAT PESAN</h3>
                    </div>
                    <div class="box-body">
                        <div class="row margin">
                            <div class="col-sm-12">
                                <a href="<?= $this->url() ?>/tambah" class="btn bg-purple btn-sm margin">Tambah</a>
                                <div style=" overflow: auto;">
                                    <div class="col-lg-12 col-sm12">
                                        <table class="table table-hover table-bordered">
                                            <thead style="font-size: 12px">
                                                <tr class="bg-blue">  
                                                    <th class="text-center" style="width: 32%">
                                                        Jenis Pesan
                                                    </th>           
                                                    <th class="text-center" style="width: 45%">
                                                        Isian Pesan
                                                    </th>  
                                                    <th class="text-center">
                                                        Edit/Hapus
                                                    </th>       
                                                </tr>
                                            </thead>
                                            <td>
                                                <input type="text" id="s_kodehaktanah" name="s_kodehaktanah" class="form-control" onkeyup="calldatagrid()">
                                            </td>
                                            <td>
                                                <input type="text" id="s_namahaktanah" name="s_namahaktanah" class="form-control" onkeyup="calldatagrid()">
                                            </td>
                                            <td>
                                            </td>
                                            <tbody id="body_grid">
                                            </tbody>
                                            <tfoot>              
                                                <tr>
                                                    <td colspan="12" class="text-center">
                                                        <div class="row">
                                                            <div class="col-sm-4 text-left">Jumlah Baris Ditampilkan: <input type="text" id="rows" style="width: 20%" class="text-center" value="10"></div>
                                                            <div class="col-sm-3">
                                                                <a href="#" onclick="calldatagrid(1);
                                                                        return false;"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>

                                                                <input type="text" id="page" value="1" style="width: 20%" class="text-center">

                                                                <a href="#" onclick="calldatagrid(2);
                                                                        return false;"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                                                            </div>
                                                            <div class="col-sm-5 text-right">
                                                                <p>Jumlah Data <span id="total_data"></span>&nbsp;Jumlah Halaman <span id="total_halaman"></span></p>                                    
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>               
<script type="text/javascript">
    $(function () {
        calldatagrid();
    });

    function hapus(a) {
        var tanya = confirm("Hapus data ini?")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapus/' + a);
            calldatagrid();
        }
        calldatagrid();
    }

    function calldatagrid(direction) {
        $.get('<?= $this->url() ?>/dataGrid',
        {
            direction: direction,
            page: $("#page").val(),
            rows: $("#rows").val(),
        }, function (data) {
            var aa = JSON.parse(data)
            $("#body_grid").html(aa.grid);
            $("#rows").val(aa.rows);
            $("#page").val(aa.page);
            $("#total_data").html(": " + aa.count);
            $("#total_halaman").html(": " + aa.total_halaman);
        });
    }
</script>
