<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambah');
$frm->setAttribute('id', "formtambah");
$frm->prepare();
?>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">SETTING FORMAT PESAN</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row margin">
                        <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title"><span style="font-size: 10pt">Setting Dokumen Tanah</span></h3></div>
                                    <div class="panel-body">
                                    <?= $this->form()->openTag($frm) ?>
                                        <fieldset>
                                            <legend>Jenis Format Pesan</legend>                    
                                            <div>
                                                <?= $this->formHidden($frm->get('s_id_format_pesan')) ?>  
                                                <?= $this->formRow($frm->get('s_id_jns_pesan')) ?>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Isian Pesan</legend>                    
                                            <div>
                                                <?= $this->formTextArea($frm->get('s_isian_pesan')) ?>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                        <div align="right">
                                            <br>
                                                    <?= $this->formInput($frm->get('simpan')) ?> <a href="<?= $this->url('setting_dokumen_tanah_bphtb') ?>" class="btn btn-success">Kembali</a>
                                                </div>
                                        </fieldset>
                                        
                                        <?= $this->form()->closeTag($frm) ?>

                                    </div>        
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>