<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><span style="font-size: 8pt">Navigasi Setting</span></h3></div>
        <div class="panel-body">
            <?= $this->sidemenu ?>
        </div>        
    </div>    
</div>
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><span style="font-size: 10pt">Setting Kecamatan</span></h3></div>
        <div class="panel-body">
            <div align="right" class="well-small">
                <a href="<?= $this->url() ?>/tambah" class="btn btn-success">Tambah</a> 

                <?php if ($sinkrondata_btn){?>                       
                <a href="<?= $this->url() ?>/sinkrondata" class="btn btn-success">Sinkron Data</a> 
                <?php }?>                       
            </div>
            <div style=" overflow-x: auto;">
                <table id="listkecamatan"></table>
                <div id="pagerkecamatan"></div>
            </div>
        </div>        
    </div>    
</div>
<script type="text/javascript">
    function hapus(a) {
        var aa = confirm('Hapus data ini?');
        if (aa) {
            $.post('<?= $this->url() ?>/hapus', {s_idkecamatan: a}, function (data) {
                $("#listkecamatan").jqGrid().trigger("reloadGrid");
            });
        }
    }

    $(function () {
        $("#listkecamatan").jqGrid({
            url: '<?= $this->url() ?>/dataGrid',
            colNames: ["Kode Kecamatan", "Nama Kecamatan", "Pilihan"],
            colModel: [
                {name: "s_kodekecamatan", align: 'center'},
                {name: "s_namakecamatan", align: 'left'},
                {name: "Pilihan", align: 'center', formatter: 'button'}
            ],
            pager: "#pagerkecamatan",
            autowidth: true,
            height: '100%',
            rowNum: 10,
            rowList: [10, 20, 30],
            sortname: "s_kodekecamatan",
            sortorder: "asc",
            viewrecords: true,
            gridview: true,
            autoencode: true,
            caption: "DAFTAR KECAMATAN"
        });
    });
</script>
