<style type="text/css">

    /*@page { margin: 180px 50px; }
            #header { position: fixed; left: 0px; top: -150px; right: 0px; height: 50px; background-color: white; text-align: center; }
            #header img { position: absolute;
                          float:left;

            }
            #footer { position: fixed; left: 0px; bottom: -180px; right: 0px; height: 50px; background-color: white; }
            #footer .page:after { content: counter(page, upper-roman); }

    */
    .kotak{

        border: 1px black solid;

    }
    .tengah {
        float: none;
        margin: 0 auto;
    }

    .border_putus {
        border-top: 1px black dashed;
    }

    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }

    .font_besar {
        font-size: 12pt;
    }

    .font_kecil {
        font-size: 10pt;
    }

    .font_lima {
        font-size: 7pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }  

    .font_delapan {
        font-size: 8pt;
    }    

    .font_sembilan {
        font-size: 9pt;
    }    
    /*@page {
        margin-top: 1.5em;  
        margin-left: 3.8em;          
    }*/
</style>

<div style="page-break-after: always;width: 100%;" >
    <table width="100%">
            <tr>
                <td width="10%"><center>
                    <img width="50" title="LOGO <?= $data_pemda->s_namakabkot; ?>" src="http://localhost/<?= $this->basePath(); ?>/<?= $data_pemda->s_logo ?>"/>
					</center>
                </td>
                <td width="80%"><center>
                    <b style="font-size: 16px">PEMERINTAH <?= strtoupper($data_pemda->s_namakabkot); ?></b><br>
                    <b style="font-size: 16px"><?= strtoupper($data_pemda->s_namainstansi); ?> (<?= strtoupper($data_pemda->s_namasingkatinstansi); ?>)</b><br>
                    <b style="font-size: 12px"><?= strtoupper($data_pemda->s_alamatinstansi); ?> Telp/Fax <?= $data_pemda->s_notelinstansi ?>, <?= $data_pemda->s_namaibukotakabkot ?> <?= $data_pemda->s_kodepos ?></b>
					</center>
                </td>
                <td width="10%">
                </td>
            </tr>
        </table>
        <hr>
        <br><br>
      <table align="center" width="100%">
        <tr>
            <td>
                Nomor
            </td>
            <td style="width: 1%;">
                :
            </td>
            <td colspan="20">
              
            </td>
        </tr>
        <tr>
            <td>
                Lampiran
            </td>
            <td style="width: 1%;">
                :
            </td>
            <td colspan="20">
              1 (satu) set
            </td>
        </tr>
        <tr>
            <td>
                Hal
            </td>
            <td style="width: 1%;">
                :
            </td>
            <td colspan="20">
              Permohonan Penelitian BPHTB
            </td>
        </tr>
       
        <br>
      </table>
   
         <table align="right">
                    <tr>
                        <td align="left">Kepada Yth. </td>
                    </tr>
                    <tr>
                        <td align="Left">Kepala Bidang Pendapatan BPPKAD <br>
                                         Kabupaten Blora</td>
                    </tr>
                    <tr>
                        <td align="left">Di</td>
                    </tr>
                    <tr>
                        <td align="left"><?= strtoupper($data_pemda->s_namaibukotakabkot); ?> </td>
                    </tr>
                   
                </table>
        <br><br><br><br><br><br><br><br><br>
    
        <table align="center" width="100%">
        <tr>
            <td colspan="20">
             Dengan Hormat,
            </td>  
        </tr>
        <tr>
            <td colspan="20">
                Sehubungan dengan proses penelitian SSPD BPHTB yang sedang berjalan, kami memandang perlu untuk  <br>
                dilakukan penelitian lapangan. Maka dengan ini kami mengajukan permintaan untuk dapat  dilakukan pe- <br>
             nelitian lapangan terhadap permohonan penelitian SSPD BPHTB sebagai berikut: 
            </td>  
        </tr>
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td colspan="5">
                Nomor Daftar
            </td>
            <td style="width: 1%;">
                :
            </td>
            <td colspan="10">
              <?= strtoupper($datapendaftaran['t_kohirspt']) ?>  
            </td>
        </tr>
        <tr>
            <td colspan="5">
                Nama Wajib Pajak
            </td>
            <td style="width: 1%;">
                :
            </td>
            <td colspan="10">
              <?= strtoupper($datapendaftaran['t_namawppembeli']) ?>  
            </td>
        </tr>
        <tr>
            <td colspan="5">
                NIK
            </td>
            <td style="width: 1%;">
                :
            </td>
            <td colspan="10">
              <?= strtoupper($datapendaftaran['t_nikwppembeli']) ?>  
            </td>
        </tr>
         <tr>
            <td colspan="5">
                NOP
            </td>
            <td style="width: 1%;">
                :
            </td>
            <td colspan="10">
              <?= strtoupper($datapendaftaran['t_nopbphtbsppt']) ?>  
            </td>
        </tr>
        
        <tr>
            <td colspan="5">
                Alamat Objek Pajak
            </td>
            <td style="width: 1%;">
                :
            </td>
            <td colspan="10">
                RT/W<?= strtoupper($datapendaftaran['t_rtop']) ?>/ <?= strtoupper($datapendaftaran['t_rwop']) ?><br>
                <?= strtoupper($datapendaftaran['t_alamatop']) ?>  
            </td>
        </tr>
       
     
        </table>
    <br>
        <table align="center" width="100%">
        <tr>
            <td colspan="20">
            Atas perhatian dan kerjasamanya kami ucapkan terimakasih.
            </td>
            
        </tr>
        </table>
    <br><br>
    <br><br>
    <table align="right">
                    <tr>
                        <td align="left">Blora, <?= date('d-m-Y') ?> </td>
                    </tr>
                    <tr>
                        <td align="center">KEPALA UPT PELAYANAN PAJAK DAERAH</td>
                    </tr>
                    <tr>
                        <td align="left">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="left">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="left">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">ADISIHNYO</td>
                    </tr>
                    <tr>
                        <td align="center">PENATA</td>
                    </tr>
                    <tr>
                        <td align="center">NIP. 19670424 198511 1 001</td>
                    </tr>
                </table>
   <br><br><br>
    <br><br><br>
    <br><br><br>
   
</div>
