<table width="100%" style="border-spacing: 0" class="font_sembilan">
    <tr style="text-align: center;" class="font_delapan">
        <td colspan="16">
            <strong>DAFTAR SSPD BPHTB YANG TELAH VALIDASI BELUM BAYAR</strong>
        </td>
    </tr>
    <tr style="text-align: center;" class="font_tujuh">
        <td colspan="16">
            Periode : <?= $tgl_periode1 ?> s/d <?= $tgl_periode2 ?>
        </td>
    </tr>
    <tr style="text-align: left;" class="font_tujuh">
        <td colspan="16">
            Tanggal Cetak &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <?= $tgl_cetak ?>
        </td>
    </tr>
    
    <tr style="text-align: center">
        <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan border_kiri">
            No.
        </td>
        <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
            No. Validasi
        </td>
        <td rowspan="1" colspan="3" class="border_atas border_bawah border_kanan">
            Informasi WP
        </td>
         <td rowspan="1" colspan="3" class="border_atas border_bawah border_kanan">
            Informasi Pajak
        </td>
        <td rowspan="2" colspan="1" class="border_atas border_bawah border_kanan">
            Total BPHTB 
        </td>
<!--        <td rowspan="3" class="border_atas border_bawah border_kanan">
            NOP
        </td>-->
      </tr>

       <tr style="text-align: center"> 
        <td rowspan="1" colspan="1" class=" border_atas border_bawah border_kanan" align="center">
           NIK
        </td>

        <td rowspan="1" colspan="1" class=" border_atas border_bawah border_kanan" align="center">
           Nama
           <br>Alamat</br>
           <br>Telp</br>
        </td>
          <td rowspan="1" colspan="1" class="border_atas border_bawah border_kanan">
            NPWP
        </td>
      
        <td rowspan="1" colspan="1" class="border_atas border_bawah border_kanan">
            Harga Transaksi
        </td>
        <td rowspan="1" colspan="1" class="border_atas border_bawah border_kanan">
            NPOP
        </td>
        <td rowspan="1" colspan="1" class="border_atas border_bawah border_kanan">
            NPOPTKP
        </td>
        
       
    </tr>
   
    <?php
  
    $counter = 1;
    foreach ($this->data_Verifikasi as $k => $v) {
        ?>
        <tr>
            <td class="border_kiri border_bawah border_kanan" align="center">
                <?= $counter ?>
            </td>
            <td class="border_bawah border_kanan" align="center">
                <?php
                $tanggal_bayar = explode('-', $v['t_tglverifikasispt']);
                $tahun = $tanggal_bayar[0];
                $bulan = $tanggal_bayar[1];
                $tanggal = $tanggal_bayar[2];
                ?>
                <?php //str_pad($v['t_kohirspt'], 4, '0', STR_PAD_LEFT) ?>
                <?= str_pad($v['t_kohirketetapanspt'], 7, '0', STR_PAD_LEFT) ?>
            </td>
             <td class="border_bawah border_kanan" align="left">
                 <?= strtoupper($v['t_nikwppembeli']) ?>
            </td>
            <td class="border_bawah border_kanan" align="left">
                 <?= strtoupper($v['t_namawppembeli']) ?>
                <br> <?= $v['t_alamatwppembeli'] ?> </br>
                <br> <?= $v['t_telponwppembeli'] ?> </br>
            </td>
        
             <td class="border_bawah border_kanan" align="left">
                <?= strtoupper($v['t_npwpwppembeli']) ?> 
            </td>
          
            <td class="border_bawah border_kanan" align="right">
                <?= number_format($v['t_nilaitransaksispt'], 0, ',', '.'); ?>
            </td>
              <td class="border_bawah border_kanan" align="right">
                <?php
                $npop = $v['t_grandtotalnjop']- $v['t_nilaipembayaranspt'];
                ?>
                <?= number_format($npop, 0, ',', '.'); ?>
            </td>
             <td class="border_bawah border_kanan" align="right">
                <?= number_format($v['t_potonganspt'], 0, ',', '.') ?>
            </td>
           <td class="border_bawah border_kanan" align="right">
                <?= number_format($v['t_totalspt'], 0, ',', '.'); ?>
 
            <?php
            $counter++;
        }
        ?>
</table>

<style type="text/css">

    .border_atas {
        border-top: 1px black solid;
    }

    .border_kiri {
        border-left: 1px black solid;
    }

    .border_kanan {
        border-right: 1px black solid;
    }

    .border_bawah {
        border-bottom: 1px black solid;
    }

    .font_besar {
        font-size: 12pt;
    }

    .font_kecil {
        font-size: 10pt;
    }

    .font_lima {
        font-size: 7pt;
    }

    .font_tujuh {
        font-size: 7pt;
    }  

    .font_delapan {
        font-size: 8pt;
    }    

    .font_sembilan {
        font-size: 9pt;
    }    


    @page {
        margin-top: 1.5em;  
        margin-left: 3.8em;          
    }
</style>