<link href="<?= $this->basePath(); ?>/public/tablebos/css/fr_modif.css" media="screen" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="<?= $this->basePath(); ?>/public/uploadmen/internet/css/blueimp-gallery.min.css">
<style>
    .datepicker {
        z-index: 1051 !important;
    }
</style>
<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambah');
$frm->setAttribute('id', "formtambah");
$frm->prepare();
?>


<div class="content-wrapper">
    <section class="content">


        <div class="box box-success" style="border: 1px solid #00a65a;">
            <div class="box-header with-border bg-green-gradient">
                <center>
                    <h3 class="box-title">VERIFIKASI BERKAS</h3>
                </center>

            </div>
            <p style="height: 10px;"><a style="float:right; margin-right: 5px; margin-bottom: 5px;" href="<?= $this->url() ?>" class="btn btn-sm btn-danger"><i class="fa fa-fw fa-undo"></i> KEMBALI</a></p>
            <div class="box-body">
                <div>
                    <!--class="row margin"-->
                    <!--<div class="col-md-12">-->
                    <div class="stepwizard col-md-12">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step">
                                <ul class="easyWizardSteps" style="text-align: center;">
                                    <li><a href="#step-1" type="button" class="btn btn-facebook btn-circle">1</a>
                                        <p><b style="color: #fff">Informasi Wajib Pajak</b></p>
                                    </li>

                                    <li><a href="#step-2" type="button" class="btn btn-default btn-circle " disabled="disabled">2</a>
                                        <p><b style="color: #fff">Persyaratan</b></p>
                                    </li>

                                </ul>
                                <div class="progress center-block" style="margin-top: -20px;">
                                    <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 13%">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <?= $this->form()->openTag($frm) ?>
                    <div class="row setup-content" id="step-1">
                        <div class="col-sm-12">
                            <div class="col-md-12">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tanggal Verifikasi</label>
                                        <div class="col-sm-3">
                                            <?= $this->formInput($frm->get('t_tglverifikasiberkas')) ?>
                                            <input name="t_idjenistransaksi" id="t_idjenistransaksi" type="hidden">
                                        </div>
                                        <label class="col-sm-2 control-label" style="display: none;">Kode Bayar Bank</label>
                                        <div class="col-sm-2" style="display: none;">
                                            <?= $this->formRow($frm->get('t_kodebayarbanksppt')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">No. Pendaftaran</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kohirpembayaran')) ?>
                                            <?= $this->formInput($frm->get('t_idpembayaranspt')) ?>
                                            <?= $this->formInput($frm->get('t_idspt')) ?>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalCari"><i class="fa fa-fw fa-search"></i> CARI</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">NIK</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_nikwppembeli')) ?>
                                        </div>
                                        <!--</div>
                                    <div class="form-group">-->
                                        <label class="col-sm-2 control-label">NPWP</label>
                                        <div class="col-sm-3">
                                            <?= $this->formRow($frm->get('t_npwpwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nama WP</label>
                                        <div class="col-sm-6">
                                            <?= $this->formRow($frm->get('t_namawppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Alamat</label>
                                        <div class="col-sm-6">
                                            <?= $this->formRow($frm->get('t_alamatwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">RT</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_rtwppembeli')) ?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">RW</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_rwwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kelurahan/Desa</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kelurahanwppembeli')) ?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kecamatan</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kecamatanwppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kab./Kota</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kabkotawppembeli')) ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kode Pos</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_kodeposwppembeli')) ?>
                                        </div>
                                        <label for="inputType" class="col-md-2">No. Telp.</label>
                                        <div class="col-md-2">
                                            <?= $this->formRow($frm->get('t_telponwppembeli')) ?>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-2">
                                            <?= $this->formRow($frm->get('t_emailwppembeli')) ?>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <button class="btn btn-success nextBtn pull-right" type="button"><i class="fa fa-arrow-circle-right"></i> SELANJUTNYA</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-2">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div id="persyaratannya">
                                            <?= $this->formRow($frm->get('t_persyaratan')) ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id="persyaratannyaverifikasi">
                                            <?= $this->formRow($frm->get('t_persyaratanverifikasi')) ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" id="fileuploadcoy">
                                <br>
                                <div style="border: 1px solid #00a65a;">
                                    <center><b style="font-size: 14px;">FILE SYARAT DI UPLOAD</b></center>
                                    <label id="filependukungtidaktampil" class="filependukungtidaktampil" style="display: none; margin-left: 40px;">DOWNLOAD FILE BUKTI</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="margin-top: 20px;">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Pilihan Format Pesan</label>
                                    <div class="col-sm-6">
                                        <?= $this->formSelect($frm->get('s_id_format_pesan')) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" id="inputKetBerkasManual" style="display: none;">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Keterangan Verifikasi Berkas</label>
                                    <div class="col-sm-6">
                                        <?= $this->formTextArea($frm->get('t_ket_verifikasi_berkas')) ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-12" style="text-align: right">
                                    <br>
                                    <button class="btn btn-success prevBtn pull-left" type="button"><i class="fa fa-arrow-circle-left"></i> SEBELUMNYA</button>
                                    <input type="submit" id="validasibutton" onclick="this.disabled = true;
                                                    forms[0].submit();" value="PROSES VALIDASI" class="btn nextBtn btn-info pull-right">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <?= $this->form()->closeTag($frm) ?>
            <!--</div>-->
        </div>
</div>
</div>

</section>
</div><!-- /.content-wrapper -->

<div class="modal fade" id="loadingsimpanvalidasi" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="background:transparent;">
    <center><img style="background:transparent;" src='<?= $this->basePath(); ?>/public/tablebos/img/loading77.gif'></center>
</div>


<style>
    /*.paijo:nth-child(2n+3) {background: #CCC}*/
    #datatunggakan {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #bbb;
        overflow-x: auto;
        display: block;
    }

    .tablecoy td,
    th {
        border-top: 1px solid #ddd;
        padding: 4px 8px;
    }

    .tablecoy tbody tr:nth-child(even) td {
        background-color: #eee;
    }
</style>
<!-- Modal Tunggakan PBB -->
<div class="modal fade" id="ModalTunggakanPBB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Peringatan</h4>
            </div>
            <div class="modal-body" id="dialog_pendataan" title="Daftar Pendataan">
                <div id="datatunggakan"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="tutupmodaltunggakan()">Tutup</button>
            </div>
        </div>
    </div>
</div>


<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<style>
    /*.btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
      }
      .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
      }
      .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
      }*/

    .easyWizardSteps {
        list-style: none;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-bottom: 0px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        background: #00c0ef;
        /*#00a65a; ijo #00acd6; biru tua*/
    }

    .easyWizardSteps li.current {
        color: #38464A;
        background: #fff;

    }

    .easyWizardSteps li {
        /*font-size: 18px;*/
        font-family: "Open Sans";
        display: inline-block;
        padding: 10px 20px;
        color: #eee;
        /*border-right: 1px solid rgba(0,0,0,0.1);*/
        margin-right: 0px;


    }

    /*.easyWizardSteps li.current a {
        border: 2px solid #68C39F;
        color: #68C39F;
    }*/

    .easyWizardSteps li a {
        font-size: 15px;
        /*padding: 2px 9px;
        border-radius: 50%;
        margin-top: -5px;
        color: #eee;
        font-weight: 700;
        margin-right: 5px;
        border: 2px solid #eee;*/
    }


    /*
        .stepwizard-step p {
            margin-top: 10px;
            margin-bottom: 40px;
        }
        .stepwizard-row {
            display: table-row;
        }
        .stepwizard {
            display: table;
            width: 95%;
            position: relative;
        }
        .stepwizard-step button[disabled] {
            opacity: 1 !important;
            filter: alpha(opacity=100) !important;
        }
        .stepwizard-row:before {
            top: 22px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 100%;
            height: 2px;
            
            background-color: blue;
            z-order: 0;
        }
        .stepwizard-step {
            display: table-cell;
            text-align: center;
            position: relative;
        }
        .btn-circle {
            width: 45px;
            height: 45px;
            text-align: center;
            padding: 10px 0;
            font-size: 14px;
            line-height: 1.428571429;
            border-radius: 22.5px;
        }
        .form-group {
            margin: 0px;
        }
    
        .setup-content{
            
        }*/
</style>


<script type="text/javascript" language="javascript">
    $('#validasibutton').click(function() {
        jQuery('#loadingsimpanvalidasi').modal('show');
        $('#loadingsimpanvalidasi').modal({
            backdrop: 'static',
            keyboard: false
        })
    });
</script>

<script type="text/javascript">
    jQuery("#t_tglverifikasiberkas").datepicker({
        format: 'dd-mm-yyyy',
        startDate: '01-05-2015',
        endDate: '0d',
        autoclose: true,
        daysOfWeekDisabled: '06',
        language: 'id'
    });

    function next(a) {
        jQuery('#tabs a[href=#' + a + ']').tab('show');
    }

    function clearForm() {
        $('#t_idspt').val("");
        $('#t_kohirpembayaran').val("");
        $('#s_namanotaris').val("");
        $('#t_idnotarisspt').val("");
        //data wp
        $('#t_namawppembeli').val("");
        $('#t_nikwppembeli').val("");
        $('#t_npwpwppembeli').val("");
        $('#t_alamatwppembeli').val("");
        $('#t_rtwppembeli').val("");
        $('#t_rwwppembeli').val("");
        $('#t_kecamatanwppembeli').val("");
        $('#t_kelurahanwppembeli').val("");
        $('#t_kabkotawppembeli').val("");
        $('#t_telponwppembeli').val("");
        $('#t_kodeposwppembeli').val("");
        //data nop 
        $('#t_nopbphtbsppt').val("");
        $('#t_thnsppt').val("");
        $('#t_alamatop').val("");
        $('#t_rtop').val("");
        $('#t_rwop').val("");
        $('#t_kelurahanop').val("");
        $('#t_kecamatanop').val("");
        $('#t_kabupatenop').val("");
        $('#t_nosertifikathaktanah').val("");
        $('#t_totalspt').val("");
        $('#t_luastanah').val("");
        $('#t_luasbangunan').val("");
        $('#t_totalnjoptanah').val("");
        $('#t_totalnjopbangunan').val("");
        $('#t_njoptanah').val("");
        $('#t_njopbangunan').val("");
        $('#t_grandtotalnjop').val("");
        $('#t_nilaitransaksispt').val("");
        $('#t_idjenistransaksi').val("");
        $('#t_idjenishaktanah').val("");
        $('#t_potonganspt').val("");
        $('#t_nilaipembayaranspt').val("");
        //data penjual
        $('#t_namawppenjual').val("");
        $('#t_nikwppenjual').val("");
        $('#t_npwpwppenjual').val("");
        $('#t_alamatwppenjual').val("");
        $('#t_rtwppenjual').val("");
        $('#t_rwwppenjual').val("");
        $('#t_kelurahanwppenjual').val("");
        $('#t_kecamatanwppenjual').val("");
        $('#t_kabkotawppenjual').val("");
        $('#t_kodeposwppenjual').val("");
        $('#t_telponwppenjual').val("");
        //data pembayaran
        $('#t_idpembayaranspt').val("");
        $('#t_tanggalpembayaran').val("");
        $('#t_statusbayarspt').val("");
    }

    function pilihPendataanSspdBphtb(a) {
        $.post('<?= $this->url() ?>/pilihPendataanSspdBphtb', {
            t_idspt: a
        }, function(data) {
            var aa = JSON.parse(data);
            $('#t_idspt').val(aa.t_idspt);
            $('#t_idnotarisspt').val(aa.t_idnotarisspt);
            $('#t_kohirpembayaran').val(aa.t_kohirspt);
            $('#s_namanotaris').val(aa.s_namanotaris);
            //data wp
            $('#t_namawppembeli').val(aa.t_namawppembeli);
            $('#t_nikwppembeli').val(aa.t_nikwppembeli);
            $('#t_npwpwppembeli').val(aa.t_npwpwppembeli);
            $('#t_alamatwppembeli').val(aa.t_alamatwppembeli);
            $('#t_rtwppembeli').val(aa.t_rtwppembeli);
            $('#t_rwwppembeli').val(aa.t_rwwppembeli);
            $('#t_kecamatanwppembeli').val(aa.t_kecamatanwppembeli);
            $('#t_kelurahanwppembeli').val(aa.t_kelurahanwppembeli);
            $('#t_kabkotawppembeli').val(aa.t_kabkotawppembeli);
            $('#t_telponwppembeli').val(aa.t_telponwppembeli);
            $('#t_kodeposwppembeli').val(aa.t_kodeposwppembeli);
            //data nop 
            $('#t_nopbphtbsppt').val(aa.t_nopbphtbsppt);
            $('#t_thnsppt').val(aa.t_thnsppt);
            $('#t_alamatop').val(aa.t_alamatop);
            $('#t_rtop').val(aa.t_rtop);
            $('#t_rwop').val(aa.t_rwop);
            $('#t_kelurahanop').val(aa.t_kelurahanop);
            $('#t_kecamatanop').val(aa.t_kecamatanop);
            $('#t_kabupatenop').val(aa.t_kabupatenop);
            $('#t_luastanah').val(aa.t_luastanah);
            $('#t_njoptanah').val(aa.t_njoptanah);
            $('#t_totalnjoptanah').val(aa.t_totalnjoptanah);
            $('#t_luasbangunan').val(aa.t_luasbangunan);
            $('#t_njopbangunan').val(aa.t_njopbangunan);
            $('#t_totalnjopbangunan').val(aa.t_totalnjopbangunan);
            $('#t_grandtotalnjop').val(aa.t_grandtotalnjop);
            $('#t_nilaitransaksispt').val(aa.t_nilaitransaksispt);
            $('#s_permetertanah').val(aa.s_permetertanah);
            $('#s_namajenistransaksi').val(aa.s_namajenistransaksi);
            $('#s_namahaktanah').val(aa.s_namahaktanah);
            $('#t_nosertifikathaktanah').val(aa.t_nosertifikathaktanah);
            $('#t_persenbphtb').val(aa.t_persenbphtb);
            //data perhitungan bphtb            
            //var npopkp = aa.t_totalspt / 5 * 100;

            //================== untuk aphb
            $('#t_tarif_pembagian_aphb_kali').val(aa.t_tarif_pembagian_aphb_kali);
            $('#t_tarif_pembagian_aphb_bagi').val(aa.t_tarif_pembagian_aphb_bagi);
            $('#t_grandtotalnjop_aphb').val(aa.t_grandtotalnjop_aphb);
            var t_tarif_pembagian_aphb_kali = $('#t_tarif_pembagian_aphb_kali').val();
            var t_tarif_pembagian_aphb_bagi = $('#t_tarif_pembagian_aphb_bagi').val();
            if ((t_tarif_pembagian_aphb_kali == "") || (t_tarif_pembagian_aphb_kali == null) || (t_tarif_pembagian_aphb_kali == 0) || (t_tarif_pembagian_aphb_bagi == "") || (t_tarif_pembagian_aphb_bagi == null) || (t_tarif_pembagian_aphb_bagi == 0)) {
                $('#t_tarif_pembagian_aphb_kali').val(0);
                $('#t_tarif_pembagian_aphb_bagi').val(0);
                $('#t_grandtotalnjop_aphb').val(0);

                $("#pembagian_aphb_1").hide();
                $("#pembagian_aphb_2").hide();
                $("#pembagian_aphb_3").hide();
                $("#pembagian_aphb_4").hide();
                $("#pembagian_aphb_5").hide();
                $("#pembagian_aphb_6").hide();
                $("#pembagian_aphb_7").hide();
                $("#pembagian_aphb_8").hide();
                $("#t_tarif_pembagian_aphb_kali").hide();
                $("#t_tarif_pembagian_aphb_bagi").hide();
                $("#t_grandtotalnjop_aphb").hide();

            } else {
                $('#t_tarif_pembagian_aphb_kali').val(aa.t_tarif_pembagian_aphb_kali);
                $('#t_tarif_pembagian_aphb_bagi').val(aa.t_tarif_pembagian_aphb_bagi);
                $('#t_grandtotalnjop_aphb').val(aa.t_grandtotalnjop_aphb);

                $("#pembagian_aphb_1").show();
                $("#pembagian_aphb_2").show();
                $("#pembagian_aphb_3").show();
                $("#pembagian_aphb_4").show();
                $("#pembagian_aphb_5").show();
                $("#pembagian_aphb_6").show();
                $("#pembagian_aphb_7").show();
                $("#pembagian_aphb_8").show();
                $("#t_tarif_pembagian_aphb_kali").show();
                $("#t_tarif_pembagian_aphb_bagi").show();
                $("#t_grandtotalnjop_aphb").show();
            }
            //================== end untuk aphb
            $('#t_idjenistransaksi').val(aa.t_idjenistransaksi);
            var t_idjenistransaksi = aa.t_idjenistransaksi;
            if ((t_idjenistransaksi == 4) || (t_idjenistransaksi == 5)) {
                $("#potongan_waris_hibah1").show();
                $("#potongan_waris_hibah2").show();
                $("#potongan_waris_hibah3").show();
                $("#potongan_waris_hibah4").show();
                $('#t_potongan_waris_hibahwasiat').show();
                $('#t_potongan_waris_hibahwasiat').val(aa.t_potongan_waris_hibahwasiat);
            } else {
                $("#potongan_waris_hibah1").hide();
                $("#potongan_waris_hibah2").hide();
                $("#potongan_waris_hibah3").hide();
                $("#potongan_waris_hibah4").hide();
                $("#t_potongan_waris_hibahwasiat").hide();
            }

            $('#t_npopspt').val(aa.npop);
            $('#t_potonganspt').val(aa.t_potonganspt);
            $('#t_npopkpspt').val(aa.npopkp);
            $('#t_totalspt').val(aa.t_totalspt);
            //data penjual
            $('#t_namawppenjual').val(aa.t_namawppenjual);
            $('#t_nikwppenjual').val(aa.t_nikwppenjual);
            $('#t_npwpwppenjual').val(aa.t_npwpwppenjual);
            $('#t_alamatwppenjual').val(aa.t_alamatwppenjual);
            $('#t_rtwppenjual').val(aa.t_rtwppenjual);
            $('#t_rwwppenjual').val(aa.t_rwwppenjual);
            $('#t_kelurahanwppenjual').val(aa.t_kelurahanwppenjual);
            $('#t_kecamatanwppenjual').val(aa.t_kecamatanwppenjual);
            $('#t_kabkotawppenjual').val(aa.t_kabkotawppenjual);
            $('#t_kodeposwppenjual').val(aa.t_kodeposwppenjual);
            $('#t_telponwppenjual').val(aa.t_telponwppenjual);
            //data pembayaran
            $('#t_idpembayaranspt').val(aa.t_idpembayaranspt);
            //data persyaratan            
            $('#persyaratannya').html(aa.t_persyaratan);
            $('#persyaratannyaverifikasi').html(aa.t_persyaratanverifikasi);
            $('#analisishargaacuan').html(aa.analisishargaacuan);
            $('#historynjoptanah').val(aa.historynjoptanah);
            $('#analisisharganjoptanah').html(aa.analisisharganjoptanah);

            if (aa.t_tanggalpembayaran) {
                $('#t_tanggalpembayaran').val(xx);
            } else {
                $('#t_tanggalpembayaran').val("-");
            }

            if (aa.t_statusbayarspt == true) {
                $('#t_statusbayarspt').val("Sudah Dibayarkan");
            } else {
                $('#t_statusbayarspt').val("Belum Dibayarkan");
            }

            jQuery('#ModalCari').modal('hide');

            document.getElementById("filependukungtidaktampil").style.display = 'block';
            document.getElementById("filependukungtidaktampil").innerHTML = '' + aa.fileuploadcoy + '';

            $("#s_id_format_pesan").val(aa.s_id_format_pesan);
            $('#t_emailwppembeli').val(aa.t_emailwppembeli);
            // $('#t_emailwppenjual').val(aa.t_emailwppenjual);
            comboFormatPesan();
        });
    }

    function tutupmodaltunggakan() {
        jQuery('#ModalTunggakanPBB').modal('hide');
    }

    //  ==============================================
    //  Form Wizard
    $(document).ready(function() {

        /*$('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
         var $total = navigation.find('li').length;
         var $current = index+1;
         var $percent = ($current/$total) * 100;
         $('#rootwizard .progress-bar').css({width:$percent+'%'});
         }});*/

        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn'),
            allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function(e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-facebook').addClass('btn-default');
                $item.addClass('btn-facebook');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }

            // tambahi dewe loading e coy
            var nextStepWizard = $(this).text();

            if (nextStepWizard == 1)
                $('.stepwizard-step .progress-bar').animate({
                    width: '19%'
                }, 0);
            if (nextStepWizard == 2)
                $('.stepwizard-step .progress-bar').animate({
                    width: '34%'
                }, 0);
            if (nextStepWizard == 3)
                $('.stepwizard-step .progress-bar').animate({
                    width: '49%'
                }, 0);
            if (nextStepWizard == 4)
                $('.stepwizard-step .progress-bar').animate({
                    width: '65%'
                }, 0);
            if (nextStepWizard == 5)
                $('.stepwizard-step .progress-bar').animate({
                    width: '80%'
                }, 0);
            if (nextStepWizard == 6)
                $('.stepwizard-step .progress-bar').animate({
                    width: '100%'
                }, 0);
            // end tambahi dewe   

        });

        allPrevBtn.click(function() {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepWizard.trigger('click');
        });

        allNextBtn.click(function() {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url'],textarea, select"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-facebook').trigger('click');
    });
    //  centang semua
    function modify_boxes(total_boxes) {
        if (document.forms[0].CheckAll.checked) {
            to_be_checked = true;
        } else {
            to_be_checked = false;
        }
        for (i = 0; i < total_boxes; i++) {
            if (to_be_checked) {
                document.forms[0].t_persyaratanverifikasi[i].checked = true;
            } else {

                document.forms[0].t_persyaratanverifikasi[i].checked = false;
            }
        }
    }
</script>

<script src="<?= $this->basePath(); ?>/public/uploadmen/internet/js/jquery.blueimp-gallery.min.js"></script>

<script>
    function comboFormatPesan() {
        if ($("#s_id_format_pesan").val() == "3") {
            $("#inputKetBerkasManual").css("display", "block");
        } else {
            $("#inputKetBerkasManual").css("display", "none");
        }
    }
</script>
<?= $this->partial('bphtb/verifikasi-berkas/modal/modal-pendaftaran.phtml') ?>